<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Un Email Responsive</title>
        <style type="text/css">
            body {margin: 0; padding: 0; min-width: 100%!important;}
            .content {width: 100%; max-width: 800px;}
        </style>
    </head>
    {% block subject %}
        {% trans %}mails.externalInvitation.subject_begin{% endtrans %} {{ invitingOrganization.commname|raw }} - {% trans %}mails.externalInvitation.subject_end{% endtrans %}
    {% endblock %}

    {% block body %}
    <body bgcolor="white">
        <table width="100%" bgcolor="white" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="content" align="left" cellpadding="0" cellspacing="0" border="0">
                        <td>
                            <p>{% trans %}mails.hello{% endtrans %} {{ recipient.firstname }},</p>
                            <p>{% trans %}mails.externalInvitation.message1{% endtrans %} {{ invitingOrganization.commname|raw }} {% trans %}mails.externalInvitation.message2{% endtrans %}</p>
                            <p style="text-align: center"><a href="{{ url('definePassword', {'token' : token }) }}" target="_blank"><button style="background-color: #26a69a; height: 40px; line-height: 40px; text-decoration: none; color: #fff; text-align: center; border: none;">{% trans %}mails.externalInvitation.button_text{% endtrans %}</button></a></p>
                            <p>{% trans %}mails.externalInvitation.message3{% endtrans %}</p>
                            <p>{% trans %}mails.see_you_soon{% endtrans %}</p><br>
                        </td>
                        </tr>
                        <tr>
                            <td>
                                {% if company_name == 'Serpico' %}<p>{% trans %}mails.signature_team{% endtrans %}{#{% else %}{% trans %}mails.signature_team_for_client{% endtrans %}#}</p>{% endif %}
                                {% if company_name == 'Serpico' %}<a href="{{ company_website }}" style="width: 60px">{% endif %}<img src="cid:logo_img" alt="logo {{ company_name }}" style="width: {{ logo_width_px }}px">{% if company_name == 'Serpico' %}</a>{% endif %}
                                <p><strong>{% if company_name == 'Serpico' %}{% trans %}mails.serpico_motto{% endtrans %}{% else %}{{ company_name }}{% endif %}</strong><br>{{ address }} | {{ zipcode_city }}</p>
                                {% if company_name == 'Serpico' %}<p>{{ phone }}</p>{% endif %}
                                {% if company_name == 'Serpico' %}<img src="{{ incubator_logo }}" alt="logo Lux Future Lab" style="width: 80px">{% endif %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
    {% endblock %}
</html>