{% set criterion_model = criterion.vars.data %}
{% set cname_name = criterion_model ? criterion_model.name : "__cname_name__" %}

<div id="criterionTarget_{{s}}_{{c}}" class="modal">
  <div class="modal-title">
    <h5>{{ 'create_parameters.define_objective.modal_title'|trans }}</h5>
  </div>
  <div class="modal-content">
    <div style="display:none;">
      <input type="checkbox" id="defineCriterionTarget_{{s}}_{{c}}" class="filled-in" {{ criterion_model and criterion_model.target ? "checked" }}>
      <label for="defineCriterionTarget_{{s}}_{{c}}">{{ 'create_parameters.define_objective.define_target_label'|trans }}</label>
    </div>

    <div class="target">
      {{ form_label(criterion.targetValue) }}
      <div class="target-slider" style="margin-top:10px;"></div>
      <div class="taret-slider-range-value center" style="font-size:1.2rem;padding-top: 5px"></div>
      {{ form_widget(criterion.targetValue) }}
      {{ form_errors(criterion.targetValue) }}
    </div>

    {{ form_label(criterion.comment) }}
    {{ form_widget(criterion.comment) }}
    {{ form_errors(criterion.comment) }}
  </div>
  <div class="modal-footer">
    <a class="btn-flat modal-close">
      {{ 'criteria.diffToSimilar.cancel'|trans }}
    </a>
    <a class="btn modal-close">
      {{ 'criteria.diffToSimilar.accept'|trans }}
    </a>
  </div>
</div>
