{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}stages.page_title{% endtrans %}
{% endblock %}

{% set elmt = global.request.get('elmt') %}

{% block css %}
    <!-- CSS NoUISlider-->
    <link rel="stylesheet" href="{{ asset('css/nouislider.css') }}">

    <style>
        #hiddenul {
            display: none;
        }

        form[name="add_stage_form"] {
            display: flex;
            flex-flow: column;
            flex-grow: 1;
        }

        form[name="add_stage_form"] > .row {
            margin-left: 0;
            margin-right: 0;
        }

        .action-buttons {
            margin-top: auto;
        }

        .mode > div {
            display: flex;
            flex-flow: row;
        }

        .mode > div > label {
            width: 100%;
        }
    </style>

    <script type="text/javascript">
        var url="{{ url('saveActivityStages',{'elmt' : elmt, 'elmtId' : activity.id, 'actionType' : 'fwd'}) }}";
        var durl="{{ url('ajaxStageDelete',{'elmt' : elmt, 'stgId' : 0}) }}";
        var lg = '{% trans %}curr_language{% endtrans %}';
        {% if elmt == 'activity' and activity.template is null %}
        var sturl = '{{ url('saveTemplate',{'actStep' : 'stages', 'elmtId' : activity.id}) }}';
        {% endif %}
    </script>
{% endblock %}


{% block pagename %}
    <span>{{ activity.name|slice(0, 13) ~ '...' }}</span>
    <span>{% trans %}stages.mobile_header_description{% endtrans %}</span>
{% endblock %}
{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% set nbCompletedStages = 0 %}

{% block content %}

<section>
    <div style="position:relative;min-height:50px">
        <div class="progress" style="margin-bottom:0px">
            <div class="determinate col s10 m10" style="width: 25%; left:25%"></div>
        </div>
        <div class="col s12 activity-elements">
            <a class="btn btn-flat activity-element-unselected parameter-button" href="{{ url('oldActivityDefinition',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 0%; color: #26a69a">1 - {% trans %} activity_elements.parameters {% endtrans %}</a>
            <a class="btn stage-button" href="{{ url('activityStages',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 25%">2 - {% trans %} activity_elements.stages {% endtrans %}</a>
            <a class="btn btn-flat activity-element-unselected criterion-button" href="{{ url('activityCriteria',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 50%; color: #26a69a">3 - {% trans %} activity_elements.criteria {% endtrans %}</a>
            <a class="btn btn-flat activity-element-unselected participant-button" href="{{ url('activityParticipants',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 75%; color: #26a69a">4 - {% trans %} activity_elements.participants {% endtrans %}</a>
        </div>
    </div>
    {% if elmt == 'template' %}
        <div>
            <ul class="flex-center orange-text" style="justify-content:center;font-size: 1.4rem">
                <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="{% trans %}tooltip.activity.save_template{% endtrans %}">restore_page</i>
                <span>{% trans %}activity_elements.template_edition_mode{% endtrans %}</span>
            </ul>
        </div>
    {% endif %}

    <div class="center activity-title"><h4>{{ activity.name }}</h4></div>

    {% if elmt == 'activity' %}
        {% set completedStages = activity.completedStages %}

        {% if completedStages is not null %}
            {% set nbCompletedStages = activity.completedStages|length %}
            {% set completedStagesWeight = 0 %}
            {% for completedStage in completedStages %}
                {% set completedStagesWeight = completedStagesWeight + completedStage.weight %}
            {% endfor %}

            <div class="row center" style="margin:15px 0px 15px 0px;">
                {% if activity.completedStages|length == 1 %}
                    <i class="far fa-2x fa-calendar-check"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbCompletedStages }}</span> {% trans %} stages.graded_single_stage_msg{% endtrans %} <span id="totalCompletedWeight">{{ (100 * completedStagesWeight)|round(0) }}</span> %</span>
                {% elseif activity.completedStages|length > 1 %}
                    <i class="far fa-2x fa-calendar-check"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbCompletedStages }}</span> {% trans %} stages.graded_multiple_stages_msg{% endtrans %} <span id="totalCompletedWeight">{{ (100 * completedStagesWeight)|round(0) }}<span> %</span>
                {% endif %}
            </div>
        {% endif %}

        {% set nbUnmodifiableStages = activity.activeStages|length - activity.activeModifiableStages|length %}

        {% if nbUnmodifiableStages > 0 %}
            <div class="row center" style="margin:15px 0px 15px 0px;">
            {% if nbUnmodifiableStages == 1 %}
                <i class="fa fa-2x fa-info-circle"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbUnmodifiableStages }}</span> {% trans %} stages.unmodifiable_single_stage_msg{% endtrans %}</span>
            {% elseif nbUnmodifiableStages > 1 %}
                <i class="fa fa-2x fa-info-circle"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbUnmodifiableStages }}</span> {% trans %} stages.unmodifiable_multiple_stages_msg{% endtrans %}</span>
            {% endif %}
            {% if activity.activeModifiableStages|length > 1 %}
                <div>{% trans %} stages.sum_modifiable_stages_explanation{% endtrans %}</div>
            {% endif %}

            </div>
        {% endif %}



    {% endif %}

    {{ form_start(form) }}
    <ul class="stages" data-prototype="{% filter escape %}{% include 'prototype_stage.twig' with { 'item': form.activeModifiableStages.vars.prototype } %}{% endfilter %}">
        {% for key, stage in form.activeModifiableStages %}
            <li class="stage">
                <ul class="flex-center row" style="justify-content: space-between;">
                    <li class="stage-title">
                        <h4> {% trans %} stages.stage.title {% endtrans %} {{ nbCompletedStages + 1 + key }}</h4>
                    </li>

                    {% if form.activeModifiableStages|length > 1 %}
                        {#
                    <div class="col s3">
                        <a href="#" class="waves-effect waves-light btn insert-btn">Insert a stage</a>
                    </div>#}
                        <li style="margin-left:auto;"><a href="#deleteStage" class="waves-effect waves-light red accent-4 btn white-text modal-trigger" data-sid="{{ activity.activeStages[key].id }}">{% trans %}stages.delete_stage_btn{% endtrans %}</a></li>
                    {% endif %}
                </ul>
                <div class="row">
                    <div class="input-field col s8">
                        {{ form_label(stage.name) }}
                        {{ form_widget(stage.name) }}
                        {{ form_errors(stage.name) }}
                    </div>
                    <div class="input-field col s4 weight">
                        {{ form_label(stage.weight) }}
                        <div class="grade-slider" style="margin-top:10px;"></div>
                        <div class="grade-slider-range-value center" style="font-size:1.2rem;padding-top: 5px"></div>
                        {{ form_widget(stage.weight, {'value' : 100 * (stage.vars.data.weight / sumWeightModifiableStages) }) }}
                        {{ form_errors(stage.weight) }}
                    </div>
                    <div class="mode col s12 m12">
                        {{ form_label(stage.mode) }}
                        {{ form_widget(stage.mode) }}
                        {{ form_errors(stage.mode) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_label(stage.startdate) }}
                        {{ form_widget(stage.startdate) }}
                        {{ form_errors(stage.startdate) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_label(stage.enddate) }}
                        {{ form_widget(stage.enddate) }}
                        {{ form_errors(stage.enddate) }}
                    </div>
                </div>
                <div class="row">
          
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="row action-buttons">
        <div class="button-field btn-act-left">
            {{ form_row(form.previous) }}
        </div>
        <div class="button-field btn-act-center">
            {{ form_row(form.back) }}
        </div>
        <div class="button-field btn-act-right">
            {{ form_row(form.next) }}
        </div>
    </div>
    <ul id="hiddenul" class="collection">
        <li class="collection-item"></li>
        <br><br>
    </ul>

    {{ form_rest(form) }}
    {{ form_end(form) }}

</section>


{% if elmt == 'activity' and activity.template is null %}
    <div id="addTemplate" class="modal">
        {{ form_start(createTemplateForm) }}
        <div class="modal-content">
        <h5>{% trans %}templates.modal_create.title_msg{% endtrans %}</h5>
        <p>{% trans %}templates.modal_create.main_msg{% endtrans %}</p>
            {{ form_label(createTemplateForm.name) }}
            {{ form_widget(createTemplateForm.name) }}
            {{ form_errors(createTemplateForm.name) }}
        </div>

        <div class="modal-footer action-buttons">
            <div class="button-field">
                <a class=" modal-action modal-close submit-button waves-effect waves-red red btn-large">{% trans %}activities.create.delegate_back_btn_msg{% endtrans %}</a>
            </div>
            <div class="button-field">
                {{ form_row(createTemplateForm.submit) }}
            </div>
        </div>
        {{ form_rest(createTemplateForm) }}
        {{ form_end(createTemplateForm) }}
    </div>
    <div id="templateCreationSuccess" class="modal">
        <div class="modal-content">
            <h4>{% trans %}participants.createTemplate.modal_title{% endtrans %}</h4>
            <p>{% trans %}participants.createTemplate.modal_msg{% endtrans %} <span></span></p>
        </div>
        <div class="modal-footer action-buttons">
            <div class="button-field">
                <a class="waves-effect waves-green btn-large modal-close">{% trans %}participants.missing_leader.btn_msg{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endif %}

{% if activity.activeModifiableStages|length > 1 %}
    <div id="deleteStage" class="modal">
        <div class="modal-title">
            <p><h5>{% trans %}stages.deleteStage.modal_title{% endtrans %}</h5></p>
        </div>
        <div class="modal-content">
            <p>{% trans %}stages.deleteStage.modal_content{% endtrans %}</p>
        </div>
        <div class="modal-footer">
            <a class="btn waves-effect waves-light modal-close remove-stage">{% trans %}stages.deleteStage.accept{% endtrans %}</a>
            <a class="waves-effect waves-light modal-close btn-flat red-text">{% trans %}stages.deleteStage.cancel{% endtrans %}</a>
        </div>
    </div>
{% endif %}

<!-- Modal Structure -->
<div class="modal" id="errorModal">
    <div class="modal-content">
        <h4>
            {% trans %}stages.error_modal.title{% endtrans %}</h4>
        <p class="error-msg"></p>
    </div>
    <div class="modal-footer">
        <a class=" modal-action modal-close submit-button waves-effect waves-green btn-large" href="#!">
            OK</a>
    </div>
</div>

{% include "modals/stages_have_invalid_genddate.html.twig" with { inParametersPage: false } %}
{% endblock %}


{% block javascripts %}
  <script src="{{ asset('js/nouislider.js') }}"></script>
  <script src="{{ asset('js/activity_stage.js') }}"></script>
    {% if elmt == 'activity' and activity.template is null %}
        <script>
            $(function(){
                $('.add-template').on('click',function(e){
                    e.preventDefault();
                    var tmp = $('form[name="add_stage_form"]').serialize().split('&');
                    var shift = ($('.stage').length > 1)
                    for (var i = 0; i < $('.stage').length ; i++) {

                        tmp[1 + shift + 6 * i] = tmp[1 + shift + 6 * i].split('=');
                        tmp[2 + shift + 6 * i] = tmp[2 + shift + 6 * i].split('=');
                        tmp[3 + shift + 6 * i] = tmp[3 + shift + 6 * i].split('=');
                        tmp[4 + shift + 6 * i] = tmp[4 + shift + 6 * i].split('=');
                        tmp[1 + shift + 6 * i][1] = $($("#" + $('.dp-start')[i].id)).pickadate('picker').get('select', 'dd/mm/yyyy');
                        tmp[2 + shift + 6 * i][1] = $($("#" + $('.dp-end')[i].id)).pickadate('picker').get('select', 'dd/mm/yyyy');
                        tmp[3 + shift + 6 * i][1] = $($("#" + $('.dp-gstart')[i].id)).pickadate('picker').get('select', 'dd/mm/yyyy');
                        tmp[4 + shift + 6 * i][1] = $($("#" + $('.dp-gend')[i].id)).pickadate('picker').get('select', 'dd/mm/yyyy');
                        tmp[1 + shift + 6 * i] = tmp[1 + shift + 6 * i].join('=');
                        tmp[2 + shift + 6 * i] = tmp[2 + shift + 6 * i].join('=');
                        tmp[3 + shift + 6 * i] = tmp[3 + shift + 6 * i].join('=');
                        tmp[4 + shift + 6 * i] = tmp[4 + shift + 6 * i].join('=');
                    }
                    tmp = tmp.join('&');
                    $.post(sturl,tmp+'&'+$(this).closest('form').serialize())
                        .done(function(data){
                            try{
                                data = JSON.parse(data);
                            }catch(err){

                            }
                            $.each($('.red-text'),function(){
                                $(this).remove();
                            });

                            if(data.hasOwnProperty("name")){
                                $('#addTemplate').find('input[type="text"]').after('<div class="red-text"><strong>' + data.name + '</strong></div>');
                            }

                            if($('.red-text').length == 0) {
                                $('#addTemplate').modal('close');
                                $('#templateCreationSuccess').modal('open');
                                $('.tsave-button').removeClass('cyan darken-2').addClass('orange darken-4').attr('data-tooltip', "{% trans %}tooltip.activity.saved_template{% endtrans %} ("+data.tName+")").tooltip().find('i').text('playlist_add_check');
                            }
                        })
                        .fail(function(data){
                            console.log(data);
                        })
                });
            });
        </script>
    {% endif %}
{% endblock %}
