{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}grade.page_title{% endtrans %}
{% endblock %}

{% if currentuser.stageParticipations(stage)|first.status == 3 %}
    {% set areSubmittedGrades = 1 %}
{% else %}
    {% set areSubmittedGrades = 0 %}
{% endif %}

{% block css %}
    <!-- CSS NoUISlider-->
    <link rel="stylesheet" href="{{ asset('css/nouislider.css') }}">
    <script type="text/javascript">
        var areSubmittedGrades = {{ areSubmittedGrades }};
    </script>
    <style>
        .user-picture{
            height: 50px;
            width: 50px;
        }
    </style>
{% endblock %}


{%  block pagename %}
    <span>{{ stage.activity.name }}</span>
    <span>{% trans %}grade.mobile_header_title{% endtrans %}</span>
{% endblock %}

{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}


{#}
{% set currentUserParticipations = [] %}
{% for participant in stage.participants %}
    {% if participant.usrId == currentuser.id %}
        {% set currentUserParticipations = currentUserParticipations|merge([participant]) %}
    {% endif %}
{% endfor %}
#}

{% block content %}
    {{form_start(form)}}

        {#
        <div class="center"><h4>{{ stage.activity.name }}</h4></div>
        {% if stage.activity.stages|length > 1 %}
            <div class="center"><h5>{{ stage.name }}</h5></div>
        {% endif %}
        #}

        <div style="position:relative;padding-top:20px;margin-bottom:30px">
            <a href="{{ path('myActivities',{sortingType: 'o'}) }}" class="btn" style="position:absolute;top: 50%;left:3%">
                {% trans %}grades.back{% endtrans %}
            </a>
            <h4 style="text-align:center">{{ stage.activity.name }}</h4>
            {% if stage.activity.stages|length > 1 %}
                <h5 style="text-align:center;font-size: 1.8rem">{{ stage.name }}</h5>
            {% endif %}
        </div>

        <ul>

                {% for p, uniqueParticipant in form.userGradableParticipations|merge(form.teamGradableParticipations) %}



                    {% if uniqueParticipant in form.teamGradableParticipations %}
                        {% set partElmt = uniqueParticipant.vars.data.team %}
                    {% else %}
                        {% set partElmt = uniqueParticipant.vars.data.user %}
                    {% endif %}
                    <li>
                        <ul class="user-content collection" style="justify-content:space-between">

                            <li style="margin-left: 20px;width:20vw">
                                <ul class="flex-center" style="flex-direction:row">
                                    <li>
                                        <img class="user-picture" src="{{ partElmt.fullname is defined ? asset(user_picture_url(partElmt)) : asset(team_picture_url(partElmt)) }}" alt="">
                                    </li>
                                    <li style="margin-left: 10px;">
                                        <span>{{partElmt.fullname is defined ? partElmt.fullname : partElmt.name }}</span>
                                    </li>
                                </ul>
                            </li>
                            <li style="width:70vw">
                                <ul class="flex-center" style="flex-direction:column;min-width:70%">
                                    {% set k = 0 %}
                                    {% for g, grade in uniqueParticipant.receivedGrades %}
                                        {% set k = k + 1 %}
                                        {% set criterion = grade.vars.data.criterion %}
                                        {% set gradeObj = grade.vars.data %}

                                        <ul style="width: 100%;" class="flex-center">
                                            <li style="width: 85%;">
                                                <ul class="flex-center">

                                                    <li style="width: 30%">
                                                        <ul class="flex-center-sb">
                                                            <li><i class="fa
                                                                {% if criterion.cName.icon is not null %}fa-{{ criterion.cName.icon.name }}{% else %}fa-cube{% endif %}" style="margin-left: 10px;"></i></li>
                                                            <li>{{criterion.cName.name}}</li>
                                                        </ul>
                                                    </li>
                                                    <li style="width:70%; text-align: center;">
                                                        {% if criterion.type == 1 %}
                                                            <div style="display:inline-block;width:70%" class="grade-slider grade-slider-{{ k }}"
                                                            data-lb="{{ criterion.lowerbound }}" data-ub="{{ criterion.upperbound }}" data-step="{{ criterion.step }}"
                                                            data-value="{% if gradeObj.value != NULL %}{{ gradeObj.value }}{% else %}{% if criterion.type == 1 %}{{ 70*(criterion.upperbound - criterion.lowerbound)/100 }}{% elseif criterion.type == 0 %}{{(100 / (criterion.participants|length - nbTP))|round(0) }}{% endif %}{% endif %}">
                                                            </div>
                                                            <div class="grade-slider-range-value center" style="font-size:1.2rem;margin-left: 20px;display:inline-block"></div>
                                                            {% if not areSubmittedGrades %}
                                                                {{form_widget(grade.value)}}
                                                            {% else %}
                                                                {{form_widget(grade.value,{'disabled':'disabled' })}}
                                                            {% endif %}
                                                        {% elseif criterion.type == 3 %}
                                                            <div class="switch">
                                                                <label>
                                                                {% trans %}grades.binary.no{% endtrans %}
                                                                <input {% if areSubmittedGrades %}disabled{% endif %} type="checkbox">
                                                                <span class="lever"></span>
                                                                {% trans %}grades.binary.yes{% endtrans %}
                                                                </label>
                                                            </div>

                                                            <div style="display: none;">
                                                                {% if not areSubmittedGrades %}
                                                                    {{form_widget(grade.value)}}
                                                                {% else %}
                                                                    {{form_widget(grade.value,{'disabled':'disabled' })}}
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}

                                                    </li>
                                                </ul>
                                            </li>
                                            <li style="width: 15%;">
                                                {#{% if g == (criterion.stage.nbEvaluatingCriteria|length / 2)|round %}#}
                                                    {% if grade.vars.data.comment is not null %}
                                                        <a class="waves-effect waves-light btn lime darken-4 tooltipped modal-trigger element-input" href="#comment_{{ p }}_{{ g }}" data-position="top" data-tooltip="{% trans %}grades.comments.modify{% endtrans %}"><i class="fa fa-comment-dots" style="color: white!important"></i></a>
                                                    {% else %}
                                                        <a class="waves-effect waves-light btn tooltipped modal-trigger element-input" href="#comment_{{ p }}_{{ g }}" data-position="top" data-tooltip="{% trans %}grades.comments.create{% endtrans %}"><i class="far fa-comment"></i></a>
                                                    {% endif %}
                                                {#{% endif %}#}
                                                    {#{{form_errors(grade.comment)}}#}
                                            </li>

                                            <div id="comment_{{ p }}_{{ g }}" class="modal">
                                                <div class="modal-title">
                                                    <h5>{% trans %}participants.comments.modal_title{% endtrans %} <span class="participant-fullname">{{ partElmt.fullname is defined ? partElmt.fullname : partElmt.name }}</span></h5>
                                                </div>
                                                <div class="modal-content">
                                                    {% if not areSubmittedGrades %}
                                                        {{form_widget(grade.comment)}}
                                                    {% else %}
                                                        {{form_widget(grade.comment,{ 'disabled':'disabled' })}}
                                                    {% endif %}
                                                </div>
                                                <div class="modal-footer">
                                                    {% if not areSubmittedGrades %}
                                                        <a class="btn btn-clear red waves-effect waves-light">{% trans %}participants.comments.clear_button{% endtrans %}</a>
                                                    {% endif %}
                                                    <a class="btn waves-effect waves-light modal-close validate-precomment">{% trans %}participants.comments.save_button{% endtrans %}</a>
                                                </div>
                                            </div>
                                        </ul>
                                    {% endfor %}

                                </ul>


                            </li>
                            <li style="width:10vw;text-align:center">
                                <a class="waves-effect waves-light btn-flag tooltipped {% if uniqueParticipant.vars.data.precomment is not null %}modal-trigger" href="#precomment_{{ p }}" {% endif %}data-position="top"
                                    {% if uniqueParticipant.vars.data.precomment is not null %}
                                        data-tooltip="{% trans %}grades.precomment.guidelines{% endtrans %}"
                                    {% else %}
                                        data-tooltip="{% trans %}grades.precomment.no_guidelines{% endtrans %}"
                                    {% endif %}
                                >
                                    <i class="fa{% if uniqueParticipant.vars.data.precomment is null %}r{% endif %} fa-flag" style="font-size: 1.5rem;"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <div id="precomment_{{ p }}" class="modal">
                        <div class="modal-title">
                            <h5>{% trans %}participants.guidelines.modal_title{% endtrans %} <span class="participant-fullname">{{ partElmt.fullname is defined ? partElmt.fullname : partElmt.name }}</span></h5>
                        </div>
                        <div class="modal-content">
                            {{uniqueParticipant.vars.data.precomment}}
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-clear red waves-effect waves-light">{% trans %}participants.guidelines.clear_button{% endtrans %}</a>
                            <a class="btn waves-effect waves-light modal-close validate-precomment">{% trans %}participants.guidelines.save_button{% endtrans %}</a>
                        </div>
                    </div>

                {% endfor %}

                {% if form.vars.data.mode != 1 %}

                <li>
                    <ul class="user-content collection" style="justify-content:space-between">

                        <li style="margin-left: 20px;width:20vw">
                            <ul class="flex-center" style="flex-direction:row">
                                <li>
                                    <div class="picture-frame flex-center" style="background-color: #b3b3b3; border-radius: 100%; height: 50px; justify-content: center">
                                        <i class="fa fa-cubes" style="color: white; font-size: 1.5rem; margin: 0px;"></i>
                                    </div>
                                </li>
                                <li style="margin-left: 10px;">
                                    <span>{{form.vars.data.name}}</span>
                                </li>
                            </ul>
                        </li>
                        <li style="width:70vw">
                            <ul class="flex-center" style="flex-direction:column;min-width:70%">
                                {% set k = 0 %}
                                {% for g, grade in form.selfGrades %}
                                    {% set k = k + 1 %}
                                    {% set criterion = grade.vars.data.criterion %}
                                    {% set gradeObj = grade.vars.data %}

                                    <ul style="width: 100%;" class="flex-center">
                                        <li style="width: 85%;">
                                            <ul class="flex-center">

                                                <li style="width: 30%">
                                                    <ul class="flex-center-sb">
                                                        <li><i class="fa
                                                            {% if criterion.cName.icon is not null %}fa-{{ criterion.cName.icon.name }}{% else %}fa-cube{% endif %}" style="margin-left: 10px;"></i></li>
                                                        <li>{{criterion.cName.name}}</li>
                                                    </ul>
                                                </li>
                                                <li style="width:70%; text-align: center;">
                                                    {% if criterion.type == 1 %}
                                                        <div style="display:inline-block;width:70%" class="grade-slider grade-slider-{{ k }}"
                                                        data-lb="{{ criterion.lowerbound }}" data-ub="{{ criterion.upperbound }}" data-step="{{ criterion.step }}"
                                                        data-value="{% if gradeObj.value != NULL %}{{ gradeObj.value }}{% else %}{% if criterion.type == 1 %}{{ 70*(criterion.upperbound - criterion.lowerbound)/100 }}{% elseif criterion.type == 0 %}{{(100 / (criterion.participants|length - nbTP))|round(0) }}{% endif %}{% endif %}">
                                                        </div>
                                                        <div class="grade-slider-range-value center" style="font-size:1.2rem;margin-left: 20px;display:inline-block"></div>
                                                        {% if not areSubmittedGrades %}
                                                            {{form_widget(grade.value)}}
                                                        {% else %}
                                                            {{form_widget(grade.value,{'disabled':'disabled' })}}
                                                        {% endif %}
                                                    {% elseif criterion.type == 3 %}
                                                        <div class="switch">
                                                            <label>
                                                            {% trans %}grades.binary.no{% endtrans %}
                                                            <input {% if areSubmittedGrades %}disabled{% endif %} type="checkbox">
                                                            <span class="lever"></span>
                                                            {% trans %}grades.binary.yes{% endtrans %}
                                                            </label>
                                                        </div>

                                                        <div style="display: none;">
                                                            {% if not areSubmittedGrades %}
                                                                {{form_widget(grade.value)}}
                                                            {% else %}
                                                                {{form_widget(grade.value,{'disabled':'disabled' })}}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}

                                                </li>
                                            </ul>
                                        </li>
                                        <li style="width: 15%;">
                                            {#{% if g == (criterion.stage.nbEvaluatingCriteria|length / 2)|round %}#}
                                                {% if grade.vars.data.comment is not null %}
                                                    <a class="waves-effect waves-light btn lime darken-4 tooltipped modal-trigger element-input" href="#comment_{{ g }}" data-position="top" data-tooltip="{% trans %}grades.comments.modify{% endtrans %}"><i class="fa fa-comment-dots" style="color: white!important"></i></a>
                                                {% else %}
                                                    <a class="waves-effect waves-light btn tooltipped modal-trigger element-input" href="#comment_{{ g }}" data-position="top" data-tooltip="{% trans %}grades.comments.create{% endtrans %}"><i class="far fa-comment"></i></a>
                                                {% endif %}
                                            {#{% endif %}#}
                                                {#{{form_errors(grade.comment)}}#}
                                        </li>

                                        <div id="comment_{{ g }}" class="modal">
                                            <div class="modal-title">
                                                <h5>{% trans %}participants.comments.modal_title{% endtrans %} <span class="participant-fullname">{{ form.vars.data.name }}</span></h5>
                                            </div>
                                            <div class="modal-content">
                                                {% if not areSubmittedGrades %}
                                                    {{form_widget(grade.comment)}}
                                                {% else %}
                                                    {{form_widget(grade.comment,{ 'disabled':'disabled' })}}
                                                {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                {% if not areSubmittedGrades %}
                                                    <a class="btn btn-clear red waves-effect waves-light">{% trans %}participants.comments.clear_button{% endtrans %}</a>
                                                {% endif %}
                                                <a class="btn waves-effect waves-light modal-close validate-precomment">{% trans %}participants.comments.save_button{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </ul>
                                {% endfor %}

                            </ul>
                        </li>

                        <li style="width:10vw;text-align:center">
                            <a class="waves-effect waves-light btn-flag tooltipped {% if form.vars.data.description is not null %}modal-trigger" href="#precomment_stage" {% endif %}data-position="top"
                                {% if form.vars.data.description is not null %}
                                    data-tooltip="{% trans %}grades.precomment.guidelines{% endtrans %}"
                                {% else %}
                                    data-tooltip="{% trans %}grades.precomment.no_guidelines{% endtrans %}"
                                {% endif %}
                            >
                                <i class="fa{% if form.vars.data.description is null %}r{% endif %} fa-flag" style="font-size: 1.5rem;"></i>
                            </a>
                        </li>
                    </ul>
                </li>
                <div id="precomment_stage" class="modal">
                    <div class="modal-title">
                        <h5>{% trans %}participants.guidelines.modal_title{% endtrans %} <span class="participant-fullname">{{ form.vars.data.name }}</span></h5>
                    </div>
                    <div class="modal-content">
                        {{form.vars.data.description}}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-clear red waves-effect waves-light">{% trans %}participants.guidelines.clear_button{% endtrans %}</a>
                        <a class="btn waves-effect waves-light modal-close validate-precomment">{% trans %}participants.guidelines.save_button{% endtrans %}</a>
                    </div>
                </div>

            {% endif %}

        </ul>

        <div style="display:none">
            {{ form_row(form.save) }}
        </div>

        {% if not areSubmittedGrades %}
            <div class="validation-buttons">
                <div class="button-field btn-act-left">
                    <button type="submit" id="stage_unique_participations_save_var" name="stage_unique_participations[save]" class="waves-effect waves-light btn-large blue darken-2"><ul style="display: flex;align-items: center;margin:auto;"><i class="fa fa-save" style="margin-right: 5px"></i><span>{% trans %}grade.save_button{% endtrans %}</span></ul></button>
                </div>
                <div class="button-field btn-act-right">
                    <a class="waves-effect waves-light btn-large modal-trigger blue darken-4 validate-button" href="#validateGrades"><ul style="display: flex;align-items: center;margin:auto;"><i class="fa fa-gavel" style="margin-right: 5px"></i><span>{% trans %}grade.submit.modal_button_title{% endtrans %}</span></ul></a>
                </div>
            </div>

            {% if not form.vars.valid %}
                <div id="errors" class="modal open">
                    <div class="modal-title">
                        <h5>{% trans %}participants.comments.modal_title{% endtrans %}</h5>
                    </div>
                    <div class="modal-content">
                        {% for uniqueParticipant in form.userGradableParticipations %}
                            {% if not uniqueParticipant.vars.valid %}
                                <div>{{uniqueParticipant.vars.data.user.fullname}}
                                    <div style="padding: 15px 0px">
                                        {% for grade in uniqueParticipant.receivedGrades %}
                                            {% if not grade.vars.valid %}
                                                <div style="margin-left: 20px;">{{grade.vars.data.criterion.cName.name}} : {{ form_errors(grade.comment) }}</div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <a class=" modal-action modal-close waves-effect waves-green btn-large notifyModalClose">Ok</a>
                    </div>
                </div>
            {% endif %}

        {% endif %}

    <!-- Modal Structure -->
    <div id="validateGrades" class="modal">
        <div class="modal-content">
            <h4>{% trans %}grade.submit.modal_title{% endtrans %}</h4>
            <p>{% trans %}grade.submit.modal_message{% endtrans %}</p>
        </div>
        <div class="modal-footer flex-center" style="justify-content: flex-end;">
            {{ form_row(form.finalize) }}
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat red-text">{% trans %}grade.submit.discard_button_title{% endtrans %}</a>
        </div>
    </div>

    {{form_rest(form)}}
    {{form_end(form)}}

    <div id="notifyUncompleteForm" class="modal">
        <div class="modal-content">
            <h4>{% trans %}grade.submit.modal_title{% endtrans %}</h4>
            <p>{% trans %}grade.force_comment_modal_begin{% endtrans %}<span class="crtName" style="margin-left: 3px; margin-right: 3px;"></span>{% trans %} grade.force_comment_modal_end{% endtrans %}<span class="crtSign" style="margin-left: 3px; margin-right: 3px;"></span><span class="crtThreshold" style="margin-left: 3px;"></span></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-large notifyModalClose">Ok</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/nouislider.js') }}"></script>
    <script src="{{ asset('js/grades.js') }}"></script>
{% endblock %}
