{% extends "layout.html.twig" %}

{% form_theme form _self %}

{% block choice_widget_options %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}

            {# this line has been overwritten, see {{- block('choice_option_label') -}} to end #}
            <option value="{{ choice.value }}"{% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ block('choice_option_label') }}</option>

        {% endif %}
    {% endfor %}
{% endblock choice_widget_options %}

{% block choice_option_label %}
{# this block has been called from choice_widget_options block #}

{% if raw_label|default(false) %}
{# the label is rendered as raw when IconChoiceType is used #}
{{ choice_translation_domain is same as(false) ? choice.label|raw : choice.label|trans({}, choice_translation_domain)|raw }}
{% else -%}
{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
{% endif %}
{% endblock %}

{% set elmt = global.request.get('elmt') %}
{% set activity = form.vars.data %}

{% block title %}
    {% trans %}participants.page_title{% endtrans %}
{% endblock %}

{% block css %}
    <!-- CSS NoUISlider-->
    <link rel="stylesheet" href="{{ asset('css/nouislider.css') }}">
    <script type="text/javascript">
        var precommentCreationMsg = '{% trans %}participants.guidelines.create{% endtrans %}';
        var precommentUpdateMsg = '{% trans %}participants.guidelines.modify{% endtrans %}';
        var precommentNoneMsg = '{% trans %}participants.guidelines.no_guidelines{% endtrans %}';
        var elmt = '{{global.request.get("elmt")}}';
        var mp = 0;
    </script>
{% endblock %}

{% block pagename %}
    <span>{{ activity.name|slice(0, 13) ~ '...' }}</span>
    <span>{% trans %}criteria.mobile_header_description{% endtrans %}</span>
{% endblock %}
{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block content %}

<section>

    {% set isFinalized = form.vars.data.isFinalized %}
    {{
        form_start(form, {
                attr: {
                    style: 'display: flex; flex-flow: column; flex-grow: 1;',
                    'data-finalized': isFinalized
                }
            }
        )
    }}

    {% if activity.stages|length > 1 or activity.stages.first.criteria|length > 1 %}
        <div style="position:relative;min-height:50px">
            <div class="progress" style="margin-bottom:0px">
                <div class="determinate col s10 m10" style="width: 25%; left:75%"></div>
            </div>
            <div class="col s12 activity-elements">
                <button type="submit" id="manage_stage_participants_form_parameter" name="manage_stage_participants_form[parameter]" class="btn btn-flat activity-element-unselected" style="position: absolute; width: 25%; left: 0%; color: #26a69a">1 - {% trans %} activity_elements.parameters {% endtrans %}</button>
                <button type="submit" id="manage_stage_participants_form_stage" name="manage_stage_participants_form[stage]" class="btn btn-flat activity-element-unselected" style="position: absolute; width: 25%; left: 25%; color: #26a69a">2 - {% trans %} activity_elements.stages {% endtrans %}</button>
                <button type="submit" id="manage_stage_participants_form_criterion" name="manage_stage_participants_form[criterion]" class="btn btn-flat activity-element-unselected" style="position: absolute; width: 25%; left: 50%; color: #26a69a">3 - {% trans %} activity_elements.criteria {% endtrans %}</button>
                <button type="submit" id="manage_stage_participants_form_participant" name="manage_stage_participants_form[participant]" class="btn" style="position: absolute; width: 25%; left: 75%">4 - {% trans %} activity_elements.participants {% endtrans %}</button>
            </div>
        </div>
    {% else %}
        <div style="position:relative;min-height:50px">
            <div class="progress" style="margin-bottom:0px">
                <div class="determinate col s10 m10" style="width: 33%; left:67%"></div>
            </div>
            <div class="col s12 activity-elements">
                <button type="submit" id="manage_stage_participants_form_parameter" name="manage_stage_participants_form[parameter]" class="btn btn-flat activity-element-unselected" href="{{ url('oldActivityDefinition',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 33%; left: 0%; color: #26a69a">1 - {% trans %} activity_elements.parameters {% endtrans %}</button>
                <a class="btn btn-flat activity-element-unselected enrich-button" href="{{ url('activityCriteria',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 34%; left: 33%; color: #26a69a">
                    <i class="fa fa-plus"></i>
                    <span>{% trans %} activity_elements.complexify {% endtrans %}</span>
                </a>
                <button type="submit" id="manage_stage_participants_form_participant" name="manage_stage_participants_form[participant]" class="btn" href="{{ url('activityParticipants',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 33%; left: 67%">2 - {% trans %} activity_elements.participants {% endtrans %}</button>
            </div>
        </div>
    {% endif %}

    {% if elmt == 'template' %}
        <div>
            <ul class="flex-center orange-text" style="justify-content:center;font-size: 1.4rem">
                <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="{% trans %}tooltip.activity.save_template{% endtrans %}">restore_page</i>
                <span>{% trans %}activity_elements.template_edition_mode{% endtrans %}</span>
            </ul>
        </div>
    {% endif %}

    <div class="center activity-title"><h4>{{ activity.name }}</h4></div>

    {% if elmt == 'activity' %}
        {% set completedStages = activity.completedStages %}

        {% if completedStages is not null %}
            {% set nbCompletedStages = activity.completedStages|length %}
            {% set completedStagesWeight = 0 %}
            {% for completedStage in completedStages %}
                {% set completedStagesWeight = completedStagesWeight + completedStage.weight %}
            {% endfor %}

            <div class="row center" style="margin:15px 0px 15px 0px;">
                {% if activity.completedStages|length == 1 %}
                    <i class="far fa-2x fa-calendar-check"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbCompletedStages }}</span> {% trans %} stages.graded_single_stage_msg{% endtrans %} <span id="totalCompletedWeight">{{ (100 * completedStagesWeight)|round(0) }}</span> %</span>
                {% elseif activity.completedStages|length > 1 %}
                    <i class="far fa-2x fa-calendar-check"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbCompletedStages }}</span> {% trans %} stages.graded_multiple_stages_msg{% endtrans %} <span id="totalCompletedWeight">{{ (100 * completedStagesWeight)|round(0) }}<span> %</span>
                {% endif %}
            </div>
        {% endif %}

        {% set nbUnmodifiableStages = activity.activeStages|length - activity.activeModifiableStages|length %}

        {% if nbUnmodifiableStages > 0 %}
            <div class="row center" style="margin:15px 0px 15px 0px;">
            {% if nbUnmodifiableStages == 1 %}
                <i class="fa fa-2x fa-info-circle"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbUnmodifiableStages }}</span> {% trans %} stages.unmodifiable_single_stage_msg{% endtrans %}</span>
            {% elseif nbUnmodifiableStages > 1 %}
                <i class="fa fa-2x fa-info-circle"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbUnmodifiableStages }}</span> {% trans %} stages.unmodifiable_multiple_stages_msg{% endtrans %}</span>
            {% endif %}
            </div>
        {% endif %}
    {% endif %}

    {% set k = 0 %}


    {% for s, stage in form.activeModifiableStages %}
        {% set active = form.activeModifiableStages|length == 1 or form.activeModifiableStages|length > 1 and stage.uniqueParticipations|length < 4 %}
        {% set participantProto = include('prototype_participant.twig', { item: stage.uniqueParticipations.vars.prototype }) %}
        <div class="stage">
            <ul class="collapsible expandMore expandLess" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header flex-center cyan lighten-5 {{ active ? 'active' }}">
                        <i class="fa fa-fw fa-chevron-down"></i>
                        <i class="fa fa-fw fa-chevron-right"></i>
                        <div class="activity-banner">
                            <h5 class="stage-name">{{ stage.vars.data.name }}</h5>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <ul class="stage-participants" data-prototype="{{ participantProto }}" data-sid="{{ stage.vars.data.id }}">
                            {% set l = 0 %}
                            {% for p, participant in stage.uniqueParticipations %}
                                {% set userPicture = participant.vars.data.directUser.picture is not empty
                                                    ? asset('lib/img/' ~ participant.vars.data.directUser.picture)
                                                    : asset('lib/img/no-picture.png') %}
                                {% set directUserFullname = participant.vars.data.directUser.fullname %}

                                <li class="stage-participant">
                                    <div class="row flex-center" style="display:flex; justify-content: space-around;">
                                        <div class="input-field element-input participant-name" style="display: none; min-width:250px">
                                            {{ form_widget(participant.user) }}
                                            {{ form_label(participant.user) }}
                                        </div>
                                            {#}
                                        <div class="input-field element-input team-name" style="display: none; min-width:250px">
                                            {{ form_widget(participant.team) }}
                                            {{ form_label(participant.team) }}
                                        </div>
                                        #}
                                        <div class="element-input" style="display: none; margin: 0px 30px !important;">
                                            {{ form_widget(participant.leader) }}
                                            {{ form_label(participant.leader) }}
                                            {{ form_errors(participant.leader) }}
                                        </div>
                                        <div class="input-field element-input" style="display: none;">
                                            {{ form_widget(participant.type) }}
                                            {{ form_label(participant.type) }}
                                        </div>

                                        <div class="flex-center element-data">
                                            <div class="picture-frame-l" style="display: inline-block;">
                                                <img class="user-picture-l" src="{{ userPicture }}" alt="{{ directUserFullname }}" style="border-radius: 100%;">
                                            </div>
                                            <span style="margin-left: 10px; font-size:1.3rem" class="element-name">{{ directUserFullname }}</span>
                                            {% if participant.vars.data.leader == true %}
                                                <div style="margin-left: 10px;">
                                                    <i class="fa fa-star tooltipped" data-position="top" data-tooltip="{% trans %}participants.leader{% endtrans %}"></i>
                                                </div>
                                            {% endif %}
                                            <div style="margin-left: 10px;" class="element-type">
                                                {% if participant.vars.data.type == 0 %}
                                                    <span style="background-color: purple;color: white;padding: 0px 5px;border-radius: 100%;" class="tooltipped" data-position="top" data-tooltip="{% trans %}tooltip.activity.tp_participant_msg{% endtrans %}" data-delay="50">T</span>
                                                {% elseif participant.vars.data.type == -1 %}
                                                    <span style="background-color: orange;color: white;padding: 0px 5px;border-radius: 100%;" class="tooltipped" data-position="top" data-tooltip="{% trans %}tooltip.activity.passive_participant_msg{% endtrans %}" data-delay="50">P</span>
                                                {% endif %}
                                            </div>
                                            {% if elmt == 'activity' and participant.vars.data.isMailed %}
                                                <div style="margin-left: 10px;">
                                                    <i class="fa fa-envelope tooltipped" data-position="top" data-tooltip="{% trans %}participants.mailed{% endtrans %}"></i>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <ul class="flex-center" style="margin-left: auto;">
                                            <li style="margin-left: auto; margin-right: 10px;">
                                                <a class="modify waves-effect waves-light btn-flat tooltipped {{ isFinalized ? 'modal-trigger' }}" data-position="top" data-tooltip="{% trans %}organization_elements.update{% endtrans %}" data-delay="50"><i class="fa fa-pencil-alt"></i></a></li>
                                            <li style="margin-right: 10px;" class="element-precomment">
                                                {% if participant.vars.data.precomment is not null %}
                                                    <a class="waves-effect waves-light btn-flat tooltipped element-data" data-position="top" data-tooltip="Guidelines : {{ participant.vars.data.precomment }}" data-delay="50"><i class="fa fa-flag"></i></a>
                                                    <a style="display: none" class="validate waves-effect waves-light btn lime darken-4 tooltipped modal-trigger element-input white-text" href="#precomment_{{ s }}_{{ p }}" data-position="top" data-alternate-tooltip="" data-tooltip="{% trans %}participants.guidelines.modify{% endtrans %}"><i class="fa fa-flag"></i></a>
                                                {% else %}
                                                    <a class="waves-effect waves-light btn-flat tooltipped element-data" data-position="top" data-tooltip="{% trans %}participants.guidelines.no_guidelines{% endtrans %}" data-delay="50"><i class="far fa-flag"></i></a>
                                                    <a style="display: none" class="validate waves-effect waves-light btn tooltipped modal-trigger element-input" href="#precomment_{{ s }}_{{ p }}" data-position="top" data-alternate-tooltip="{% trans %}participants.guidelines.modify{% endtrans %}" data-tooltip="{% trans %}participants.guidelines.create{% endtrans %}"><i class="far fa-flag"></i></a>
                                                {% endif %}
                                            </li>
                                            {% if p != 0 %}
                                                <li><a href="#deleteElement" class="waves-effect waves-light accent-4 btn-flat modal-trigger tooltipped" data-eid="{{ participant.vars.data.id }}" data-position="top" data-tooltip="{% trans %}participants.delete{% endtrans %}"><i class="fa fa-times"></i></a></li>
                                            {% else %}
                                                <li><a href="#" class="waves-effect waves-light accent-4 btn-flat white-text" data-eid="{{ participant.vars.data.id }}"><i class="fa fa-times"></i></a></li>
                                            {% endif %}
                                        </ul>

                                        <div id="precomment_{{ s }}_{{ p }}" class="modal">
                                            <div class="modal-title">
                                                <h5>{% trans %}participants.guidelines.modal_title{% endtrans %} <span class="participant-fullname">{{ participant.vars.data.directUser.fullname }}</span></h5>
                                            </div>
                                            <div class="modal-content">
                                                {{ form_widget(participant.precomment) }}
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-clear red waves-effect waves-light">{% trans %}participants.guidelines.clear_button{% endtrans %}</a>
                                                <a class="btn waves-effect waves-light modal-close validate-precomment">{% trans %}participants.guidelines.save_button{% endtrans %}</a>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                {% endfor %}
                            </ul>
                            <a class="btn waves-effect waves-light insert-participant-btn center-button" style="margin-left:20px"><i class="fa fa-plus-circle"></i>
                                <span>{% trans %}participants.add_btn_internal{% endtrans %}</span>
                            </a>
                    </div>
                </li>
            </ul>
        </div>
        {% set k = k + 1 %}
    {% endfor %}
    <ul id="error-msgs" class="center">
    </ul>
    <div class="validation-buttons" style="margin-top: auto;">
        <div class="button-field btn-act-left">
            {{ form_row(form.previous) }}
        </div>
        <div class="button-field btn-act-center">
            {{ form_row(form.back) }}
        </div>
        <div class="button-field btn-act-right">
            {{ form_row(form.finalize) }}
        </div>
    </div>

    {{ form_rest(form) }}
    {{ form_end(form)}}


</section>

<div id="missingLeader" class="modal">
    <div class="modal-content">
        <h4>{% trans %}participants.missing_leader.title{% endtrans %}</h4>
        <p>{% trans %}participants.missing_leader.msg{% endtrans %} <span class="sName" style="font-style: italic;"></span></p>
    </div>
    <div class="modal-footer action-buttons">
        <div class="button-field">
            <a class="waves-effect waves-green btn modal-close">{% trans %}participants.missing_leader.btn_msg{% endtrans %}</a>
        </div>
    </div>

</div>
<div id="changeLeader" class="modal">
    <div class="modal-content">
        <h4>{% trans %}participants.change_leader.modal_title{% endtrans %}</h4>
        <p> {% trans %}participants.change_leader.msg_1{% endtrans %} <span class="sName" style="font-style: italic;"></span> {% trans %}participants.change_leader.msg_2{% endtrans %} </p>
        <p> {% trans %}participants.change_leader.msg_3{% endtrans %} <span id="newLeader"></span> {% trans %}participants.change_leader.msg_4{% endtrans %} <span id="oldLeader"></span> ?</p>

    </div>
    <div class="modal-footer action-buttons">
        <div class="modal-footer">
            <a class="modal-action modal-close submit-button waves-effect waves-green btn change-leader-button">{% trans %}organization_elements.delete_modal.confirm{% endtrans %}</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat red-text">{% trans %}organization_elements.delete_modal.decline{% endtrans %}</a>
        </div>
    </div>
</div>

{% if elmt == 'activity' and activity.template is null %}
    <div id="addTemplate" class="modal">
        {{ form_start(createTemplateForm) }}
        <div class="modal-content">
            <h5>{% trans %}templates.modal_create.title_msg{% endtrans %}</h5>
            <p>{% trans %}templates.modal_create.main_msg{% endtrans %}</p>
            {{ form_label(createTemplateForm.name) }}
            {{ form_widget(createTemplateForm.name) }}
            {{ form_errors(createTemplateForm.name) }}
        </div>

        <div class="modal-footer action-buttons">
            <div class="button-field">
                <a class=" modal-action modal-close submit-button waves-effect waves-red red btn-large">{% trans %}activities.create.delegate_back_btn_msg{% endtrans %}</a>
            </div>
            <div class="button-field">
                {{ form_row(createTemplateForm.submit) }}
            </div>
        </div>
        {{ form_rest(createTemplateForm) }}
        {{ form_end(createTemplateForm) }}
    </div>
    <div id="templateCreationSuccess" class="modal">
        <div class="modal-content">
            <h4>{% trans %}participants.createTemplate.modal_title{% endtrans %}</h4>
            <p>{% trans %}participants.createTemplate.modal_msg{% endtrans %} <span></span></p>
        </div>
        <div class="modal-footer action-buttons">
            <div class="button-field">
                <a class="waves-effect waves-green btn-large modal-close">{% trans %}participants.missing_leader.btn_msg{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endif %}

    <div id="deleteElement" class="modal">
        <div class="modal-content">
            <h4>{% trans with {'%element%' : 'participant'} %}organization_elements.delete_modal.title{% endtrans %}</h4>
            <p>{% trans with {'%conj_element%' : 'participant'} %}organization_elements.delete_modal.content_1{% endtrans %}</p>
        </div>
        <div class="modal-footer">
            <a class=" modal-action modal-close submit-button waves-effect waves-green btn-large delete-button">{% trans %}organization_elements.delete_modal.confirm{% endtrans %}</a>
            <a class=" modal-action modal-close waves-effect waves-green btn-flat red-text">{% trans %}organization_elements.delete_modal.decline{% endtrans %}</a>
        </div>
    </div>

    <div id="add-participant-modal" class="modal">
        <div class="modal-content">
            <h4>{{ 'organization_elements.confirm_add_modal.title'|trans|raw }}</h4>
            <p>{{ 'organization_elements.confirm_add_modal.content'|trans|raw }}</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action modal-close waves-effect waves-green btn confirm-button">{% trans %}organization_elements.delete_modal.confirm{% endtrans %}</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat red-text">{% trans %}organization_elements.delete_modal.decline{% endtrans %}</a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  <div id="user-pics" hidden>{{ userPics }}</div>
  <script src="{{ asset('js/activity_participants.js') }}"></script>

{% if elmt == 'activity' and activity.template is null %}
    <script>
        $(function(){
            $('.add-template').on('click',function(e){
                e.preventDefault();
                $.post(sturl, $('form[name="add_criterion_form"]').serialize()+'&'+$(this).closest('form').serialize())
                    .done(function(data){
                        try{
                            data = JSON.parse(data);
                        }catch(err){

                        }
                        $.each($('.red-text'),function(){
                            $(this).remove();
                        });

                        if(data.hasOwnProperty("name")){
                            $('#addTemplate').find('input[type="text"]').after('<div class="red-text"><strong>' + data.name + '</strong></div>');
                        }

                        if($('.red-text').length == 0) {
                            $('#addTemplate').modal('close');
                            $('#templateCreationSuccess').modal('open');
                            $('.tsave-button').removeClass('cyan darken-2').addClass('orange darken-4').attr('data-tooltip', "{% trans %}tooltip.activity.saved_template{% endtrans %} ("+data.tName+")").tooltip().find('i').text('playlist_add_check');
                        }
                    })
                    .fail(function(data){
                        console.log(data);
                    })
            });

            $('.modal[id*="criterionTarget"]').modal({
                complete: function(){
                    let a = $(this).attr('id').split('_');
                    let s = a[1];
                    let c = a[2];
                    let modC = $(this)[0].$el;
                    if(modC.find('input[type="checkbox"]').is(':checked') || modC.find('textarea').val() != ""){
                        $('[href="#criterionTarget_'+s+'_'+c+'"]').addClass('lime darken-3').empty().append($('<ul class="flex-center no-margin">'+modalModifyMsg+'<i class="far fa-dot-circle" style="margin-left:10px"></i><i class="fas fa-comment-dots" style="margin-left:10px"></i></ul>'));
                    } else {
                        $('[href="#criterionTarget_'+s+'_'+c+'"]').removeClass('lime darken-3').empty().append($('<ul class="flex-center no-margin">'+modalSetMsg+'<i class="far fa-dot-circle" style="margin-left:10px"></i><i class="far fa-flag" style="margin-left:10px"></i></ul>'));
                    }
                }
            });
        });
    </script>
{% endif %}
{% endblock %}
