{% extends "layout.html.twig" %}

{% form_theme form _self %}

{% block choice_widget_options %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}

            {# this line has been overwritten, see {{- block('choice_option_label') -}} to end #}
            <option value="{{ choice.value }}"{% if choice.attr %} {% set attr = choice.attr %}{{ block('attributes') }}{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ block('choice_option_label') }}</option>

        {% endif %}
    {% endfor %}
{% endblock choice_widget_options %}

{% block choice_option_label %}
    {# this block has been called from choice_widget_options block #}

    {% if raw_label|default(false) %}
        {# the label is rendered as raw when IconChoiceType is used #}
        {{ choice_translation_domain is same as(false) ? choice.label|raw : choice.label|trans({}, choice_translation_domain)|raw }}
    {% else -%}
        {{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}
    {% endif %}
{% endblock %}

{% set elmt = app.request_stack.currentrequest.get('elmt') %}

{% set colors = ["purple", "green", "orange", "blue-grey", "light-blue", "pink", "teal", "deep-purple", "lime", "grey", "light-green","red"] %}


{% block title %}
    {% trans %}criteria.page_title{% endtrans %}
{% endblock %}

{% block css %}
    <!-- CSS NoUISlider-->
    <link rel="stylesheet" href="{{ asset('css/nouislider.css') }}">

    <style>
        #hiddenul {
            display: none;
        }

        form {
            display: flex;
            flex-flow: column;
            flex-grow: 1;
        }

        form > .row {
            margin-left: 0;
            margin-right: 0;
        }

        .action-buttons {
            margin-top: auto;
        }

        .criterion.collection {
            overflow: visible;
        }

        li.criterion > :first-child {
            margin-bottom: 2em;
            justify-content: space-between;
        }
        /*
        ul.criteria > .criterion:not(:first-child) {
            margin-top: 4em;
        }*/

        ul.criteria > :first-child {
            margin-top: 2em;
        }
        ul.criteria > :last-child {
            margin-top: 2em;
        }

        .stage-banner {
            margin-left: 3vw;
            font-size: 20px;
            width: 100%;
        }

    </style>

    <script type="text/javascript">
        var lg = '{% trans %}curr_language{% endtrans %}';
        var url = "{{ url('saveActivityCriteria',{'elmt' : elmt, 'elmtId' : activity.id, 'actionType' : 'fwd'}) }}";
        var durl = "{{ url('ajaxCriterionDelete',{'elmt' : elmt, 'criId' : 0, 'criDiff' : 0}) }}";
        var curl = "{{ url('addCriterionName') }}";
        {% if elmt == 'activity' and activity.template is null %}
        var sturl = '{{ url('saveTemplate',{'actStep' : 'criteria', 'elmtId' : activity.id}) }}';
        {% endif %}
         let count = {{ activity.stages|length }};
         let modalSetMsg = '{% trans %}create_parameters.define_objective.modal_trigger_btn{% endtrans %}';
         let modalModifyMsg = '{% trans %}create_parameters.define_objective.modify_trigger_btn{% endtrans %}';
         let forceCommentMsg_0 = '{% trans %}criteria.criterion.forceCommentCompare{% endtrans %}';
         let forceCommentMsg_1 = '{% trans %}criteria.criterion.force_comments_pure_comment{% endtrans %}';
         let forceCommentMsg_2 = '{% trans %}criteria.criterion.force_comments_binary_label{% endtrans %}';
    </script>
{% endblock %}

{% block pagename %}
    <span>{{ activity.name|slice(0, 13) ~ '...' }}</span>
    <span>{% trans %}criteria.mobile_header_description{% endtrans %}</span>
{% endblock %}
{% block username %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
{% endblock %}

{% block content %}

<section class="col s10">

    <div style="position:relative;min-height:50px">
        <div class="progress" style="margin-bottom:0px">
            <div class="determinate col s10 m10" style="width: 25%; left:50%"></div>
        </div>
        <div class="col s12 activity-elements">
            <a class="btn btn-flat activity-element-unselected parameter-button" href="{{ url('oldActivityDefinition',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 0%; color: #26a69a">1 - {% trans %} activity_elements.parameters {% endtrans %}</a>
            <a class="btn btn-flat activity-element-unselected stage-button" href="{{ url('activityStages',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 25%; color: #26a69a">2 - {% trans %} activity_elements.stages {% endtrans %}</a>
            <a class="btn criterion-button" href="{{ url('activityCriteria',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 50%">3 - {% trans %} activity_elements.criteria {% endtrans %}</a>
            <a class="btn btn-flat activity-element-unselected participant-button" href="{{ url('activityParticipants',{'elmt' : elmt, 'elmtId' : activity.id}) }}" style="position: absolute; width: 25%; left: 75%; color: #26a69a">4 - {% trans %} activity_elements.participants {% endtrans %}</a>
        </div>
    </div>
    {% if elmt == 'template' %}
        <div>
            <ul class="flex-center orange-text" style="justify-content:center;font-size: 1.4rem">
                <i class="material-icons tooltipped" data-position="left" data-delay="50" data-tooltip="{% trans %}tooltip.activity.save_template{% endtrans %}">restore_page</i>
                <span>{% trans %}activity_elements.template_edition_mode{% endtrans %}</span>
            </ul>
        </div>
    {% endif %}
    <div class="center activity-title"><h4>{{ activity.name }}</h4></div>

    {% if elmt == 'activity' %}
        {% set completedStages = activity.completedStages %}

        {% if completedStages is not null %}
            {% set nbCompletedStages = activity.completedStages|length %}
            {% set completedStagesWeight = 0 %}
            {% for completedStage in completedStages %}
                {% set completedStagesWeight = completedStagesWeight + completedStage.weight %}
            {% endfor %}

            <div class="row center" style="margin:15px 0px 15px 0px;">
                {% if activity.completedStages|length == 1 %}
                    <i class="far fa-2x fa-calendar-check"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbCompletedStages }}</span> {% trans %} stages.graded_single_stage_msg{% endtrans %} <span id="totalCompletedWeight">{{ (100 * completedStagesWeight)|round(0) }}</span> %</span>
                {% elseif activity.completedStages|length > 1 %}
                    <i class="far fa-2x fa-calendar-check"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbCompletedStages }}</span> {% trans %} stages.graded_multiple_stages_msg{% endtrans %} <span id="totalCompletedWeight">{{ (100 * completedStagesWeight)|round(0) }}<span> %</span>
                {% endif %}
            </div>
        {% endif %}

        {% set nbUnmodifiableStages = activity.activeStages|length - activity.activeModifiableStages|length %}

        {% if nbUnmodifiableStages > 0 %}
            <div class="row center" style="margin:15px 0px 15px 0px;">
            {% if nbUnmodifiableStages == 1 %}
                <i class="fa fa-2x fa-info-circle"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbUnmodifiableStages }}</span> {% trans %} stages.unmodifiable_single_stage_msg{% endtrans %}</span>
            {% elseif nbUnmodifiableStages > 1 %}
                <i class="fa fa-2x fa-info-circle"></i><span style="margin-left:8px;"><span id="nbCompletedStages">{{ nbUnmodifiableStages }}</span> {% trans %} stages.unmodifiable_multiple_stages_msg{% endtrans %}</span>
            {% endif %}
            </div>
        {% endif %}

    {% endif %}

    {% set k = 0 %}

    {{ form_start(form) }}

    {% for stage in form.activeModifiableStages %}

        <div class="stage">

            <ul class="collapsible expandMore expandLess" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header flex-center
                            {% if form.activeModifiableStages|length == 1 %} active {% endif %}
                            {#{% if elmt == 'activity' %}
                                {% if activity.activeStages[k].status == 0 %}cyan{% elseif activity.activeStages[k].status == 1 %}cyan{% elseif activity.stages[k].status == 2 %}orange{% endif %}
                            {% endif %}#}
                    cyan lighten-5">
                        <i class="fa fa-fw fa-chevron-down"></i>
                        <i class="fa fa-fw fa-chevron-right"></i>
                        <!-- just giving the name an absolute position because it was interfering ith the button position -->
                        <div class="stage-banner">
                            <ul class="flex-center">

                                <h5> {{ stage.vars.data.name }} </h5>
                                {% if form.activeModifiableStages|length != 1 %}
                                    <div style="width: 80%; margin-left: auto; margin-right: 20px">
                                        <ul class="flex-center" style="flex-direction:column;">
                                            <li style="width: 100%; height: 20px">
                                                <ul style="margin-bottom:0px; position:relative">
                                                    {% set offsetWidth = 0 %}
                                                    {% for key, criterion in stage.criteria %}
                                                    <span class="tooltipped" style="position:absolute; width: {{criterion.vars.data.weight * 100}}%; left:{{offsetWidth}}%; text-align:center;" data-position="top" data-tooltip="{{ criterion.vars.data.cName.name }} : {{ criterion.vars.data.weight* 100 }}%">
                                                        {% if criterion.vars.data.cName.icon is not null %}
                                                            {% if criterion.vars.data.cName.icon.type != "m" %}
                                                                <i class="{{ criterion.vars.data.cName.icon.type }} fa-{{ criterion.vars.data.cName.icon.name }}" style="font-size: 1.3rem;"></i>
                                                            {% else %}
                                                                <i class="material-icons" style="font-size: 1.3rem;">{{criterion.vars.data.cName.icon.name }}</i>
                                                            {% endif %}
                                                        {% else %}
                                                            <i class="fa fa-cube" style="font-size: 1.3rem;"></i>
                                                        {% endif %}
                                                    </span>
                                                    {% set offsetWidth = offsetWidth + criterion.vars.data.weight * 100 %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            <li style="width: 100%;">
                                                <ul class="progress" style="margin-bottom:0px">
                                                    {% set offsetWidth = 0 %}
                                                    {% for key, criterion in stage.criteria %}
                                                    <li class="determinate {{colors[key]}} col s10 m10" style="width: {{criterion.vars.data.weight * 100}}%; left:{{offsetWidth}}%"></li>
                                                    {% set offsetWidth = offsetWidth + criterion.vars.data.weight * 100 %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% if stage.vars.data.criteria|length < 6 %}
                                            <li style="width: 100%; height: 20px; font-size:1rem">
                                                <ul style="margin-bottom:0px; position:relative">
                                                    {% set offsetWidth = 0 %}
                                                    {% for key, criterion in stage.criteria %}
                                                    <div style="position:absolute; display:inline-block;width:{{criterion.vars.data.weight * 100}}%; left:{{offsetWidth}}%; text-align:center;">
                                                        {# We put scale and step only if it is a evaluation criterion #}
                                                        <ul class="flex-center" style="justify-content: center;">
                                                            {% if criterion.vars.data.type == 1 %}
                                                            <li>
                                                                <span class="tooltipped" data-position="top" data-tooltip="{% trans %}criteria.tooltip.scale_step{% endtrans %}">
                                                                    <ul class="flex-center" style="{% if stage.criteria|length > 4 %}flex-direction: column;{% else %}margin-top: 5px{% endif %}">
                                                                        <li style="line-height: 0;">
                                                                            <i class="fas fa-ruler" style="margin:0;font-size:1rem"></i>
                                                                            <span>[{{ criterion.vars.data.lowerbound }}-{{ criterion.vars.data.upperbound }}]</span>
                                                                        </li>
                                                                        <li style="line-height: 0;">
                                                                            <i class="fas fa-arrows-alt-h" style="margin:0;font-size:1rem"></i>
                                                                            <span>{{ criterion.vars.data.step }}</span>
                                                                        </li>
                                                                    </ul>
                                                                </span>
                                                            </li>
                                                            {% endif %}
                                                            {% if criterion.vars.data.forceCommentCompare and criterion.vars.data.forceCommentValue %}
                                                            <li style="margin-left: 5px;">
                                                                <span class="tooltipped" data-position="top" data-tooltip="{% trans %}criteria.tooltip.required_comment{% endtrans %}">
                                                                    <i class="fa fa-comment" style="margin-right:0;font-size:1.6rem;position:relative">
                                                                        {# We put sign/value of force comment within symbol only if it is a evaluation criterion #}
                                                                        {% if criterion.vars.data.type == 1 %}
                                                                        <span style="position: absolute;font-size:1rem;top:13%;left:21%" class="white-text">
                                                                            {% if criterion.vars.data.forceCommentSign == 'smaller' %}<{% else %}≤{% endif %}{{ criterion.vars.data.forceCommentValue }}
                                                                        </span>
                                                                        {% endif %}
                                                                    </i>
                                                                </span>
                                                            </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                    {% set offsetWidth = offsetWidth + criterion.vars.data.weight * 100 %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </ul>

                            {#<div class="activity-description"> {{ activity.activeStages[k].description }}</div>#}
                        </div>
                    </div>
            {#<ul class="collapsible" data-collapsible="accordion">
                <li>

                    {% if key == 0 %}
                        <div class="collapsible-header active">
                    {% else %}
                        <div class="collapsible-header">
                    {% endif %}
                        <i class="material-icons">expand_more</i>
                        <div class="stage-title">
                            <h4> {{ attribute(stagenames, key) }} (stage {{ key + 1 }})</h4>
                        </div>
                    </div>#}

                    <div class="collapsible-body">

                        <ul class="criteria" data-prototype="{% filter escape %}{% include 'prototype_criterion.twig' with { 'item': stage.criteria.vars.prototype } %}{% endfilter %}">
                            {% set l = 0 %}
                            {% for key, criterion in stage.criteria %}
                                {#{% if activity.stages[k].criteria[l].deleted is null %}#}

                                <li class="element-data" {% if form.activeModifiableStages|length == 1 and stage.criteria|length == 1 %}style="display:none;"{% endif %}>
                                    <ul class="flex-center-sb">
                                        <li style="margin-right: 20px;width: 30%">
                                            <span class="ci">
                                                {% set crtIcon = criterion.vars.data.cName.icon %}
                                                {% if crtIcon is not null %}
                                                    {% if crtIcon.type != "m" %}
                                                        <i class="{{ crtIcon.type }} fa-{{ crtIcon.name }}"></i>
                                                    {% else %}
                                                        <i class="material-icons">{{ crtIcon.name }}</i>
                                                    {% endif %}
                                                {% else %}
                                                    <i class="fa fa-cube"></i>
                                                {% endif %}
                                            </span>
                                            <div style="margin-left: 20px;display:inline-block"><span class="cn">{{criterion.vars.data.cName.name}}</span> (<span class="cw">{{criterion.vars.data.weight * 100}}</span>%)</li>
                                        </li>


                                        <li style="margin-right: 20px;width: 90px;{% if criterion.vars.data.type != 1 %}display:none;{% endif %}" class="tooltipped" data-position="top" data-tooltip="{% trans %}criteria.tooltip.scale{% endtrans %}">
                                            <ul class="flex-center-sb">
                                                <i class="fas fa-ruler" style="margin:0;font-size:1rem; width: 10%"></i>
                                                <span class="csc">[{{ criterion.vars.data.lowerbound }}-{{ criterion.vars.data.upperbound }}]</span>
                                            </ul>
                                        </li>
                                        <li style="margin-right: 20px;width: 60px;{% if criterion.vars.data.type != 1 %}display:none;{% endif %}" class="tooltipped" data-position="top" data-tooltip="{% trans %}criteria.tooltip.step{% endtrans %}">
                                            <ul class="flex-center-sb">
                                                <i class="fas fa-arrows-alt-h" style="margin:0;font-size:1rem"></i>
                                                <span class="cst">{{ criterion.vars.data.step }}</span>
                                            </ul>
                                        </li>


                                        <li style="{% if not (criterion.vars.data.type == 2 or criterion.vars.data.forceCommentCompare and criterion.vars.data.forceCommentValue) %}display:none;{% endif %}width: 90px; text-align:center;">
                                            <span class="tooltipped" data-position="top" data-tooltip="{% trans %}criteria.tooltip.required_comment{% endtrans %}">
                                                <i class="fa fa-comment" style="margin-right:0;font-size:1.6rem;position:relative">
                                                    {# We put sign/value of force comment within symbol only if it is a evaluation criterion #}
                                                    {% if criterion.vars.data.type == 1 %}
                                                    <div style="position: absolute;display:inline-flex;font-size:1rem;top:15%;left:10%" class="white-text">
                                                        <span class="ccsi">
                                                            {% if criterion.vars.data.forceCommentSign == 'smaller' %}<{% else %}≤{% endif %}
                                                        </span>
                                                        <span class="ccv">{{ criterion.vars.data.forceCommentValue }}</span>
                                                    </div>
                                                    {% endif %}
                                                </i>
                                            </span>
                                        </li>
                                        <li style="margin-left: auto;">
                                            <a class="modify waves-effect waves-light btn-flat tooltipped" data-position="top" data-tooltip="{% trans %}organization_elements.update{% endtrans %}" data-delay="50"><i class="fa fa-pencil-alt"></i></a></li>
                                        </li>
                                        <li>
                                            {% if key == 0 %}
                                                <a class="btn-flat white-text" style="cursor: auto;"><i class="fa fa-trash"></i></a>
                                            {% else %}
                                                <a href="#deleteCriterion" class="waves-effect waves-light accent-4 btn-flat modal-trigger tooltipped" data-cid="{{ criterion.vars.data.id }}" data-position="top" data-tooltip="{% trans %}criteria.delete_criterion_btn{% endtrans %}"><i class="fa fa-trash"></i></a>
                                            {% endif %}
                                        </li>
                                    </ul>

                                </li>

                                <li class="criterion element-input collection">
                                    <ul class="flex-center">
                                        <li class="criterion-title"><h4>{% trans %} criteria.criterion.title {% endtrans %} {{ key + 1 }}</h4></li>
                                        <li style="width: 25%;">
                                            <div class="input-field weight">
                                                {{ form_label(criterion.weight) }}
                                                <div class="weight-slider" style="margin-top:10px;"></div>
                                                <div class="weight-slider-range-value center" style="font-size:1.2rem;padding-top: 5px"></div>
                                                {{ form_widget(criterion.weight) }}
                                                {{ form_errors(criterion.weight) }}
                                            </div>
                                        </li>

                                        <li>
                                             {#}
                                            {% if criterion.vars.data.target == null and criterion.vars.data.comment == null %}
                                                <a class="waves-effect waves-light btn modal-trigger" href="#criterionTarget_{{k}}_{{l}}" {% if key > 0 %} style="margin-right:20px" {% endif %}><ul class="flex-center no-margin"> {% trans %}create_parameters.define_objective.modal_trigger_btn{% endtrans %} <i class="far fa-dot-circle" style="margin-left:10px"></i><i class="far fa-comment" style="margin-left:10px"></i></ul></a>
                                            {% else %}
                                                <a class="waves-effect waves-light lime darken-3 btn modal-trigger" href="#criterionTarget_{{k}}_{{l}}" {% if key > 0 %} style="margin-right:20px" {% endif %}><ul class="flex-center no-margin"> {% trans %}create_parameters.define_objective.modify_trigger_btn{% endtrans %} <i class="far fa-dot-circle" style="margin-left:10px"></i><i class="fas fa-comment-dots" style="margin-left:10px"></i></ul></a>
                                            {% endif %}
                                            #}
                                            <a class="validate waves-effect waves-light btn blue darken-2 tooltipped" data-position="top" data-tooltip="{% trans %} criteria.tooltip.validate {% endtrans %}"><i class="fa fa-check"></i></a>
                                        </li>
                                    </ul>
                                    <div class="row">
                                        <div class="col s12">
                                            <div class="input-field criterion-name">
                                                {{ form_widget(criterion.cName) }}
                                                {{ form_label(criterion.cName) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            {{ form_label(criterion.type) }}
                                            {{ form_widget(criterion.type) }}
                                            {{ form_errors(criterion.type) }}
                                        </div>
                                    </div>
                                    <div class="row flex-center force-comments">
                                        <div class="col m5 s12 force-choice" style="margin-left: 0">
                                            {{ form_widget(criterion.forceCommentCompare) }}
                                            {{ form_label(criterion.forceCommentCompare) }}
                                            {{ form_errors(criterion.forceCommentCompare) }}
                                        </div>
                                        <div class="input-field col m4 s6 force-sign" style="margin-top: 0">
                                            {{ form_widget(criterion.forceCommentSign) }}
                                            {{ form_errors(criterion.forceCommentSign) }}
                                        </div>
                                        <div class="input-field col m3 s6 force-value" style="margin-top: 0">
                                            {{ form_label(criterion.forceCommentValue) }}
                                            {{ form_widget(criterion.forceCommentValue) }}
                                            {{ form_errors(criterion.forceCommentValue) }}
                                        </div>
                                    </div>
                                    <div class="row scale">
                                        <div class="input-field col s6 m4">
                                            {{ form_label(criterion.lowerbound) }}
                                            {{ form_widget(criterion.lowerbound) }}
                                            {{ form_errors(criterion.lowerbound) }}
                                        </div>
                                        <div class="input-field col s6 m4">
                                            {{ form_label(criterion.upperbound) }}
                                            {{ form_widget(criterion.upperbound) }}
                                            {{ form_errors(criterion.upperbound) }}
                                        </div>
                                        <div class="input-field col s6 m4">
                                            {{ form_label(criterion.step) }}
                                            {{ form_widget(criterion.step) }}
                                            {{ form_errors(criterion.step) }}
                                        </div>
                                    </div>
                                </li>
                            {#{% endif %}#}


                            <div id="criterionTarget_{{k}}_{{l}}" class="modal">
                                <div class="modal-title">
                                    <p><h5>{% trans %}create_parameters.define_objective.modal_title{% endtrans %}</h5></p>
                                </div>
                                <div class="modal-content">
                                    <div style="display:none;">
                                        <input type="checkbox" id="defineCriterionTarget_{{k}}_{{l}}" class="filled-in" {% if criterion.vars.data.target != null %} checked="checked" {% endif %}>
                                        <label for="defineCriterionTarget_{{k}}_{{l}}">{% trans %}create_parameters.define_objective.define_target_label{% endtrans %}</label>
                                    </div>

                                    <div class="target">
                                        {{ form_label(criterion.targetValue) }}
                                        <div class="target-slider" style="margin-top:10px;"></div>
                                        <div class="taret-slider-range-value center" style="font-size:1.2rem;padding-top: 5px"></div>
                                        {{ form_widget(criterion.targetValue) }}
                                        {{ form_errors(criterion.targetValue) }}
                                    </div>

                                    {{ form_label(criterion.comment) }}
                                    {{ form_widget(criterion.comment) }}
                                    {{ form_errors(criterion.comment) }}
                                </div>

                                <div class="modal-footer">
                                    <a class="waves-effect waves-light modal-close btn red cancel-btn">{% trans %}criteria.diffToSimilar.cancel{% endtrans %}</a>
                                    <a class="btn waves-effect waves-light modal-close">{% trans %}criteria.diffToSimilar.accept{% endtrans %}</a>
                                </div>
                            </div>
                            {% set l = l + 1 %}
                        {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        {% set k = k + 1 %}
    {% endfor %}
    <ul id="error-msgs" class="center">
    </ul>
    <div class="row action-buttons">
        <div class="button-field btn-act-left">
            {{ form_row(form.previous) }}
        </div>
        <div class="button-field btn-act-center">
            {{ form_row(form.back) }}
        </div>
        <div class="button-field btn-act-right">
            {{ form_row(form.next) }}
        </div>
    </div>
    <ul id="hiddenul" class="collection">
        <li class="collection-item"></li>
        <br><br>
    </ul>
        {{ form_rest(form) }}
        {{ form_end(form)}}
</section>

{% if diffStagesCriteria %}
    <div id="diffToSimilar" class="modal">
        <div class="modal-title">
            <p><h5>{% trans %}criteria.diffToSimilar.modal_title{% endtrans %}</h5></p>
        </div>
        <div class="modal-content">
            <p>{% trans %}criteria.diffToSimilar.modal_content{% endtrans %}</p>
        </div>
        <div class="modal-footer">
            <a class="waves-effect waves-light modal-close btn-flat red-text cancel-btn">{% trans %}criteria.diffToSimilar.cancel{% endtrans %}</a>
            <a class="btn waves-effect waves-light modal-close">{% trans %}criteria.diffToSimilar.accept{% endtrans %}</a>
        </div>
    </div>
{% endif %}
{% set break = false %}
{% for stage in activity.stages if not break %}
    {% if stage.criteria|length >= 2 %}
        {% set break = true %}
        <div id="deleteCriterion" class="modal">
            <div class="modal-title">
                <p><h5>{% trans %}criteria.deleteCriterion.modal_title{% endtrans %}</h5></p>
            </div>
            <div class="modal-content">
                <p>{% trans %}criteria.deleteCriterion.modal_content{% endtrans %}</p>
            </div>
            <div class="modal-footer">
                <a class="btn waves-effect waves-light modal-close remove-criterion">{% trans %}criteria.deleteCriterion.accept{% endtrans %}</a>
                <a class="waves-effect waves-light modal-close btn-flat red-text">{% trans %}criteria.deleteCriterion.cancel{% endtrans %}</a>
            </div>
        </div>
    {% endif %}
{% endfor %}

<div id="supHundredPct" class="modal">
    <div class="modal-content">
        <h4>{% trans %}criteria.supHundredPct.modal_title{% endtrans %}</h4>
        <p>{% trans %}criteria.supHundredPct.modal_msg_begin{% endtrans %}<span></span>{% trans %}criteria.supHundredPct.modal_msg_interm{% endtrans %}<span></span>{% trans %}criteria.supHundredPct.modal_msg_end{% endtrans %}</p>
    </div>
    <div class="modal-footer action-buttons">
        <div class="button-field">
            <a class="waves-effect waves-green btn-large modal-close">Ok</a>
        </div>
    </div>
</div>

{% if elmt == 'activity' and activity.template is null %}
    <div id="addTemplate" class="modal">
        {{ form_start(createTemplateForm) }}
        <div class="modal-content">
            <h5>{% trans %}templates.modal_create.title_msg{% endtrans %}</h5>
            <p>{% trans %}templates.modal_create.main_msg{% endtrans %}</p>
            {{ form_label(createTemplateForm.name) }}
            {{ form_widget(createTemplateForm.name) }}
            {{ form_errors(createTemplateForm.name) }}
        </div>

        <div class="modal-footer action-buttons">
            <div class="button-field">
                <a class=" modal-action modal-close submit-button waves-effect waves-red red btn-large">{% trans %}activities.create.delegate_back_btn_msg{% endtrans %}</a>
            </div>
            <div class="button-field">
                {{ form_row(createTemplateForm.submit) }}
            </div>
        </div>
        {{ form_rest(createTemplateForm) }}
        {{ form_end(createTemplateForm) }}
    </div>
    <div id="templateCreationSuccess" class="modal">
        <div class="modal-content">
            <h4>{% trans %}participants.createTemplate.modal_title{% endtrans %}</h4>
            <p>{% trans %}participants.createTemplate.modal_msg{% endtrans %} <span></span></p>
        </div>
        <div class="modal-footer action-buttons">
            <div class="button-field">
                <a class="waves-effect waves-green btn-large modal-close">{% trans %}participants.missing_leader.btn_msg{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/nouislider.js') }}"></script>
    <script src="{{ asset('js/login.js') }}"></script>
    <script src="{{ asset('js/activity_criterion.js') }}"></script>

    {% if elmt == 'activity' and activity.template is null %}
        <script>
            $(function(){
                $('.add-template').on('click',function(e){
                    e.preventDefault();
                    $.post(sturl, $('form[name="add_criterion_form"]').serialize()+'&'+$(this).closest('form').serialize())
                        .done(function(data){
                            try{
                                data = JSON.parse(data);
                            }catch(err){

                            }
                            $.each($('.red-text'),function(){
                                $(this).remove();
                            });

                            if(data.hasOwnProperty("name")){
                                $('#addTemplate').find('input[type="text"]').after('<div class="red-text"><strong>' + data.name + '</strong></div>');
                            }

                            if($('.red-text').length == 0) {
                                $('#addTemplate').modal('close');
                                $('#templateCreationSuccess').modal('open');
                                $('.tsave-button').removeClass('cyan darken-2').addClass('orange darken-4').attr('data-tooltip', "{% trans %}tooltip.activity.saved_template{% endtrans %} ("+data.tName+")").tooltip().find('i').text('playlist_add_check');
                            }
                        })
                        .fail(function(data){
                            console.log(data);
                        })
                });

                $('.modal[id*="criterionTarget"]').modal({
                    complete: function(){
                        let a = $(this).attr('id').split('_');
                        let s = a[1];
                        let c = a[2];
                        let modC = $(this)[0].$el;
                        if(modC.find('input[type="checkbox"]').is(':checked') || modC.find('textarea').val() != ""){
                            $('[href="#criterionTarget_'+s+'_'+c+'"]').addClass('lime darken-3').empty().append($('<ul class="flex-center no-margin">'+modalModifyMsg+'<i class="far fa-dot-circle" style="margin-left:10px"></i><i class="fas fa-comment-dots" style="margin-left:10px"></i></ul>'));
                        } else {
                            $('[href="#criterionTarget_'+s+'_'+c+'"]').removeClass('lime darken-3').empty().append($('<ul class="flex-center no-margin">'+modalSetMsg+'<i class="far fa-dot-circle" style="margin-left:10px"></i><i class="far fa-comment" style="margin-left:10px"></i></ul>'));
                        }
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}
