
<!DOCTYPE html>
<html>
<head>
    <title>
        Dealdrive -
        {% block title '' %}
    </title>
    <meta name="google-site-verification" content="aGUecHqyNfDi5JeZ8kCBvwTqJYGsirNidG2Gz5xhBQw"/>
    <link rel='shortcut icon' type='image/x-icon' href="lib/img/favicon/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="lib/img/favicon/apple-touch-icon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="lib/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="lib/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="lib/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="lib/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="Dlp2dZe00H69vbvHaWaIO_n-ms4P-afkt3KSoprNM98"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Serpico Application. Evaluation Tool for businesses. Home." name="description"/>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5P5957V');
    </script>
    
    {% block css %}
    {% endblock %}


</head>

<body>
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P5957V" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    {% set current_path = app.request.pathinfo %}
    {% include "./header.html.twig" %}
    {% block content %}{% endblock %}

    <div id="waitingSpinner" class="modal">
        <div class="modal-content" style="text-align: center">
            <div class="spinninAround"></div>
            <p>{% trans %}please_wait{% endtrans %}</p>
        </div>
    </div>

    <div id="languageModal" class="modal">
        <div class="modal-content">
            <h5>{{ "language.choose"|trans }}</h5>
            <ul>
                <li>
                    <a class="btn" href="{{ path('change_locale', {'locale': 'en'}) }}">
                        <img style="height:50%;" src="{{ asset('lib/img/FlagEngland.png') }}" alt="english">
                        <span>English</span>
                    </a>
                </li>
                <li>
                    <a class="btn" href="{{ path('change_locale', {'locale': 'fr'}) }}">
                        <img style="height:50%;" src="{{ asset('lib/img/FlagFrance.png') }}" alt="français">
                        <span>Français</span>    
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% block footer %}
        <footer>
            {#{% if not is_granted('IS_AUTHENTICATED_REMEMBERED') and not noFooter is defined %}#}

                <div id="linkFooter">
                    <div style="width:85%;margin:auto;">
                        <div class="footer-row row align" style="margin-bottom:0">
                            <div class="col s12 m3 no-margin">
                                <ul class="flex-center " style="justify-content: space-around;flex-direction:column">
                                    <li>
                                        <img src="{{ asset('lib/img/logo_dd_l.png') }}" alt="" style="width:140px">
                                    </li>

                                    {#<p class="grey-text text-lighten-4">ZZYZX Road</p>#}
                                    <li class="grey-text text-lighten-4">38, route d'Esch</li>
                                    <li class="grey-text text-lighten-4">L-1470 Luxembourg</li>
                                    
                                </ul>
                            </div>
                            <div class="col s12 m6">
                                <ul class="align" style="justify-content: space-around;">
                                    <li class="linkedin">
                                        <a href="https://www.linkedin.com/company/dealdrive-connect-to-clients-crm/" target="_blank">
                                            <img src="{{ asset('lib/img/linkedin-icon-white.png') }}">
                                        </a>
                                    </li>
                                    {#
                                    <li>
                                        <a href="https://www.youtube.com/channel/UCMVASckl068rgTEsHC4dKsw" target="_blank">
                                            <img src="{{ asset('lib/img/youtube-white.png') }}">
                                        </a>
                                    </li>
                                    #}
                                    <li>
                                        <a href="http://www.made-in-luxembourg.lu/" target="_blank">
                                            <img src="{{ asset('lib/img/made_in_white.png') }}" style="width:67px">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col s12 m3 white-text">
                                <ul style="display:flex; justify-content: space-around;flex-direction:column; align-items: flex-end;">
                                    <li style="margin-bottom:5px">
                                        <span>{{ 'powered_by'|trans }}</span>
                                        <i class="fa fa-road"></i>
                                        <span>ZZYZX Rd</span>
                                        {#}
                                        <script type="text/javascript">
                                            document.write(new Date().getFullYear());
                                        </script>
                                        #}
                                    </li>
                                    {#<li class="grey-text text-lighten-4"><a href="mailto:contact@dealdrive.lu" style="color:white;">contact@dealdrive.lu</a></li>#}
                                    {#
                                    <li style="text-align:right">
                                        <a href="{{ path('terms_conditions') }}" class="white-text">{% trans %}footer.tc{% endtrans %}</a>
                                    </li>
                                    #}
                                </ul>
                            </div>
                        </div>


                    </div>

                </div>
            {#{% endif %}#}
        </footer>


    {% endblock %}

    <!-- SCRIPTS -->
    <!-- CDN : jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- CDN : JQuery UI -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <!-- CDN : script Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
    <!-- header custom js -->
    <script src="{{ asset('js/base.js') }}"></script>
    {% block javascripts %}{% endblock %}
    
</body>
</html>
