{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}about.page_name{% endtrans %}
{% endblock %}

{% block css %}
  <style>
  
    img{
      width:inherit;
    }

    .db-LoginBackground-gridContainer{
      display: grid;
      -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
      grid-template-columns: [start] 1fr [left-gutter] repeat(16,86.6px) [left-gutter] 1fr [end];
      -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
      grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
      justify-content: center;
      margin: 0 -2%;
      transform: rotate(-12deg) skew(-12deg);
      position: absolute;
      bottom: 0;
      z-index:-1;
    }

    .Box-background--blue {
      background-color: #5469d4;
    }

    .Box-background--cyan200 {
      background-color: #7fd3ed;
    }

    .Flex-flex {
      display: flex;
    }

  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
        var rurl = "{{ path('resetPassword') }}";
  </script>
{% endblock %}

{% block username %}
    {% if currentuser is not null %}
    {{ currentuser.firstname }} {{ currentuser.lastname }}
    {% endif %}
{% endblock %}


{% block pagename %}
     {% trans %}about.mobile_header_title{% endtrans %}
{% endblock %}

{% block content %}
  <main>

      <div class="db-LoginBackground-gridContainer">
        <div class="Box-root Flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="Box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="Box-root Box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="Box-root Box-background--blue" style="flex-grow: 1;">
          </div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="Box-root Box-background--gray100" style="flex-grow: 1;">
          </div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="Box-root Box-background--cyan200" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="Box-root Box-background--blue" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="Box-root Box-background--gray100" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
        </div>
      </div>

      <div class="small-container">
          <img src="{{ asset('lib/img/logo_dd_p_l.png') }}">
          <div class="card-panel purple lighten-5">

            {% if not isValidToken %}
              <span>{{'email_confirm.no_valid_token_msg'|trans}}</span>
            {% else %}

              {% if not linkHasExpired %}
                <h5>{{'email_confirm.main_title'|trans}}</h5>
                <span>{{'email_confirm.main_msg'|trans}}</span>
                {{form_start(passwordForm)}}
                <div class="input-field">
                  {{form_row(passwordForm.password)}}
                </div>
                {{form_rest(passwordForm)}}
                {{form_end(passwordForm)}}
              
              {% else %}
                <h5>{{'email_confirm.expired_link_title'|trans}}</h5>
                <span>{{'email_confirm.expired_link_msg'|trans}}</span>
                <a class="btn">{{'email_confirm.button_resend_link_msg'|trans}}</a>
              {% endif %}

            {% endif %}
          </div>
      </div>

  </main>

{% endblock %}

{% block javascripts %}
  <script src="{{ absolute_url(asset('js/home.js')) }}"></script>
  <script src="{{ absolute_url(asset('js/landing.js')) }}"></script>
{% endblock %}
