{% extends "layout.html.twig" %}

{% import "macros/user_list__macros.html.twig" as macros %}

{% block title %}
  {{'firm_settings.page_title'|trans}}
{% endblock %}

{% block pagename %}
  {{'firm_settings.page_title'|trans}}
{% endblock %}

{% block mobile_title %}
  {{'firm_settings.page_title'|trans}}
{% endblock %}

{% block username %}
  {{ currentuser.firstname }}
  {{ currentuser.lastname }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('css/add_client_user_modal.css') }}">
  <style>

    main {
        width:90%;
        margin:auto!important;
    }

    section:not(:last-of-type){
      border-bottom: 1px solid grey;
    }

    section .btn-large {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 500px;
      margin-bottom: 1em;
      line-height: inherit;
      margin-right: auto;
      margin-left:auto;

    }

    section .btn-large i {
      font-size: 1.2em;
      padding-bottom: .1em;
      padding-right: .3em;
    }

    .collapsible{
      border:none;
      box-shadow: none;
    }
    .collapsible-header{
      background-color:inherit;
    }

    section:not(.collapsible) .section-title{
      margin-left:30px;
    }

    section > * {
      width: 100%;
    }

    .collapsible-header{
      padding-top: 0;
      padding-bottom: 0;
      border: none;
    }

    .collapsible-body{
      border:none;
      padding-right:0;
    }

    .nb-users-zone{
      font-size: 15px;
      line-height: 15px;
    }

    .admin-section-title{
      width:100%;
    }

    .admin-section-title i{
      margin-right:0;
    }

    .add-admin-btn{
      border: 1px dashed orange;
      padding: 0 2rem;
    }

    .add-admin-btn > i{
      width:20px;
      font-size:1.3rem;
      margin-right:0;
    }

    .badge-container > div {
      font-size: 1em;
      width: 1.2em;
      height: 1.2em;
    }

    .user-master-btn {
      min-width:250px;
      padding-right:0;
    }

    .user-section-act-btns{
      flex-wrap:nowrap;
      min-width:250px;
    }

    .admin-section-title > a {
      width: inherit;
    }

    #updateUserRole{
      overflow-y:inherit;
    }


    @media screen and (max-width: 993px) {

      .page-title{
        display: none;
      }

    }

  </style>
  <script>
    var alreadyExistingMsg = "{{ 'already_existing'|trans }}";
    var aaurl = "{{ url('addAdministrator') }}";
    var uururl = "{{ url('updateUserRole') }}";
    var surl = "{{ path('dynamicSearch') }}";
  </script>
{% endblock css %}


{% block content %}

  {% include "components/background_grid.html.twig" %}


  <main class="card-panel purple lighten-5">
    <h5 class="center strong dd-text page-title">{{'firm_settings.page_title'|trans}}</h5>
    
    <section class="flex">
      <div class="flex-center-sb">
        <h5 class="section-title">{{ 'firm_settings.profile.title'|trans }}</h5>
        <a class="btn-flat waves-effect waves-light" href="{{ path('manageOrgProfile') }}">
          <i class="fa fa-cog"></i>
        </a>
      </div>
    </section>

    <section class="flex">
      <div class="flex-center-sb">
        <h5 class="section-title">{{'firm_settings.manage_updates'|trans}}</h5>
        <a class="btn-flat waves-effect waves-light" href="{{ path('manageUpdates') }}">
          <i class="fa fa-cog"></i>
        </a>
      </div>
    </section>

    <section class="flex collapsible no-margin admin-rights">

        {% set totalAliveAdminUsers = currentuser.organization.users|filter(u => not u.synthetic and not u.deleted and u.role <= 2) %}

        <ul class="collapsible no-margin" data-collapsible="accordion">
          <li>
            <div class="collapsible-header no-padding">
              <h5 class="section-title admin-section-title flex-center">
                <a class="flex-center black-text not-collapse">
                  <i class="fa fa-chevron-right"></i>
                  <i class="fa fa-chevron-down"></i>
                  <span>{{'firm_settings.manage_admin'|trans }}</span>
                  <span class="sm-left nb-users-zone">(<span class="nb-users">{{ totalAliveAdminUsers|length }}</span>)</span>
                </a>
              </h5> 
              
                <ul class="flex-center user-section-act-btns" style="visibility:hidden;">
                  <a href="#" class="btn-flat">{{ 'see_details'|trans }}</a>
                  <a href="#addUserClient" class="btn-flat not-collapse add-admin-btn modal-trigger tooltipped" data-position="top" data-tooltip="{{'firm_settings.add_new_administrator'|trans}}"><i class="fa fa-plus dd-text"></i></a>
                </ul>
             
            </div>
            <div class="collapsible-body">
              <ul class="firm-users" data-prototype="{% apply escape %}{% include "components/administrator_list__item.html.twig" %}{% endapply %}" >
                {% for user in totalAliveAdminUsers %}
                  {% set isYourself = user.fullname == currentuser.fullname %}
                  <li class="account flex-center-sb" data-r="{{user.role}}">
                    <div class="flex-center">  
                        <img class="user-profile-l-picture sm-right" src="{{ asset(global.userPicture(user)) }}" alt="">
                        <span class="user-name {{isYourself ? 'strong'}}">{{ isYourself ? 'yourself'|trans : user.fullname }}</span>
                    </div>
                    <div class="account-action-zone flex-center">
                        <div class="btn-flat user-master-btn flex-center-sb">
                              {{ macros.user_role_badge(user) }}
                              <span class="user-master-name">{{ user.role == 1 ? 'profile.super_administrator'|trans : 'profile.administrator'|trans }}</span>
                        </div> 
                        <div class="btn-flat tooltipped modal-trigger" href="#updateUserRole" data-id="{{user.id}}" data-tooltip="{{'profile.manage.update_role'|trans}}" data-position="top" style="visibility:hidden;">
                            <i class="dd-orange-text mi create"></i>
                        </div>
                    </div>
                  </li>
                {% endfor %}
              
              </ul>
            </div>
          </li>
        </ul>
    </section>

    <section class="flex">
      <div class="flex-center-sb">
        <h5 class="section-title">{{'firm_settings.manage_activity'|trans}}</h5>
        {#
        <a class="btn-flat waves-effect waves-light" href="{{ path('manageUpdates') }}">
          <i class="fa fa-cog"></i>
        </a>
        #}
      </div>
    </section>

  </main>


    <div id="updateUserRole" class="modal">
      <div class="modal-content">
        <p>{{'firm_settings.update_user_role_modal.msg'|trans}} <span class="user-fullname-value"></span></p>
        <div class="input-field">
          <select id="roleSelector">
            <option value="1">{{'firm_settings.update_user_role_modal.super_admin_choice'|trans}}</option>
            <option value="2">{{'firm_settings.update_user_role_modal.admin_choice'|trans}}</option>
            <option value="3">{{'firm_settings.update_user_role_modal.collaborator_choice'|trans}}</option>
          </select>
        </div>
        <div class="flex-center-fe">
          <div class="btn-flat waves-effect waves-light modal-close m-right">{{'back'|trans}}</div>
          <div class="btn waves-effect waves-light update-user-role-btn">{{'ok'|trans}}</div>
        </div>
      </div>
    </div>

    <div id="newSuperAdminWarning" class="modal">
      <div class="modal-content">
        <h5>{{'firm_settings.new_super_admin_modal.title'|trans}}</h5>
        <p>{{'firm_settings.new_super_admin_modal.msg'|trans}}</p>
        <div class="flex-center-fe">
          <div class="btn-flat waves-effect waves-light modal-close m-right">{{'back'|trans}}</div>
          <div class="btn waves-effect waves-light new-super-admin-btn">{{'ok'|trans}}</div>
        </div>
      </div>
    </div>
    
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/firm_settings.js') }}"></script>
{% endblock %}
