{% set locale = app.request.getLocale() in ['fr','en'] ? app.request.getLocale() : en %}
{% set currentuser = global.currentuser %}
{% if currentuser != null %}
  {% set is_admin = currentuser.role == 4 or currentuser.role == 1 %}
  {% set is_root = currentuser.role == 4 %}
{% endif %}


<!DOCTYPE html>
<html id="serpicoapp" {% block data_params %}{% endblock %}>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>
      {% block title '' %}
      - Serpico Public
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('lib/img/favicon/favicon.ico') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('lib/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('lib/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('lib/img/favicon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('lib/img/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="Serpico Application. Evaluation Tool for businesses. Home." name="description">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('lib/materialize/css/materialize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% block css %}{##}{% endblock %}

    <script>
      window.lg = '{% trans %}curr_language   {% endtrans %}';
    </script>
  </head>

  {% if global.currentuser != null %}
    {% set orgName = global.currentuser.organization.commname %}
  {% else %}
    {% set orgName = '' %}
  {% endif %}

  <body>
    <div class="page-container">
      <nav id="nav" class="black">
        <div class="nav-wrapper">
          <ul>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and global.currentuser is not null %}
              <li class="logo">
                <a href="/"><img src="{{ asset('lib/img/logo_l.svg') }}"></a>
              </li>
              <li>
                <a href="{{ path('help') }}">
                  <i class="fa fa-question-circle" aria-hidden="true"></i>
                  <span>{% trans %}header.help{% endtrans %}</span>
                </a>
              </li>
              {% if global.currentuser.is_root %}
                <li class="firm">
                  <a href="{{ path('rootManagement') }}">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    <span>{% trans %}header.root_mgt{% endtrans %}</span>
                  </a>
                </li>
              {% endif %}
              {% if global.currentuser.is_admin %}
                <li class="firm">
                  <a href="{{ path('firmSettings') }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span>{% trans %}header.settings{% endtrans %}</span>
                  </a>
                </li>
              {% endif %}
              {# admins (1) can see processes for their institution, everyone else will see all institutions instead #}
              {#
              {% set sees_processes = userrole == 1 %}
              {% if not sees_processes %}
                <li>
                  <a href="{{ path('displayAllInstitutions') }}">
                    <i class="fa fa-hotel" aria-hidden="true"></i>
                    {% set str = 'header.institutions' %}
                    {{ str|trans }}
                  </a>
                </li>
              {% endif %}
              #}
              {% if orgName != "Public" %}
                <li>
                  <a href="{{ path(global.currentuser.is_admin ? 'manageUsers' : 'seeColleaguesTeams') }}">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {% set str = 'header.' ~ (global.currentuser.is_admin ? 'users' : 'community') %}
                    {{ str|trans }}
                  </a>
                </li>
              {% endif %}
              <li class="firm">
                <a href="{{ path('myActivities') }}">
                  <i class="fa fa-briefcase" aria-hidden="true"></i>
                  <span>
                    {% if orgName != "Public" %}
                      {% trans %}header.firmActivities{% endtrans %}
                    {% else %}
                      {% trans %}header.my_actions{% endtrans %}
                    {% endif %}
                  </span>
                </a>
              </li>
              <li>
                <a href="{{ path('home') }}">
                  <img class="user-profile-picture" src="{{ asset(global.userpicture) }}">
                  {# username is only defined for user being citizen (public), otherwise fullname #}
                  {{ global.currentuser.fullname != "" ? global.currentuser.fullname : global.currentuser.username }}
                </a>
              </li>
              <li class="logout">
                <a href="{{ path('logout') }}">
                  <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                  
                </a>
              </li>
            {% else %}
              {#{% if global.routeParams|length == 1 and path(global.route) in freeAccessRoutes %}#}
                <li class="logo">
                  <a href="{{ path('home_welcome') }}">
                    <img src="{{ asset('lib/img/logo_s.png') }}">
                  </a>
                  {% trans %}landing.serpico_alt_motto{% endtrans %}
                </li>
              {#{% endif %}#}
              {% if global.route == "about" %}
                <li>
                  <a href="{{ path('home_welcome') }}">
                    <i class="fa fa-home"></i>
                    {% trans %}header.home{% endtrans %}
                  </a>
                </li>
              {% endif %}
              <li>
                {% if global.route == "solution" %}
                  <a href="{{ path('home_welcome') }}">
                    <i class="fa fa-home"></i>
                    {% trans %}header.home{% endtrans %}
                  </a>
                {% else %}
                  <a class="product" href="{{ path('solution') }}">{% trans %}header.product{% endtrans %}</a>
                {% endif %}
              </li>
              {% if global.route != "about" %}
                <li>
                  <a href="{{ path('about') }}">{% trans %}header.about{% endtrans %}</a>
                </li>
              {% endif %}
              <li>
                <a class="modal-trigger" href="#login">{% trans %}header.login{% endtrans %}</a>
              </li>
            {% endif %}
            <li class="lg-icon">
              <div class="collapsible" data-collapsible="accordion">
                <div class="collapsible-header">
                  <ul class="flex-center">
                    <li>
                      <div class="flag sm-right {{ locale }}"></div>
                    </li>
                    <li>
                      <span class="country">{{ locale|upper }}</span>
                    </li>
                  </ul>
                </div>
                <ul class="collapsible-body lang-menu">
                  {% if locale != 'en' %}
                    <li>
                      <a href="{{ path('change_locale', {'locale': 'en'}) }}" class="flex-center">
                          <div class="flag en"></div>
                          <span class="country">EN</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if locale != 'fr' %}
                    <li>
                      <a href="{{ path('change_locale', {'locale': 'fr'}) }}" class="flex-center">
                          <div class="flag fr"></div>
                          <span class="country">FR</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}{% endblock %}
      <div id="waitingSpinner" class="modal">
        <div class="modal-content">
          <div class="spinninAround"></div>
          <p>{% trans %}please_wait{% endtrans %}</p>
        </div>
      </div>
    </div>
    {#}
    <footer id="master-footer">
      {% if not is_granted('IS_AUTHENTICATED_FULLY') or global.route == path('home_welcome') %}
        {% include "not_authenticated_footer.html.twig" %}
      {% endif %}
    </footer>
    #}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>
    <script src="{{ asset('js/header.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
