{% extends "layout.html.twig" %}

{# Login page for migration #}

{% block title %}
    {{'login.title'|trans|capitalize}}
{% endblock %}

{% block mobile_title %}
    {{'login.title'|trans|capitalize}}
{% endblock %}

{% block css %}

    <style>
        .old-times:before {
            content: "";
            background-image: url('/lib/img/place_paris.png');
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.25;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
        }

        .old-times {
            height:100%;
        }

        #formLogin input {
            background-color: #ffffffbd;
        }

        #formLogin input::placeholder {
            color: black;
        }

        #formLogin [type="checkbox"] + label {
            color: black;
        }

        .login-container{
            display:flex;
            flex-flow: column;
            align-items:center;
            padding-top:100px;
        }

        .db-LoginBackground-gridContainer{
            display: grid;
            -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
            grid-template-columns: [start] 1fr [left-gutter] repeat(16,7vw) [left-gutter] 1fr [end];
            -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
            grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
            justify-content: center;
            margin: 5% -2%;
            transform: rotate(-12deg) skew(-12deg);
            position: absolute;
            bottom: 0;
            z-index:-1;
        }

        .Box-background--blue {
            background-color: #5469d4;
        }

        .Box-background--orange {
            background-color: #ffbd45;
        }

        .Flex-flex {
            display: flex;
        }

        .signup-row{
            position: absolute;
            bottom: -6rem;
            left: 0rem;
            width: 100%;
        }

        .card-panel{
            position: relative;
        }

    </style>
    <script>
        var rurl = "{{ path('resetPassword') }}";
    </script>
{% endblock %}

{% block pagename %}
    Login
{% endblock %}

{% block content %}

    <div class="db-LoginBackground-gridContainer">
        <div class="Box-root Flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="Box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 6 / start / auto / 5;">
          <div class="Box-root Box-background--blue" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="Box-root Box-background--orange" style="flex-grow: 1;">
          </div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="Box-root Box-background--gray100" style="flex-grow: 1;">
          </div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="Box-root Box-background--orange" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="Box-root Box-background--blue" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="Box-root Box-background--gray100" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
        </div>
    </div>
    
    <div class="small-container">
        <div class="row" style="text-align: center; align-items: center">
            <div class="col s12"><img src="{{ absolute_url(asset('lib/img/logo_dd_p_l.png')) }}" width="250px" style="margin-top: 10px"></div>
        </div>

        <div class="card-panel purple lighten-5">
        
            <form id="formLogin" action="{{ path('login') }}" method="post">

                <div class="row">
                    <h4>Login</h4>
                    {% if error %}
                        {{ error.message }}
                        <div class="=alert alert-danger">
                            {{ error.messageKey |trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <div class="input-field">
                        <input type="text" name="_username" placeholder="{% trans %}landing.login_section.username{% endtrans %}" value="{{ lastUserName }}" required="required"/>
                    </div>
                    <div class="input-field">
                        <input type="password" name="_password" placeholder="{% trans %}landing.login_section.password{% endtrans %}" value="" required="required"/>
                    </div>
                    <div>
                        <input type="checkbox" class="filled-in" id="remember_me" name="_remember_me" checked/>
                        <label for="remember_me">{% trans %}landing.keep_me_logged_in{% endtrans %}</label>
                    </div>
                </div>
                <div class="row flex-center" style="justify-content: center">
                    <button class="btn btn-large waves-effect waves-light" type="submit" name="_target_path" value="home">{% trans %}landing.login_section.button_text{% endtrans %}</button>
                </div>
                <div style="text-align: center">
                    <a class="modal-trigger dd-text" href="#retrievePwd">{% trans %}landing.retrieve_pwd.link_msg{% endtrans %}</a>
                </div>
            </form>

            <div class="row signup-row" style="text-align: center; align-items: center">
                <span>{% trans %}landing.login_section.no_account_question{% endtrans %}</span>
                <a class="btn waves-effect waves-light" href="{{ url('signup') }}" style="margin-left: 15px;">{% trans %}landing.login_section.subscribe{% endtrans %}</a>
            </div>

        </div>
    </div>

    {#
    <main>
    
        <div id="login" class="old-times">

            <div class="login-container">  

                <div class="row" style="text-align: center; align-items: center">
                    <div class="col s12"><img src="{{ absolute_url(asset('lib/img/logo_dd_p_l.png')) }}" width="250px" style="margin-top: 10px"></div>
                </div>


                <form id="formLogin" action="{{ path('login') }}" method="post" class="container" style="margin-bottom:50px;width:80%">

                    <div class="row">
                        <h4>Login</h4>
                        {% if error%}
                            {{ error.message }}
                            <div class="=alert alert-danger">
                                {{ error.messageKey |trans(error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <div class="input-field">
                            <input type="text" name="_username" placeholder="{% trans %}landing.login_section.username{% endtrans %}" value="{{ lastUserName }}" required="required"/>
                        </div>
                        <div class="input-field">
                            <input type="password" name="_password" placeholder="{% trans %}landing.login_section.password{% endtrans %}" value="" required="required"/>
                        </div>
                        <div>
                            <input type="checkbox" class="filled-in" id="remember_me" name="_remember_me" checked/>
                            <label for="remember_me">{% trans %}landing.keep_me_logged_in{% endtrans %}</label>
                        </div>
                    </div>
                    <div class="row flex-center" style="justify-content: center">
                        <button class="btn btn-large waves-effect waves-light" type="submit" name="_target_path" value="home">{% trans %}landing.login_section.button_text{% endtrans %}</button>
                    </div>
                    <div style="text-align: center">
                        <a class="modal-trigger" href="#retrievePwd">{% trans %}landing.retrieve_pwd.link_msg{% endtrans %}</a>
                    </div>
                </form>

                <div class="row" style="text-align: center; align-items: center">
                    <span>{% trans %}landing.login_section.no_account_question{% endtrans %}</span>
                    <a class="btn waves-effect waves-light" href="{{ url('signup') }}" style="margin-left: 15px;">{% trans %}landing.login_section.subscribe{% endtrans %}</a>
                </div>
            </div>


        </div>
    </main>
    #}

    <div id="retrievePwd" class="modal">
        <div class="container">
            <div class="modal-content">
                <p>{% trans %}landing.retrieve_pwd.msg{% endtrans %}</p>
                <p>{% trans %}landing.retrieve_pwd.msg_2{% endtrans %}</p>
            </div>
            <form id="retrievePwdForm" action="" method="post">
                <input type="email" name="email" required="required"/>
                <div class="modal-footer">
                    <button type="submit" name="" value="home" class="btn waves-effect waves-light modal-close">{% trans %}landing.retrieve_pwd.submit{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
    <div id="retrievePwdSuccess" class="modal">
        <div class="modal-content">
            <p>{% trans %}landing.retrieve_pwd.success_msg{% endtrans %}</p>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light modal-close">{% trans %}Ok{% endtrans %}</button>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ absolute_url(asset('js/home.js')) }}"></script>
    <script src="{{ absolute_url(asset('js/landing.js')) }}"></script>
{% endblock %}
