{% extends "layout.html.twig" %}

{% block title %}
  {{ 'profile.page_title'|trans }}
{% endblock %}

{%  block pagename %}
  {{ 'profile.mobile_header_title'|trans }}
{% endblock %}

{% block mobile_title %}
  {{ 'profile.page_title'|trans }}
{% endblock %}

{% block username %}
  {{ global.currentuser.firstname }} {{ global.currentuser.lastname }}
{% endblock %}

{% set orgName = global.currentuser.organization.commname %}

{% macro user_badge(user) %}
  <img class="user-profile-l-picture tooltipped user-table-part" src="{{global.userpicture(user)}}" data-tooltip="{{user.fullname}}">
{% endmacro %}

{% macro added_by_tooltip(organization) %}
  <div class="flex-center">
    <span class="sm-right">{{'activities.added_by'|trans|capitalize}}</span>
    <img class="user-profile-l-picture" src="{{ global.organizationLogo(organization) }}" alt="">
    <span>{{organization.commname}}</span>
  </div>
{% endmacro %}

{% set actStatuses = 
  { 'o' : {
      'en': {
        '-5' : 'cancelled',
        '-4' : 'discarded', 
        '-3' : 'requested',
        '-2' : 'attributed',
        '-1' : 'incomplete',
        '0' : 'future',
        '1' : 'current',
        '2' : 'completed',
        '3' : 'published',
      },
      'fr': {
        '-5' : 'cancelled',
        '-4' : 'discarded', 
        '-3' : 'requested',
        '-2' : 'attributed',
        '-1' : 'incomplete',
        '0' : 'future',
        '1' : 'current',
        '2' : 'completed',
        '3' : 'published',
      }

    },
    'p' : {
        'en' : {
          '-5' : 'stopped',
          '-4' : 'postponed', 
          '-3' : 'suspended',
          '-2' : 'reopened',
          '-1' : 'unstarted',
          '0' : 'upcoming',
          '1' : 'ongoing',
          '2' : 'completed',
          '3' : 'finalized',
        },
        'fr' : {
          '-5' : 'stoppé',
          '-4' : 'reporté', 
          '-3' : 'suspendu',
          '-2' : 'rouvert',
          '-1' : 'non débuté',
          '0' : 'à venir',
          '1' : 'en cours',
          '2' : 'réalisé',
          '3' : 'finalisé',
        }
    }
  }
%}

{% block css %}
  <!-- Dropify -->
  <link href="{{ asset('css/dropify.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ asset('css/home.css') }}" rel="stylesheet" type="text/css">

  <style>
    .modify-profile-btn:hover {
      background-color: #55318e;
      color: #ff9300;
      border:none;
    }

    .admin-choice-panel {
      text-align: left;
    }

    .admin-choice {
      color: black;
      font-size: 16px;
    }

    #tutoModal .modal-content, #addAdmin .modal-content{
      min-height: 550px;
    }

    .modify-profile-btn{
      backdrop-filter: blur(10px);
      color: #ff9300;
      width: fit-content;
      border: 1px solid #ff9300;
    }

    .act-int-ext{
      position: relative;
    }

    .act-int-ext-arrow{
      position: absolute;
      left:2px;
      top:3px;
      font-size:0.8rem;
    }

    .progress{
      max-width:50px;
    }

    @media screen and (min-width: 993px) {

        .data-container img{
            width:150px;
            height:150px;
        }

        .user-header{
          font-size: 2.9rem
        }

    }

     @media screen and (max-width: 992px) {

        .data-container img{
            width:120px;
            height:120px;
        }

         .user-header{
          font-size: 2rem;
        }

         .data-container > ul{
            justify-content:center;
        }

    }

    @media screen and (max-width:600px) {
        .user-header{
          align-items: center;
        }
    }

  </style>
  {% if not orgHasActiveAdmin %}
  <script>
    var iaurl= "{{ url('addFirstAdmin') }}";
    var vaurl= "{{ url('validateAdmins') }}";
  </script>
  {% endif %}

{% endblock %}


{% block content %}
  <div class="menu">
    <div class="image-container">
    
    
    </div>
    {#
    <div class="container background-container" style="position:relative">
      {% if nbResultsStages > 0 and global.currentuser.role != 3 or nbPublishedStages > 0 and global.currentuser.role == 3 %}
        <a href="{{ path('elementOverview', {entity: 'user', 'elmtId' : global.currentuser.id}) }}" class="btn btn-large white-text waves-effect waves-light teal lighten-1"><ul class="flex-center" style="margin: 0;justify-content:center;"><i class="fa fa-chart-bar" style="margin-right: 17px;"></i><span>{{ 'profile.my_results'|trans }}</span></ul></a>
      {% endif %}
    </div>
    #}
    <div class="data-container">
      <ul class="flex-center">
        <div class="col s12 m3" style="margin-right: 30px; position: relative">
          <img src="{{ asset(global.userpicture) }}" style="border-radius: 50%">
        </div>

        <div class="col s12 m9">
          <ul>
            <div class="user-header c-flex">
                          <span>
                          {% if global.currentuser.nickname != null %}
                            {{ global.currentuser.nickname }}
                          {% else %}
                            {{ global.currentuser.fullname }}
                          {% endif %}
                          </span>
              {#{% if orgName == "Public" %}#}
                <a href="{{ url ('manageProfile') }}" class="btn-flat waves-effect modify-profile-btn">
                  {{'parameters'|trans}}
                </a>
              {#{% endif %}#}
            </div>
            {#
            {% if orgName != "Public" %}
              <h5 class="header flex-center stats-elmts"><span style="margin-right: 10px">{{global.currentuser.positionName}} </span>
                {% if global.currentuser.role == 4 %}
                  <div class="root-badge tooltipped" data-position="top" data-delay="50" data-tooltip="{{ 'tooltip.user.role.root'|trans }}">
                    <span>R</span>
                  </div>
                {% elseif global.currentuser.role == 2 %}
                  <div class="am-badge tooltipped" data-position="top" data-delay="50" data-tooltip="{{ 'tooltip.user.role.activity_manager'|trans }}">
                    <span>M</span>
                  </div>
                {% elseif global.currentuser.role == 3 %}
                  <div class="collaborator-badge tooltipped" data-position="top" data-delay="50" data-tooltip="{{ 'tooltip.user.role.collaborator'|trans }}">
                    <span>C</span>
                  </div>
                {% elseif global.currentuser.role == 1 %}
                  <div class="admin-badge tooltipped" data-position="top" data-delay="50" data-tooltip="{{ 'tooltip.user.role.admin'|trans }}">
                    <span>A</span>
                  </div>
                {% endif %}
              </h5>
            {% endif %}
            #}
          </ul>
        </div>
  </div>



      {#
      {% if global.currentuser.role != 3 %}
        {% set userAccess = true %}
      {% else %}
        {% set userAccess = false %}
      {% endif %}

      <div class="col s12 m4" style="margin-left: auto">
        <ul class="flex-center stats-elmts" style="font-size: 25px;margin-top: 15px;margin-bottom: 15px;position:relative">
          <li>
            <ul class="flex-center" style="flex-direction: column">
              <li>
                <ul class="profile-stat-elmt">
                  <i class="fa fa-chart-line tooltipped" data-position="top" data-tooltip="{{ 'tooltip.user.performance'|trans }}"></i>
                  <span>{% if userRepo.ranking('A','P','W', userAccess, global.currentuser) is null or userRepo.ranking('A','P','W', userAccess, global.currentuser) is empty %} -{% else %} {{ (100 * userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].value)|round(0) }} %{% endif %}</span>
                </ul>
              </li>
              {% if enabledUserSeeRanking and userRepo.ranking('A','P','W', userAccess, global.currentuser) is not null and userRepo.ranking('A','P','W', userAccess, global.currentuser) is not empty %}
                <li>
                  <span {% if userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].relResult < 0.34 %}class="green-text text-accent-4"{% elseif userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].relResult > 0.67 %}class="orange-text text-accent-4"{% endif %}>{{ userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].absResult }}</span><span style="font-size: 1.2rem"> / {{ (userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].absResult / userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].relResult)|round(0) }}</span>
                </li>
              {% endif %}
            </ul>
          </li>
          <li>
            <ul class="flex-center" style="flex-direction: column">
              <li>
                <ul class="profile-stat-elmt">
                  <i class="fa fa-arrows-alt-h tooltipped" data-position="top" data-tooltip="{{ 'tooltip.user.distance'|trans }}"></i>
                  <span>{% if userRepo.ranking('A','P','W', userAccess, global.currentuser) is null or userRepo.ranking('A','P','W', userAccess, global.currentuser) is empty %} -{% else %} {{ (100 * userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].value)|round(0) }} %{% endif %}</span>
                </ul>
              </li>
              {% if enabledUserSeeRanking and userRepo.ranking('A','P','W', userAccess, global.currentuser) is not null and userRepo.ranking('A','P','W', userAccess, global.currentuser) is not empty %}
                <li>
                  <span {% if userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].relResult < 0.34 %}class="green-text text-accent-4"{% elseif userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].relResult > 0.67 %}class="orange-text text-accent-4"{% endif %}>{{ userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].absResult }}</span><span style="font-size: 1.2rem"> / {{ (userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].absResult / userRepo.ranking('A','P','W', userAccess, global.currentuser)[0].relResult)|round(0) }}</span>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </div>
      #}

    </ul>
  </div>
  <div style="width: 85%; margin: 0 auto;">

    {#
      <div class="row" style="margin-top: 30px">
        <h5 class="no-margin no-padding"><i class="far fa-gem" style="margin-right: 20px"></i>{{ 'profile.performance_indicators'|trans }}</h5>
      </div>
      <div class="row">
        {% set tooltip_texts = {
          indiv: 'profile.target.individual'|trans,
          pos: 'profile.target.position'|trans,
          dpt: 'profile.target.department'|trans,
          org: 'profile.target.organization'|trans
        } %}
        {% set always_visible_row_count = 5 %}
        <input type="checkbox" id="toggle-hidden-rows" hidden autocomplete="off">
        <table id="kpis" class="striped">
          <thead>
          <tr>
            <th class="criterion">{{ 'profile.criterion'|trans }}</th>
            <th class="count">#</th>
            <th class="performance">{{ 'profile.perf'|trans }}</th>
            <th class="targets">{{ 'profile.target.title'|trans }}</th>
          </tr>
          </thead>
          <tbody>
          {% for criterion in topPerformingCriteria %}
            {% set cname = criterion.criterion %}
            {% set targets = criterion.target|filter(t => t) %}
            {% set progressBarStyle %}
              style="width: {{ criterion.performance }}%"
            {% endset %}
            <tr class="{{ always_visible_row_count <= 0 ? 'hidden-unless-shown' }}">
              <td class="criterion">{{ cname.name }}</td>
              <td class="count">{{ criterion.count }}</td>
              <td class="performance">
                <div class="performance-container">
                  <div class="criterion-bars">
                    <div class="progress">
                      <div class="determinate" {{ progressBarStyle }}></div>
                    </div>
                    {% for type, target in targets %}
                      {% set progressBarStyle %}
                        style="width: {{ target.value }}%"
                      {% endset %}
                      <div class="progress {{ type }}-progress">
                        <div class="determinate" {{ progressBarStyle }}></div>
                      </div>
                    {% endfor %}
                  </div>
                  <div class="percentage">{{ criterion.performance }} %</div>
                </div>
              </td>
              <td class="targets">
                <div class="targets-container">
                  {% if targets is empty %}
                    <em>{{ 'profile.target.all_unset'|trans }}</em>
                  {% else %}
                    {% for type, target in targets %}
                      <span class="target {{ type }}-target" tooltip="{{ tooltip_texts[type] }}">
                                                    {{ target_signs[target.sign] }} {{ target.value }} %
                                                </span>
                    {% endfor %}
                  {% endif %}
                </div>
              </td>
            </tr>
            {% set always_visible_row_count = always_visible_row_count - 1 %}
          {% endfor %}
          {% for target in ungradedTargets %}
            {% set value = target.value %}
            {% set type = target.type %}
            {% set sign = target.sign %}
            <tr class="{{ always_visible_row_count <= 0 ? 'hidden-unless-shown' }}">
              <td class="criterion">{{ target.criterion }}</td>
              <td class="count">0</td>
              <td class="performance">
                <div class="performance-container">
                  <div class="criterion-bars">
                    <div class="progress"></div>
                    {% set progressBarStyle %}
                      style="width: {{ value }}%"
                    {% endset %}
                    <div class="progress {{ type }}-progress">
                      <div class="determinate" {{ progressBarStyle }}></div>
                    </div>
                  </div>
                  <div class="percentage">N/A</div>
                </div>
              </td>
              <td class="targets">
                <div class="targets-container">
                  <span class="target {{ type }}-target" tooltip="{{ tooltip_texts[type] }}">
                      {{ target_signs[sign] }} {{ value }} %
                  </span>
                </div>
              </td>
            </tr>
            {% set always_visible_row_count = always_visible_row_count - 1 %}
          {% endfor %}
          </tbody>
        </table>
        {% if always_visible_row_count < 0 %}
          <label for="toggle-hidden-rows" id="toggle-hidden-rows-label" class="btn">
            <span class="show-less">{{ 'show_less'|trans }}</span>
            <span class="show-more">{{ 'show_all'|trans }}</span>
          </label>
        {% endif %}
      </div>
    #}
    <div class="row" style="margin-top: 30px">
      <div class="col {%if myHotStageParticipations|length == 0 %}m12 {%else%}m8{% endif%} s12">
        <h5><i class="fa fa-thermometer-three-quarters" style="margin-right: 20px"></i>
          {% if orgName != "Public" %}
            {{ 'profile.hotStages.title'|trans }}
          {% else %}
            {{ 'profile.hotStages.public_title'|trans }}
          {% endif %}
        </h5>
        {% if myHotStageParticipations|length > 0 %}
          <table class="striped">
            <thead>
            <tr>
              <th>#</th>
              <th>{{ 'report.user.table.activity_title'|trans ~ ' - ' ~ 'report.user.table.stage_title'|trans }}</th>
              <th>I/E</th>
              <th class="criterion-column">{{ 'updates'|trans|capitalize }}</th>
              <th class="participant-column">{{ 'profile.hotStages.participants'|trans }}</th>
              <th>{{ 'profile.hotStages.status'|trans }}</th>
              <th>{{ 'profile.hotStages.progress'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% set now = "now"|date("Y/m/d") %}
            {% set k = 1 %}
            {% for participation in myHotStageParticipations %}

              {% set stage = participation.stage %}
              {% set diffStageDateInterval = stage.enddate.diff(date(now)) %}
              {% set diffGradingDays = diffStageDateInterval.days %}
              {% if stage.enddate|date("Y/m/d") < now %}
                {% set diffGradingDays = -diffGradingDays %}
              {% endif %}
              {% set clickable = diffGradingDays >= 0 and participation.type != -1 and participation.status < 3 and stage.status > 0 %}
              {% set clickable = false %}
              {# Determination of stage type : pure FB, evaluation, contribution or mixed #}
              {% set stageMixed = false %}


              {% set stageType = stage.criteria|length > 0 ? stage.criteria[0].type : -1 %}

              {% for criterion in stage.criteria %}
                {% if criterion.type != stageType and (not stageMixed) %}
                  {% set stageMixed = true %}
                {% endif %}
              {% endfor %}
              <tr>
                <td>{% if clickable %}
                  {% if stage.criteria|length > 0 %}
                  <a href="{{ url('newStageGrade',{'stgId' : stage.id})}}" class="no-padding">
                    {% else %}
                    <a href="{{ url('answerSurvey',{'stgId' : stage.id})}}" class="no-padding">
                      {% endif %}
                      {% endif %}
                      {{ k }}
                      {% if clickable %}</a>{% endif %}
                </td>
                <td>{% if clickable %}
                  {% if stage.criteria|length > 0 %}
                  <a href="{{ url('newStageGrade',{'stgId' : stage.id})}}" class="no-padding">
                    {% else %}
                    <a href="{{ url('answerSurvey',{'stgId' : stage.id})}}" class="no-padding">
                      {% endif %}
                      {% endif %}
                      {{ stage.activity.stages|length > 1 ? (stage.activity.name ~ ' - ' ~ '<span class="strong">' ~ stage.name ~ '</span>')|raw : stage.activity.name}}
                      {% if clickable %}</a>{% endif %}
                </td>
                <td>
                  {% if stage.organization != currentuser.organization %}
                    <i class="act-int-ext fa fa-square dd-text tooltipped" data-html="true" data-position="top" data-tooltip="{% apply escape %}{{ _self.added_by_tooltip(stage.organization) }}{% endapply %}">
                      <i class="act-int-ext-arrow fa fa-long-arrow-alt-right dd-orange-text"></i>
                    </i>
                  {% endif %}
                </td>
                <td>
                  {% if clickable %}
                    {% if stage.criteria|length > 0 %}
                    <a href="{{ url('newStageGrade',{'stgId' : stage.id})}}" class="no-padding">
                      {% else %}
                      <a href="{{ url('answerSurvey',{'stgId' : stage.id})}}" class="no-padding">
                      {% endif %}
                  {% endif %}


                    {{stage.updates|length ? 
                      stage.updates|length ~ (stage.newUpdates(currentuser)|length > 0 ? ' (' ~ stage.newUpdates(currentuser)|length ~ ')' : '') :
                      '-'
                    }}

                  {% if clickable %}</a>{% endif %}
                </td>
                <td>
                  {% if clickable %}
                    {% if stage.criteria|length > 0 %}
                      <a href="{{ url('newStageGrade',{'stgId' : stage.id})}}" class="no-padding">
                    {% else %}
                      <a href="{{ url('answerSurvey',{'stgId' : stage.id})}}" class="no-padding">
                    {% endif %}
                  {% endif %}
                  {% for participant in stage.participants %}
                    {{ _self.user_badge(participant.user) }}
                  {% endfor %}
                  {% if clickable %}</a>{% endif %}
                </td>
                <td>
                  {% if clickable %}
                  {% if stage.criteria|length > 0 %}
                  <a href="{{ url('newStageGrade',{'stgId' : stage.id})}}" class="no-padding">
                    {% else %}
                    <a href="{{ url('answerSurvey',{'stgId' : stage.id})}}" class="no-padding">
                      {% endif %}
                      {% endif %}

                      {{ actStatuses['p'][global.request.locale][stage.progress]|capitalize }}

                      {% if clickable %}</a>{% endif %}
                </td>
                <td>
                  {% if stage.pctElapsed %}
                    <div class="flex-center-sb">
                      <div class="progress">
                          <div class="determinate" style="width: {{stage.pctElapsed}}%"></div>
                      </div>
                      <span>{{stage.pctElapsed ~ '%' }}</span>
                    </div>
                  {% else %}
                    <span>-</span>
                  {% endif %}
                </td>
              </tr>
              {% set k = k + 1 %}
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <span>{{ 'profile.hotStages.no_stages'|trans }}</span>
        {% endif %}
      </div>
      <div class="col {{ myHotStageParticipations|length == 0 ? 'm12' : 'm4' }} s12">
        <h5><i class="fa fa-ticket-alt" style="margin-right: 20px"></i>{{ 'profile.participations.title'|trans }}</h5>

        {% if nbActivities == 0 %}
          <span>{{ 'profile.participations.no_participations'|trans }}</span>
        {% else %}
          <table class="striped">
            <thead>
            <tr>
              <th></th>
              <th>
                <i class="fa fa-cubes tooltipped" data-position="top" data-delay="50" data-tooltip="{{ 'profile.participations.activities_title'|trans }}" style="color: #ee6e73; margin-right:7px"></i>
              </th>
              <th>
                <ul style="display: inline-flex; color: #2196F3; margin-right:3px" class="tooltipped no-margin no-padding" data-position="top" data-delay="50" data-tooltip="{{ 'profile.participations.stages_title'|trans }}">
                  <li>
                    <i class="fa fa-cube" style="position: relative;top: -6%;left: 0%;font-size: 0.85rem;"></i>
                  </li>
                  <li>
                    <i class="fa fa-cube" style="position: relative;top: 6%;left: -41%;font-size: 0.85rem;"></i>
                  </li>
                </ul>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ 'profile.participations.upcoming'|trans }}</td>
              <td>{% if nbUpcomingActivities > 0 %} {{ nbUpcomingActivities }} {% else %} - {% endif %}</td>
              <td>{% if nbUpcomingStages > 0 %} {{ nbUpcomingStages }} {% else %} - {% endif %}</td>
            </tr>
            <tr>
              <td>{{ 'profile.participations.ongoing'|trans }}</td>
              <td>{% if nbOngoingActivities > 0 %} {{ nbOngoingActivities }} {% else %} - {% endif %}</td>
              <td>{% if nbOngoingStages > 0 %} {{ nbOngoingStages }} {% else %} - {% endif %}</td>
            </tr>
            <tr>
              <td>{{ 'profile.participations.computed'|trans }}</td>
              <td>{% if nbResultsActivities > 0 %} {{ nbResultsActivities }} {% else %} - {% endif %}</td>
              <td>{% if nbResultsStages > 0 %} {{ nbResultsStages }} {% else %} - {% endif %}</td>
            </tr>
            <tr style="border-top: 1px solid black">
              <td>{{ 'profile.participations.total_activities'|trans }}</td>
              <td>{% if nbUpcomingActivities + nbOngoingActivities + nbResultsActivities > 0 %} {{ nbUpcomingActivities + nbOngoingActivities + nbResultsActivities }} {% else %} - {% endif %}</td>
              <td>{% if nbUpcomingStages + nbOngoingStages + nbResultsStages > 0 %} {{ nbUpcomingStages + nbOngoingStages + nbResultsStages }} {% else %} - {% endif %}</td>
            </tr>
            {#
            <tr style="font-style:italic;border-top: 1px solid black">
              <td>{{ 'profile.participations.total_unreleased_msg'|trans }}</td>
              <td>{% if nbResultsActivities - nbPublishedActivities > 0 %} {{ nbResultsActivities - nbPublishedActivities }} {% else %} - {% endif %}</td>
              <td>{% if nbResultsStages - nbPublishedStages > 0 %} {{ nbResultsStages - nbPublishedStages }} {% else %} - {% endif %}</td>
            </tr>
            #}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>

    {#
      <div class="row" style="margin-top: 30px">
        <h5 class="no-margin no-padding"><i class="fa fa-users" style="margin-right: 20px"></i>{{ 'profile.teams.title'|trans }}</h5>
      </div>
      <div class="row">
        <div class="col s12 m12">

          {% if teamParticipations is not empty %}
            <table class="striped">
              <thead>
              <tr>
                <th>{{ 'profile.teams.table.team_title'|trans }}</th>
                <th>{{  'profile.teams.table.nbParticipants_title'|trans }}</th>
                <th>{{ 'profile.teams.table.mean_perf_title'|trans }}</th>
                <th>{{ 'profile.teams.table.mean_dist_title'|trans }}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              {% set now = "now"|date("Y/m/d") %}
              {% set k = 1 %}
              {% for teamParticipation in teamParticipations %}

                <tr>
                  <td>{{teamParticipation.name}}</td>
                  <td>{{teamParticipation.nbParticipants}}</td>
                  <td>{% if teamParticipation.meanPerf is not null %}{{ (100 * teamParticipation.meanPerf)|round(0) }} %{% else %} - {% endif %}</td>
                  <td>{% if teamParticipation.meanDist is not null %}{{ (100 * teamParticipation.meanDist)|round(0) }} %{% else %} - {% endif %}</td>
                  <td>
                    <a href="{{ url('elementOverview',{entity: 'team', 'elmtId' : teamParticipation.id})}}"
                       class="btn white-text waves-effect waves-light teal lighten-1 team-results-btn"
                       style="padding: 0px 10px; display: flex; align-items: center; justify-content: center">
                      <div class="flex-center" style="margin: 0;justify-content:center;">
                        <i class="fa fa-chart-bar" style="margin-right: 17px;"></i>
                        <span>{{ 'profile.teams.table.results_title'|trans }}</span>
                      </div>
                    </a>
                  </td>
                </tr>
                {% set k = k + 1 %}
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <span>{{ 'profile.teams.no_belongings'|trans }}</span>
          {% endif %}
        </div>
      </div>
    #}
  </div>

  {% if not global.currentuser.isInternal %}
    <div id="finalizeUser" class="modal">
      <div class="modal-title">
        <h4>{{ 'profile.finalizeUserCreation.modal_title'|trans }}</h4>
      </div>
      <div class="modal-content">
        {{ form_start(finalizeUserForm) }}
        {{ form_row(finalizeUserForm.firstname) }}
        {{ form_row(finalizeUserForm.lastname) }}
        {{ form_row(finalizeUserForm.department) }}
        {{ form_row(finalizeUserForm.position) }}
      </div>
      <div class="modal-footer action-buttons">
        <div class="button-field">
          {{ form_row(finalizeUserForm.submit) }}
          {{ form_rest(finalizeUserForm) }}
          {{ form_end(finalizeUserForm) }}
        </div>
      </div>
    </div>
    <div id="finalizeUserSucess" class="modal">
      <div class="modal-content">
        <p>{{ 'profile.finalizeUserCreation.modal_success_msg'|trans }}</p>
      </div>
      <div class="modal-footer action-buttons">
        <div class="button-field">
        </div>
      </div>
    </div>
  {% endif %}

  {% if firstConnection == 0 %}
    <div id="tutoModal" class="modal" style="text-align: center">

      <div class="modal-content" style="text-align: center" >
        <br>
        <h5>Nouveau sur Serpico ? Nous sommes là pour vous aider !</h5>
        <br>
        {% if global.currentuser.role== 1 %}
          <div class="page-modal" id="0">
            <img src="{{ asset('lib/gif/create-activity.gif') }}">
            <p>En cliquant sur l'onglet Activités, vous pouvez dès à présent créer une activité .</p>
          </div>

          <div class="page-modal" id="1">
            <img src="{{ asset('lib/gif/stage-result.gif') }}" style="height: 400%">

            <p>Vous pouvez ensuite observer les résultats des notations dès que tous les participants ont noté  </p>
          </div>
          <div class="page-modal" id="2">
            <img src="{{ asset('lib/gif/user-result.gif') }}" style="height: 400%">

            <p> Il y a aussi possibilité de voir ces résultats personnel en cliquant sur le boutton  mes résultats </p>
          </div>
          <div class="page-modal" id="3">
            <img src="{{ asset('lib/gif/see-users.gif') }}">

            <p>En cliquant sur l'onglet Utilisateur,Vous pouvez voir la liste des utilisateurs de votre organisation</p>
          </div>
          <div class="page-modal" id="4">
            <img src="{{ asset('lib/gif/parameter.gif') }}">

            <p>En cliquant sur l'onglet Paramètres, vous avez la possibilité de changer les paramètres de l'entreprise.</p>
          </div>
        {% endif %}
        {% if global.currentuser.role== 2 %}

          <div class="page-modal" id="0">
            <img src="{{ asset('lib/gif/create-activity.gif') }}">
            <p>En cliquant sur l'onglet Activités, vous pouvez dès à présent créer une Activité .</p>
          </div>

          <div class="page-modal" id="1">
            <img src="{{ asset('lib/gif/stage-result.gif') }}" style="height: 400%">

            <p>Vous pouvez ensuite observer les résultats des notations dès que tout les participants on noté  </p>
          </div>
          <div class="page-modal" id="2">
            <img src="{{ asset('lib/gif/user-result.gif') }}" style="height: 400%">

            <p> Il y a aussi possibilité de voir ces résultats personnel en cliquant sur le boutton  mes résultats </p>
          </div>
          <div class="page-modal" id="3">
            <img src="{{ asset('lib/gif/see-users.gif') }}">

            <p>En cliquant sur l'onglet Utilisateur,Vous pouvez voir la liste des utilisateurs de votre organisation</p>
          </div>

        {% endif %}
        {% if global.currentuser.role==3  %}

          <div class="page-modal" id="0">
            <img src="{{ asset('lib/gif/note-dashboard.gif') }}">
            <p>En cliquant sur l'onglet Activités, vous pouvez dès à présent voir les activités vous concernant . Sur cette page vous allez pouvoir   noter des critères et répondre à des sondages </p>
          </div>

          <div class="page-modal" id="1">
            <img src="{{ asset('lib/gif/critere-response.gif') }}">

            <p>Vous pouvez noter le processus selon des critères  </p>
          </div>

          <div class="page-modal" id="2">
            <img src="{{ asset('lib/gif/stage-result.gif') }}" style="height: 400%">

            <p>Vous pouvez ensuite observer les résultats des notations dès que tous les participants ont noté  </p>
          </div>
          <div class="page-modal" id="3">
            <img src="{{ asset('lib/gif/user-result.gif') }}" style="height: 400%">

            <p> Il y a aussi possibilité de voir ces résultats personnel en cliquant sur le boutton  mes résultats </p>
          </div>
        {% endif %}
        {% if not orgHasActiveAdmin %}

          <div class="page-modal admin-choice-panel" id="{{ global.currentuser.role == 1 ? 5 : 4 }}">
            <p>{{'profile.first_connection.add_first_admin.modal_msg'|trans}}</p>
            <div>
              <input type="checkbox" id="self_admin" name="self_admin" class="filled-in admin-choice" checked data-id="{{global.currentuser.id}}">
              <label for="self_admin">{{'profile.first_connection.add_first_admin.self_keeping_option'|trans}}</label>
            </div>
            <div>
              <input type="checkbox" id="other_admin" name="other_admin" class="filled-in admin-choice">
              <label for="other_admin">{{'profile.first_connection.add_first_admin.give_ownership_option'|trans}}</label>
              <div class="admin-select-zone" style="display: none;">
                <select id="userSelector" multiple>
                  {% for user in global.activeUsers %}
                    {% if user != global.currentuser and user.lastname != "ZZ" %}
                      <option value="{{ user.id }}">{{ user.fullname }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
                <a class="modal-trigger" href="#addAdmin"><i class="fas fa-plus"></i>{{ 'profile.first_connection.add_first_admin.modal_trigger_btn'|trans }}</a>
              </div>
            </div>
          </div>        
        {% endif %}
      </div>



      <div style="text-align: center" class="modal-footer">
        <a><i style="display: none" class="btn-previous-page btn waves-effect waves-light fas fa-arrow-left"></i></a>
        <a value="Confirmer" style="display: none"
           class="roger btn waves-effect waves-light">{{ 'profile.first_connection.finalize_btn'|trans }}</a>
        <a><i class="btn-next-page btn waves-effect waves-light fas fa-arrow-right"></i></a>
      </div>
    </div>

    {% endif %}
    
    {% if not orgHasActiveAdmin %}
      <div id="addAdmin" class="modal" style="z-index: 1050;">
        {{ form_start(addFirstAdminForm, {attr: {autocomplete: "off" }}) }}
        <div class="modal-content">
          
          <h4>{{ 'profile.first_connection.add_first_admin.modal_trigger_btn'|trans }}</h4>
          <p>{{ 'profile.first_connection.add_first_admin.modal_title'|trans }}</p>
          {{ form_row(addFirstAdminForm.firstname) }}
          {{ form_row(addFirstAdminForm.lastname) }}
          {{ form_row(addFirstAdminForm.email) }}
        </div>
        <div class="modal-footer action-buttons">
          <div class="button-field">
            <a class="modal-close btn-flat waves-effect waves-light">
              <i class="fas fa-arrow-left sm-right"></i>
              <span>{{ 'back'|trans }}</span>
            </a>
          </div>
          <div class="button-field">
            {{ form_row(addFirstAdminForm.submit) }}
          </div>
        </div>
        {{ form_rest(addFirstAdminForm) }}
        {{ form_end(addFirstAdminForm) }}
      </div>
    {% endif %}

{% endblock %}




{% block javascripts %}
  <script src="{{ asset('js/profile.js') }}"></script>
  <script src="{{ asset('js/dropify.min.js') }}"></script>
  {% if global.currentuser.position is null %}
    <script>
      $(function() {
        $('#finalizeUser').modal({
          dismissible: false,
        });
        $('#finalizeUser').modal('open');
        $('.user-submit').on('click', function(e) {
          e.preventDefault();
          $.post(
            '{{ path("finalizeUser", { usrId: global.currentuser.id }) }}',
            $('#finalizeUser').find('form').serialize()
          )
            .done(function(data){
              try {
                $.each(data, function (key, value) {
                  $.each($('input'), function () {
                    if ($(this).attr('name').indexOf(userKey) != -1 && $(this).attr('name').indexOf(key) != -1) {
                      $(this).after('<div class="red-text"><strong>' + value + '</strong></div>');
                      return false;
                    }
                  })
                })
              } catch(e) {
                if ($('.red-text').length == 0) {
                  $('#finalizeUser').modal('close');
                  $('#finalizeUserSuccess').modal('open');
                }
              }
            })
            .fail(function (data) {
              console.log(data)
            });
        });
      });
    </script>
  {% endif %}
{% endblock %}
