{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}test{% endtrans %}
{% endblock %}

{% set truncVal = 30 %}


  {% block css %}
      <!-- Dropify -->
      <link href="{{ asset('css/dropify.min.css') }}" rel="stylesheet" type="text/css">
      <script>
          {% if orgId is defined %}
            var durl = "{{ url('deleteOrganization',{'orgId' : orgId}) }}";
          {% endif %}
          var ourl = "{{ url('manageOrganizations') }}";
          var surl = "{{ path('dynamicSearchParentFirm')}}";
          var curl = "{{ path('createWorkerFirm')}}";
          var noFirm = "{{ 'create_client.partner.unexisting_worker_firm'|trans }}";
      </script>
      <style>

            #main-header{
                --actions-width: 200px;
                --padding: 16px;
                display: flex;
                justify-content: center;
                padding: 1em;
                margin-bottom: 2em;
                position: relative;
            }

            #firmSelector{
                display: none;
            }

            .firm-option-logo{
                float: left!important;
            }
            .firm-input-logo{
                position: absolute;
                height: 20px;
                margin: auto 0;
                top: 0;
                left: 0;
                bottom: 0;
            }

            .organization-btn {
                background-color: aliceblue;
                color: black;
            }


            .dropdown-content{
                opacity: 1!important;
                display: block!important;
            }

            .select-wrapper input, .select-wrapper .caret{
                display: none!important;
            }

            .signup-img{
                width: 100%;
            }
            .page-title{
                font-size: 30px;
            }

            .organization-department, .organization-position {
                display: inline-block;
            }

            .org-info .col{
                padding: 0 5%;
            }

            .organization-btn{
               margin-top: 1rem;
            }
            .w-firm .dropdown-content{
                opacity: 1!important;
                display: block!important;
            }

            .w-firm .select-wrapper input, .w-firm .select-wrapper .caret{
                display: none!important;
            }

            form{
                margin: auto;
            }

            .selected-firm-logo{
                height: 15px;
            }

            .user-fullname .input-field{
                width: 40%;
            }

      </style>
  {% endblock %}


{% block pagename %}
    {% trans %}create_user.mobile_header_title{% endtrans %}
{% endblock %}

{% block username %}
    {{ currentuser.firstname }}
    {{ currentuser.lastname }}
{% endblock %}

{% block content %}
    <main>
        
    
        <header id="main-header" class="no-margin">
            {% if toValidate is defined %}
                <a class="waves-effect waves-green btn back-btn" href="{{ url('manageUsers')}}">{{ 'team.go_back_users'|trans }}</a>
            {% endif %}
            <span class="page-title">{#{{ toValidate is defined ? 'create_organization.validate_title'|trans : 'header.register.description'|trans }}#}</span>
        </header>

        {{ form_start(form) }}
        {#
        {{ form_label(form.legalName) }}
        {{ form_widget(form.legalName) }}
        <div class="errorMessage">
            {{ form_errors(form.legalName) }}
        </div>
        #}

        
        {#
        {{ form_row(form.isFirm) }}
        #}
        {% if update is not defined %}
            {#}
            <div>
                {{ form_label(form.firstname) }}
                {{ form_widget(form.firstname) }}
            </div>
            <div class="errorMessage">
                {{ form_errors(form.firstname) }}
            </div>

            {{ form_label(form.lastname) }}
            {{ form_widget(form.lastname) }}
            <div class="errorMessage">
                {{ form_errors(form.lastname) }}
            </div>

            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <div class="errorMessage">
                {{ form_errors(form.email) }}
            </div>
            #}

            <div class="row org-info flex-center">

                <div class="col s12 m6">
                    <img class="signup-img" src="{{asset('lib/img/performance-cocreation.png')}}" alt="">
                </div>
    
                <div class="col s12 m6 no-margin">
                    <span class="page-title">
                        {{ toValidate is defined ? 'create_organization.validate_title'|trans : 'header.register.description'|trans }}
                    </span>

                    {% if currentuser and currentuser.role == 4 and global.route != 'signup' %}
                    <div class="organization-commname">
                        {% set organization = form.vars.data %}
                        {% if organization and organization.commname is not null %}
                            {% set commonName = organization.commname %}
                            {% set isTooLong = commonName|length > truncVal %}
                        {% else %}
                            {% set isTooLong = false %}
                        {% endif %}
                        {% if not isTooLong %}
                        <a class="btn organization-btn organization-info-commname flex-center" style="display:none">
                        {% else %}
                        <a class="btn organization-btn organization-info-commname flex-center tooltipped" data-position="top" data-tooltip="{{commonName}}" {% if not organization or not form.commname.vars.valid %} style="display:none" {% endif %}>
                        {% endif %}
                            {#<i class="fa fa-indu m-right"></i>#}
                            <span class="m-right">
                                {{'organization'|trans}} : 
                            </span>
                            {#<img class="selected-firm-logo sm-right" src="{{ organization ? organization_logo_url(organization) : asset('/lib/img/org/no-picture.png')}}" alt="">#}
                            <img class="selected-firm-logo sm-right" src="{{ asset('/lib/img/org/no-picture.png')}}" alt="">
                            <span class="commname-value">{{ organization ? (isTooLong ? commonName|slice(0,truncVal) ~ '...' : commonName) : 'undefined'|trans }}</span>
                        </a>
                        <div class="w-firm" {% if organization and form.commname.vars.valid %} style="display:none" {% endif %}>
                            {{ form_row(form.commname) }}
                            <select id="firmSelector" style="margin-top:45px"></select>
                            <input type="hidden" name="wfiId">
                        </div>
                    </div>
                    {% endif %}


                    {#
                    <div class="input-field w-firm">
                        {{ form_row(form.commname) }}
                        <input type="hidden" name="wfiId">
                    </div>
                    #}
                    <div class="flex-center-sb user-fullname">
                        <div class="input-field">
                            {{ form_row(form.firstname) }}
                        </div>
                        <div class="input-field">
                            {{ form_row(form.lastname) }}
                        </div>
                    </div>
                    <div class="input-field">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    
                    {% if currentuser and currentuser.role == 4 and global.route != 'signup' %}
                        <div class="row no-margin">
                            <div class="col s12 m6">
                                <div class="organization-department">
                                {% if organization and organization.department is not null %}
                                    {% set departmentName = organization.department %}
                                    {% set isTooLong = departmentName|length > truncVal %}
                                {% else %}
                                    {% set isTooLong = false %}
                                {% endif %}
                                    {% if not isTooLong %}
                                    <a class="btn organization-btn organization-info-department flex-center" style="display: none;">
                                    {% else %}
                                    <a class="btn organization-btn organization-info-department flex-center tooltipped" data-position="top" data-tooltip="{{departmentName}}" style="display: none;">
                                    {% endif %}
                                        <i class="fa fa-bezier-curve m-right"></i>
                                        <span class="m-right">
                                        {% if organization and organization.department is not null %}
                                            {{'create_user.department_short'|trans}} : {{ isTooLong ? departmentName|slice(0,truncVal) ~ '...' : departmentName }}
                                        {% else %}
                                            {{'create_user.link_to_department'|trans}}
                                        {% endif %}
                                        </span>
                                    </a>
                                    <div class="organization-select-department">
                                        {{ form_row(form.department) }}
                                        <a href="#addElement" class="add-department modal-trigger" data-did="0"><i class="fa fa-plus"></i> {% trans %}create_department.open_modal_msg{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="col s12 m6">
                                <div class="organization-position">
                                {% if organization and organization.position is not null %}
                                    {% set positionName = organization.position %}
                                    {% set isTooLong = positionName|length > truncVal %}
                                {% else %}
                                    {% set isTooLong = false %}
                                {% endif %}
                                    {% if not isTooLong %}
                                    <a class="btn organization-btn organization-info-position flex-center" style="display: none;">
                                    {% else %}
                                    <a class="btn organization-btn organization-info-position flex-center tooltipped" data-position="top" data-tooltip="{{positionName}}" style="display: none;">
                                    {% endif %}
                                        <i class="fa fa-bezier-curve m-right"></i>
                                        <span class="m-right">
                                        {% if organization and organization.position is not null %}
                                            {{'create_user.position'|trans}} : {{ isTooLong ? positionName|slice(0,truncVal) ~ '...' : positionName }}
                                        {% else %}
                                            {{'create_user.link_to_position'|trans}}
                                        {% endif %}
                                        </span>
                                    </a>
                                    <div class="organization-select-position">
                                        {{ form_row(form.position) }}
                                        <a href="#addElement" class="add-position modal-trigger" data-pid="0"><i class="fa fa-plus"></i> {% trans %}create_position.open_modal_msg{% endtrans %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                {{ form_label(form.type) }}
                                {{ form_widget(form.type) }}
                            </div>
                        </div>
                    {% endif %}
                    {#}
                    {% else %}
                        <div class="row action-buttons">
                            <div class="button-field">
                                {{ form_row(form.submit) }}
                            </div>
                        </div>
                    #}

                </div>
            </div>

            
            {#
            {{ form_label(form.position) }}
            {{ form_widget(form.position) }}
            <div class="errorMessage">
                {{ form_errors(form.position) }}
            </div>
            {{ form_label(form.department) }}
            {{ form_widget(form.department) }}
            <div class="errorMessage">
                {{ form_errors(form.department) }}
            </div>
            #}
        {#
        <div class="button-field">
            {{ form_row(form.genLanguage) }}
        </div>
        #}
        {% else %}
        {{ form_row(form.masterUser) }}
        {% endif %}

        {#{% if not toValidate is defined %}#}
        <div class="row action-buttons">
            <div class="button-field">
                {{ form_row(form.submit) }}
            </div>
            {% if orgId is defined %}
            <div class="button-field">
                <a class="waves-effect waves-light btn-large red modal-trigger" href="#deleteOrganization">{% trans %}create_organization.delete{% endtrans %}</a>
            </div>
            {% endif %}
        </div>
        {#}
        {% else %}
        <div class="row action-buttons">
            <div class="button-field">
                {{ form_row(form.reject) }}
            </div>
            <div class="button-field">
                {{ form_row(form.validate) }}
            </div>
        </div>
        {% endif %}
        #}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    
    </main>

{#
{% if not form.vars.valid %}
	<div id="errors" class="modal open">
		<div class="modal-title">
			<h5>{% trans %}user_list.comments.modal_title{% endtrans %}</h5>
		</div>
		<div class="modal-content">
            {{form_errors(form)}}
		</div>
		<div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-green btn-large notifyModalClose">Ok</a>
		</div>
	</div>
{% endif %}
#}

{% if orgId is defined %}
<div id="deleteOrganization" class="modal">
    <div class="modal-content">
        {#{% if user_activities[k].stages|length > 1 %}#}
        <h4>{% trans %}create_organization.delete_modal.title{% endtrans %}</h4>
        <p>{% trans %}create_organization.delete_modal.content{% endtrans %}</p>
        {#{% else %}
            <p>{% trans %}activities.delete_activity_msg{% endtrans %}Are you sure you want to delete this activity ?</p>
        {% endif %}#}
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-large delete-button" data-oid="{{ orgId }}">{% trans %}create_organization.delete_modal.confirm{% endtrans %}</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat red-text">{% trans %}create_organization.delete_modal.cancel{% endtrans %}</a>
    </div>
</div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/calendar_fix.js') }}"></script>
    <script src="{{ asset('js/dropify.min.js') }}"></script>
    <script src="{{ asset('js/organization_create.js') }}"></script>


{% endblock %}
