{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}password_modify.page_title{% endtrans %}
{% endblock %}

{% block pagename %}
    {% trans %}password_modify.mobile_header_title{% endtrans %}
{% endblock %}

{% block css %}
  <script type="text/javascript">
      var url = "{{ url('createPasswordAJAX',{'token' : token }) }}";
      var homeUrl ="{{ url('login') }}";
  </script>
{% endblock %}

{% block content %}

    <div class="container">

      <h4>{{ firstname }}, {% trans %}password_modify.welcome_msg{% endtrans %}!</h4>
      <p>{% trans %}password_modify.password_description{% endtrans %}</p>
      {{ form_start(form) }}
        <div class="row">
            <ul class="input-field password">
                <li>
                    <div class="eye">
                        <i class="fa fa-2x fa-eye"></i>
                    </div>
                </li>
                <li>
                    <div class="input-field">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                    </div>
                    <div class="red-text errors">
                        {{ form_errors(form.password.first) }}
                    </div>
                </li>
            </ul>
            <ul class="input-field password">
                <li>
                    <div class="eye">
                        <i class="fa fa-2x fa-eye"></i>
                    </div>
                </li>
                <li>
                    <div class="input-field">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                    </div>
                    <div class="red-text errors">
                        {{ form_errors(form.password.second) }}
                    </div>
                </li>
            </ul>
        </div>
      <div class="row">
        <div class="button-field col s10" style="margin-bottom: 50px;">
          {{ form_row(form.submit) }}
        </div>
      </div>
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>
    <div id="definePwdSuccess" class="modal">
      <div class="modal-content">
        <p>{% trans %}signup.success_modal.msg{% endtrans %}</p>
      </div>
      <div class="modal-footer">
        <button class="btn waves-effect waves-light modal-close">{% trans %}signup.success_modal.button_msg{% endtrans %}</button>
      </div>
    </div>


{% endblock %}
{% block javascripts %}
  <script src="{{ asset('js/signup.js') }}"></script>
{% endblock %}
