{% extends "layout.html.twig" %}

{% block title %}
{{ 'password_update.title'|trans }}
{% endblock %}

{% block mobile_title %}
{{ 'password_update.title'|trans }}
{% endblock %}

{% block pagename %}
{{ 'password_update.title'|trans }}
{% endblock %}

{% block css %}
  <script type="text/javascript">
    var surl = "{{path('dynamicSearchParticipant')}}";
    var suourl = "{{ url('addAccount') }}";
    var hasNotSetupOrg = parseInt('{{ hasNotSetupOrg }}');
    var landingPageUrl ="{{ url('myActivities') }}";
  </script>
  <style>
      [name*="firmSelector"], .firm-field-zone .select-wrapper input, .firm-field-zone .select-wrapper .caret{
        display:none!important;
      }

      .firm-field-zone{
        position:relative;
      }

      .firm-field-zone .dropdown-content{
        opacity: 1!important;
        display: block!important;
        width: 100%
      }

      .part-feeded{
        text-indent: 3rem;
      }

      .action-buttons{
        margin-top: 20px;
      }

    img{
      width:inherit;
    }

    .input-field{
      position:relative;
    }

    .see-password{
      position: absolute;
      right: 0;
      top: 15%;
    }


  </style>
{% endblock %}

{% block content %}

      {% include "components/background_grid.html.twig" %}

      <div class="small-container">
          <img src="{{ asset('lib/img/logo_dd_p_l.png') }}">
          <div class="card-panel purple lighten-5">

            <h5>{{ not hasConnectedAlready ? 'welcome'|trans ~ ' ' ~ firstname ~ ' !' : firstname ~ ', ' ~ 'password_modify.welcome_msg'|trans }}</h5>
            <span>{{ not hasConnectedAlready ? 'password_update.password_description'|trans : 'password_modify.password_description'|trans}}</span>
            {{form_start(form)}}

            <ul>
              <li>
                <div class="input-field password-field">
                  {{ form_label(form.password.first) }}
                  {{ form_widget(form.password.first) }}
                  <div class="see-password">
                    <div class="eye">
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
                <div class="orange-text text-darken-3 errors">
                  {{ form_errors(form.password.first) }}
                </div>
              </li>
              <li>
                <div class="input-field password-field">
                  {{ form_label(form.password.second) }}
                  {{ form_widget(form.password.second) }}
                  <div class="see-password">
                    <div class="eye">
                      <i class="fa fa-eye"></i>
                    </div>
                  </div>
                </div>
                <div class="orange-text text-darken-3 errors">
                  {{ form_errors(form.password.second) }}
                </div>
              </li>
            </ul>

            <div class="row">
              <div class="button-field col s10">
                {{ form_row(form.submit) }}
              </div>
            </div>

            {{form_rest(form)}}
            {{form_end(form)}}
            
          </div>
      </div>

  

    {#}
    <div class="container">

      <h4>{% trans %}password_update.welcome_msg{% endtrans %} {{ firstname }} !</h4>
      <p>{% trans %}password_update.password_description{% endtrans %}</p>
      {{ form_start(form) }}
      <div class="row">
          <ul class="input-field password">
              <li>
                <div class="eye">
                  <i class="fa fa-2x fa-eye"></i>
                </div>
              </li>
              <li>
                <div class="input-field">
                      {{ form_label(form.password.first) }}
                      {{ form_widget(form.password.first) }}
                    </div>
                  <div class="red-text errors">
                    {{ form_errors(form.password.first) }}
                  </div>
                  </li>
          </ul>
          <ul class="input-field password">
              <li>
                <div class="eye">
                  <i class="fa fa-2x fa-eye"></i>
                </div>
              </li>
              <li>
                <div class="input-field">
                      {{ form_label(form.password.second) }}
                      {{ form_widget(form.password.second) }}
                    </div>
                  <div class="red-text errors">
                    {{ form_errors(form.password.second) }}
                  </div>
                  </li>
          </ul>
      </div>
      <div class="row">
        <div class="button-field col s10" style="margin-bottom: 50px;">
          {{ form_row(form.submit) }}
        </div>
      </div>
      {{ form_rest(form) }}
      {{ form_end(form) }}
    </div>

    #}

    <div id="definePwdSuccess" class="modal">
      <div class="modal-content">
        <p>{% trans %}password_update.success_modal.msg{% endtrans %}</p>
      </div>
      <div class="modal-footer">
        <button class="btn waves-effect waves-light modal-close">{% trans %}password_update.success_modal.button_msg{% endtrans %}</button>
      </div>
    </div>

    {% if hasNotSetupOrg %}
    
      <div id="firstConnectionModal" class="modal">
        
        <div class="modal-content user-inputs">
            <form class="user-inputs">
              <h5>{{ 'activities.first_connection_modal.title'|trans }}</h5>
              <p>{{ 'activities.first_connection_modal.msg'|trans }}</p>
              <div class="input-field firm-field-zone">
                <input class="firm-name" type="text" name="firm">
                <select name="firmSelector" id=""></select>
                <input type="hidden" name="wid">
              </div>

              <div>
                  <input type="checkbox" id="noOrgAssoc" name="noOrgAssoc" class="filled-in"></input>
                  <label for="noOrgAssoc" class="black-text">
                    <i class="fa fa-question-circle tooltipped" data-tooltip="{{ 'signup.personal_usage_tooltip'|trans }}" data-position="top"></i>
                    <span>{{ 'signup.do_not_associate_org'|trans }}</span>
                  </label>
              </div>

              <div class="action-buttons">
                <div class="button-field">
                  <a class="btn waves-light waves-effect set-usr-org-btn">Ok</a>
                </div>
              </div>
            </form>
        </div>
      </div>
    
    {% endif %}

{% endblock %}
{% block javascripts %}

  <script src="{{ asset('js/password_update.js') }}"></script>
{% endblock %}
