{% extends "layout.html.twig" %}

{% if not isRoot %}
  {% set nbFields = 4 %}
  {% set collectionForm = form.parentValidatedInstitutionProcesses %}
  {% set elmtType = 'iprocess' %}
{% else %}
  {% set nbFields = 2 %}
  {% set collectionForm = form.parentValidatedProcesses %}
  {% set elmtType = 'process' %}
{% endif %}

{% set orgId = global.request.get('orgId') %}


{% block title %}
  {% trans %}
  processes.page_title
  {% endtrans %}
{% endblock %}


{% block css %}
  <script type="text/javascript">
    var upaurl = "{{ url('createUserProcessActivity',{inpId : 0}) }}";
    var cpurl = "{{ url('createProcessRequest',{orgId : 0}) }}";
    var dpurl = "{{ url('rejectProcessRequest') }}";
    var vpurl = "{{ url('validateProcessRequest',{entity: currentuser.role == 4 ? 'process' : 'iprocess'}) }}";
    var ipurl = "{{ url('getAllProcessesFromInstitution',{orgId : 0}) }}";
    var orgId = "{{ currentuser.organization.id }}";
    const durl = "{{ url('deleteProcess',{orgId: orgId, entity : currentuser.role == 4 ? 'process' : 'iprocess'}) }}";

    async function onAddProcessClick(selectId) {
        const url = ipurl;
        $concernedProcessSelect = (selectId  == -1) ? $('#requestNewProcess select') :  $('select.family-select').eq(selectId);
        $('.red-text').remove();
        const response = await fetch(url);
        const json = await response.json();
        newOptions = [];
        $.each(json.processes, function(key, process){
            newOptions.push(`<option value="${process.key}" ${process.disabled}>${process.value}</option>`);
            $.each(process.children, function(key, child){
                newOptions.push(`<option class="option-child" value="${child.key}" ${child.disabled}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${child.value}</option>`);
                $.each(child.children, function(key, subchild){
                    newOptions.push(`<option class="option-subchild" value="${subchild.key}" ${subchild.disabled}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${subchild.value}</option>`);
                })
            })
        })
        if(selectId == -1){
          newOptions.unshift('<option value>({% trans %}processes.new_family{% endtrans %})</option>');
        }
        $concernedProcessSelect.empty();
        $concernedProcessSelect.html(newOptions.join(''));
        $concernedProcessSelect.material_select();
    }

    async function onAddParentClick(_institutionId, selectId) {
        const $this = $(this);
        const url = ipurl.replace(0, _institutionId);
        institutionId = _institutionId;
        $concernedParentSelect =  (selectId  == -1) ? $('#validateProcess select') : $('select.parent-select').eq(selectId);
        $initVal =  (selectId  == -1) ? $(event.target).data('pid') : $concernedParentSelect.val();
        $('.red-text').remove();
        const response = await fetch(url);
        const json = await response.json();
        newOptions = [];
        $.each(json.processes, function(key, process){
            newOptions.push(`<option value="${process.key}" ${process.disabled}>${process.value}</option>`);
            $.each(process.children, function(key, child){
                newOptions.push(`<option class="option-child" value="${child.key}" ${child.disabled}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${child.value}</option>`);
                $.each(child.children, function(key, subchild){
                    newOptions.push(`<option class="option-subchild" value="${subchild.key}" ${subchild.disabled}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${subchild.value}</option>`);
                })
            })
        })

        newOptions.unshift('<option value>({% trans %}processes.no_parent_heading{% endtrans %})</option>');
        
        $concernedParentSelect.empty();
        $concernedParentSelect.html(newOptions.join(''));
        if(selectId == -1){
          $concernedParentSelect.find(`option[value="${$('#validateProcess .process-request').data('id')}"]`).remove();
        }
        $concernedParentSelect.val($initVal);
        $concernedParentSelect.material_select()
    }
  </script>
  <style>
    li.element {
      padding-bottom: 3em;
    }

    .process-row:not(:first-child) {
      padding-top: 1em;
    }

    a.request-new-process {
      display: block;
      font-size: .6em;
    }

    .element-name {
      display: flex;
    }

    .element-process {
      background-color: gainsboro;
      border-radius: 2px;
      margin-right: 10px;
      width: 30px;
      text-align: center;
    }

    .process-select .select-dropdown{
      margin:0!important;
    }

    #validateProcess, #requestNewProcess {
      overflow-y: unset;
    }


  </style>
  <!-- Dropify -->
  <link href="{{ asset('css/dropify.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block username %}
  {{ currentuser.firstname }}
  {{ currentuser.lastname }}
{% endblock %}

{% block content %}
  <div class="container" style="width: auto;max-width: none;margin: 0 5vw;">
    {{ form_start(form) }}

    <div style="position:relative;padding-top:20px">
      {% if isRoot %}
        <a href="{{ path('rootManagement') }}" class="btn" style="position:absolute;top: 50%;">{% trans %}processes.go_back_root{% endtrans %}</a>
      {% else %}
        <a href="{{ path('firmSettings') }}" class="btn" style="position:absolute;top: 50%;">{% trans %}processes.go_back{% endtrans %}</a>
      {% endif %}
      <h4 style="text-align:center;font-size: 1.8rem">{% trans %}
        processes.page_title
        {% endtrans %}</h4>
    </div>

    {% set k = -1 %}

    <ul class="processes" data-prototype="{% apply escape %}{% include 'prototype_process.twig' with { 'item': collectionForm.vars.prototype, 'elmtType': elmtType, 'isRoot': isRoot, 'nbFields': nbFields } %}{% endapply %}" style="margin-top:50px">

      {% if currentuser.organization.processes|length > 0 %}
        {% set pendingProcesses = currentuser.organization.pendingProcesses %}
      {% else %}
        {% set pendingProcesses = currentuser.organization.pendingInstitutionProcesses %}
      {% endif %}

      {% for pendingProcess in pendingProcesses %}
        <li class="element">
          <div class="process-row flex-center-sb">
            {% if elmtType != 'process' %}
              <div class="element-data element-process tooltipped" data-position="top" data-tooltip="{{ pendingProcess.name }}" data-delay="50" style="font-size: 17px">
                {{ pendingProcess.name|first|capitalize }}
              </div>
            {% else %}
              <div class="element-data element-process tooltipped" data-position="top" data-tooltip="{% trans %}processes.unrelated{% endtrans %}" data-delay="50" style="font-size: 17px">
                ?
              </div>
            {% endif %}
          
            <span class="pending-process-name">{{ pendingProcess.name }}</span>
            
            <a class="btn-flat">
              {% if pendingProcess.parent is not null %}
                {% if pendingProcess.parent.parent is not null %}
                  {% if pendingProcess.parent.parent.parent is not null %}
                    - {{pendingProcess.parent.parent.parent.name}}
                  {% endif %}
                  - {{pendingProcess.parent.parent.name}}
                {% endif %}
                - {{pendingProcess.parent.name}}
              {% else %}
                {{'processes.new_family'|trans}}
              {% endif %}
            </a>

            <a class="btn waves-green flex-center modal-trigger validate-btn" href="#validateProcess" style="margin-left: auto;" data-id="{{ pendingProcess.id }}" data-pid="{{ pendingProcess.parent ? pendingProcess.parent.id : 0 }}" data-type="{{pendingProcess.process is defined ? 'i' : 'p'}}" onclick="onAddParentClick('{{currentuser.role == 4 ? 0 : currentuser.orgId}}','-1')">
              {{'pending_validation'|trans}}
              <i class="fa fa-gavel" style="margin-left: 5px;"></i>
            </a>
          </div>
        </li>
      {% endfor %}
      
      {% for key, process in collectionForm %}
        {% include "components/process__item.html.twig" with {entity: entity, process: process, order: 1} %}
      {% endfor %}
    </ul>

    <a class="btn waves-effect waves-light insert-btn">
      <i class="fa fa-plus-circle"></i>
      <span>{% trans %}processes.add_button{% endtrans %}</span>
    </a>

    <div class="fixed-action-btn">
      <label class="btn-floating btn-large tooltipped blue darken-3" data-tooltip="{{ 'organization_criteriongroups.tooltips.save_form'|trans }}" data-position="left">
        {{ form_widget(form.submit, { attr: { hidden: '' } }) }}
        <i class="large material-icons">save</i>
      </label>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    
    <div id="requestNewProcess" class="modal">
      <div class="modal-content">
        {{ form_start(requestForm, {attr: {autocomplete: "off"}})}}
        <h5>{{'institutions.add_modal_process.modal_add_title'|trans}}</h5>
        <p>{{'institutions.add_modal_process.link_to_process'|trans}}</p>
        <div>
            {{ form_row(requestForm.name) }}
        </div>
        <div class="input-field">
          {{ form_widget(requestForm.parent) }}
          {{ form_label(requestForm.parent) }}
        </div>
      </div>

      <div class="modal-footer action-buttons">
        <div class="button-field">
          {{ form_row(requestForm.submit) }}
        </div>
      </div>
      {{ form_rest(requestForm) }}
      {{ form_end(requestForm) }}
    </div>

    {% if validateForm is not null %}
    
      <div id="validateProcess" class="modal">
        <div class="modal-content">
          <h5>{{'institutions.validate_modal_process.title'|trans}}</h5>
          <input type="checkbox" id="reject" class="filled-in">
          <label for="reject">{{'institutions.validate_modal_process.reject_option'|trans}}</label>
          <input type="checkbox" id="validate" class="filled-in" checked>
          <label for="validate">{{'institutions.validate_modal_process.validate_option'|trans}}</label>
          {{ form_start(validateForm)}}
          <p>{{'institutions.validate_modal_process.requester_arrangement'|trans}}</p>
          <div>
              {{ form_row(validateForm.name) }}
          </div>
          <div class="input-field">
            {{ form_widget(validateForm.parent) }}
            {{ form_label(validateForm.parent) }}
          </div>
        </div>

        <div class="modal-footer action-buttons">
          <div class="button-field">
            {{ form_row(validateForm.submit) }}
          </div>
        </div>
        {{ form_rest(validateForm) }}
        {{ form_end(validateForm) }}
      </div>

    {% endif %}

    

    <div id="addUserProcessActivitySuccess" class="modal">
      <div class="modal-content">
        {{ 'institutions.add_family_process_activity_success_msg'|trans }}
      </div>
      <div class="modal-footer">
        <a class="modal-close btn">ok</a>
      </div>
    </div>
</div>
<div id="deleteElement" class="modal">
<div class="modal-content">
  <h4>{% trans %}processes.delete_modal.title{% endtrans %}</h4>
  <p>{% trans %}processes.delete_modal.content{% endtrans %}</p>
</div>
<div class="modal-footer">
  <a class=" modal-action modal-close submit-button waves-effect waves-green btn delete-button">{% trans %}processes.delete_modal.confirm{% endtrans %}</a>
  <a class=" modal-action modal-close waves-effect waves-green btn-flat red-text">{% trans %}processes.delete_modal.decline{% endtrans %}</a>
</div></div>{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/login.js') }}"></script>
  <script src="{{ asset('js/processes.js') }}"></script>
  {#<script src="{{ asset('js/institutions.js') }}"></script>#}
  <script>
    $(function () {
        if ($(window).width() >= 700) {
          $('.fixed-action-btn a').css({'height': '60px', 'width': '60px'});
          $('.btn-floating i').css({'line-height': '60px', 'font-size': '2.5rem'});
        }

        $('.institution-select').on('click', function (e) {
          e.preventDefault();
          var institutionVal = $(this).closest('.modal').find('select').val();
          urlToPieces = dupliUrl.split('/');
          urlToPieces[urlToPieces.length - 2] = institutionVal;
          var durl = urlToPieces.join('/');
          window.location = durl;
        });
    });
  </script>
{% endblock %}
