

    {#
    <div class="row">
        <div class="target-title">
            <h4>Department __nb__</h4>
        </div>
        <div class="delete-btn">
            <a class=""> __DeleteButton__</a>
        </div>
    </div>
    #}

    <div class="process-row flex-center-sb">
        <div class="element-data element-name" style="font-size: 17px;display: none;">
        </div>
        <div class="input-field element-input">
            {{ form_row(item.name) }}
        </div>
        <div class="element-input">
            {{ form_widget(item.gradable) }}
            {{ form_label(item.gradable) }}
          </div>
        {% if not isRoot %}
            <div class="element-data element-process" style="font-size: 17px;display: none">
            </div>

            <div class="element-input input-field process-select">
                {{ form_widget(item.process) }}
                {{ form_label(item.process) }}
                <div>
                    <a class="modal-trigger" href="#requestNewProcess" onclick="onAddProcessClick('-1')">
                        <i class="fas fa-plus"></i>{{ 'processes.request_btn'|trans }}
                    </a>
                </div>
            </div>
          <div class="element-data element-master-user" style="font-size: 17px;display: none;">
          </div>
          <div class="element-input input-field">
            {{ form_widget(item.masterUser) }}
            {{ form_label(item.masterUser) }}
          </div>
          
        {% endif %}
        <div class="element-input input-field">
            {{ form_widget(item.parent) }}
            {{ form_label(item.parent) }}
        </div>
        <div class="element-data element-parent" style="font-size: 17px;display: none;">
        </div>

        <div class="">
            <ul class="flex-center">
                <li style="margin-left:auto;margin-right:10px"><a class="validate waves-effect waves-light btn blue darken-2 tooltip"><i class="fa fa-check"></i></a></li>
                <li style="margin-right:10px;display:none">
                    <a class="waves-effect waves-light btn-flat tooltipped" data-position="top" data-tooltip="{% trans %}organization_elements.no_users{% endtrans %}" style="width:75px">
                    {#<i class="fa fa-users"></i>#}
                        <div style="position:relative;display:inline-block">
                            <i class="fa fa-users"></i>
                            <div class="bar"></div>
                        </div>
                    </a>
                </li>
                <li style="margin-right:10px;display:none;"><a class="validate waves-effect waves-light btn tooltipped" href="{{ url('manageActivityElement',{elmtType : elmtType, elmtId : 0}) }}" data-position="top" data-tooltip="{% trans %}organization_elements.targets{% endtrans %}"><i class="fa fa-bullseye"></i></a></li>
                <li><a class="waves-effect waves-light accent-4 btn-flat tooltip remove-element" data-eid="0" data-tooltip="{% trans %}organization_elements.delete_btn{% endtrans %}"><i class="fa fa-trash"></i></a></li>
            </ul>
          </div>
    </div>

