{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}solution.page_name{% endtrans %}
{% endblock %}

{% block css %}
  <!-- Slick slider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
        var rurl = "{{ path('resetPassword') }}";

  </script>
{% endblock %}




  {% block username %}
      {% if currentuser is not null %}
      {{ currentuser.firstname }} {{ currentuser.lastname }}
      {% endif %}
  {% endblock %}


{% block pagename %}
     {% trans %}solution.mobile_header_title{% endtrans %}
{% endblock %}

{% block content %}

  <div class="row">
        <h3 class="center">{% trans %}solution.global_title{% endtrans %}</h3>
        <div class="col m6 l6 s12 center" style="float:none;margin:auto">
         <ul class="flex-center" style="justify-content:space-around">
        <li>
          <div class="flex-center" style="flex-direction:column">
            <div style="position: relative">
              <img src="{{ absolute_url(asset('lib/img/client.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.client{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:blue"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="flex-center" style="flex-direction:column">
            <div style="position: relative">
              <img src="{{ absolute_url(asset('lib/img/manager.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.manager{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:indigo"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="flex-center" style="flex-direction:column">
            <div style="position: relative">
              <img src="{{ absolute_url(asset('lib/img/collaborator.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.collaborator{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:orange"></div>
            </div>
          </div>
        </li>
        <li style="position: relative">
          <div class="flex-center" style="flex-direction:column">
            <div style="position: relative">
              <img src="{{ absolute_url(asset('lib/img/hr.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.hr{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:yellow"></div>
            </div>
          </div>
        </li>
        <li style="position: relative">
          <div class="flex-center" style="flex-direction:column">
            <div style="position: relative">
              <img src="{{ absolute_url(asset('lib/img/decider.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.decider{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:green"></div>
            </div>
          </div>
        </li>
      </ul>
        </div>
      <div class="col m12 l12 s12 center">
        <p class="center">{% trans %}solution.first_explaining_paragraph{% endtrans %}</p>
      </div>
    <div class="col s12 m9 l10">

      <div id="secureBusiness" class="section scrollspy">
        {#<img class="misunderstanding-filter" src="{{ absolute_url(asset('lib/img/misunderstanding.png')) }}" alt="">#}
        <div style="margin:20px 0px 30px 0px">
          <h4 style="display: inline">{% trans %}solution.secure_business.title{% endtrans %}</h4>
           <span style="position: relative;display:inline-block;margin:0px 10px 0px 15px">
            <img src="{{ absolute_url(asset('lib/img/client.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.client{% endtrans %}" data-delay="50" width="25px" height="25px">
            <div class="reduced-user-filter" style="background-color:blue"></div>
          </span>
          <span style="position: relative;display:inline-block;margin:0px 10px 0px 5px">
            <img src="{{ absolute_url(asset('lib/img/manager.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.manager{% endtrans %}" data-delay="50" width="25px" height="25px">
            <div class="reduced-user-filter" style="background-color:indigo"></div>
          </span>
          <span style="position: relative;display:inline-block;margin:0px 5px 0px 5px">
            <img src="{{ absolute_url(asset('lib/img/decider.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.decider{% endtrans %}" data-delay="50" width="25px" height="25px">
            <div class="reduced-user-filter" style="background-color:green"></div>
          </span>
        </div>
        <p>{% trans %}solution.secure_business.p_1.content_beginning{% endtrans %}

        <div class="row">
          <div class="col s9 m4" style="padding: 10px 0px">
              <div class="progress">
                <div class="determinate" style="width: 80%"></div>
              </div>
          </div>
          <div class="col s3 m3">
              <span style="font-size:2rem;font-weight:800">{% trans %}solution.secure_business.p_1.content_pct_1{% endtrans %}</span>
          </div>
        </div>
        <p>{% trans %}solution.secure_business.p_1.content_middle{% endtrans %}</p>

        <div class="row">
          <div class="col s9 m4" style="padding: 3px 0px">
              <div class="progress">
                <div class="determinate" style="width: 8%"></div>
              </div>
          </div>
          <div class="col s3 m3">
              <span style="font-size:1.3rem;color:darkred">{% trans %}solution.secure_business.p_1.content_pct_2{% endtrans %}</span>
          </div>
        </div>
        <p>{% trans %}solution.secure_business.p_1.content_end{% endtrans %} </p>

        <ul style="display:flex;justify-content:flex-start">
          <a class="btn btn-flat white-text waves-effect waves-light" href="{{ path('useCases') }}" style="background-color:#16AFB7; margin: 0px; border: 1px solid #16AFB7" name="" value="home">{% trans %}landing.section_1.bullet_point_2.use_cases_button{% endtrans %}</a>
        </ul>

        <p style="font-style:italic">*{% trans %}solution.secure_business.p_1.content_study_source{% endtrans %} </p>
      </div>
      <div id="easeTeamMgt" class="section scrollspy">
        <div style="margin:20px 0px 30px 0px">
            <h4 style="display:inline">{% trans %}solution.ease_team_mgt.title{% endtrans %}</h4>
            <span style="position: relative;display:inline-block;margin:0px 10px 0px 15px">
              <img src="{{ absolute_url(asset('lib/img/manager.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.manager{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:indigo"></div>
            </span>
            <span style="position: relative;display:inline-block;margin:0px 10px 0px 5px">
              <img src="{{ absolute_url(asset('lib/img/collaborator.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.collaborator{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:orange"></div>
            </span>
        </div>
        <p>{% trans %}solution.ease_team_mgt.p_1.content_beginning{% endtrans %}</p>
        <ul style="list-style-type:disc">
          <li>{% trans %}solution.ease_team_mgt.p_1.reason_1{% endtrans %}</li>
          <li>{% trans %}solution.ease_team_mgt.p_1.reason_2{% endtrans %}</li>
        </ul>
        <p>{% trans %}solution.ease_team_mgt.p_1.content_end{% endtrans %}</p>
      </div>
      <div id="targetPilot" class="section scrollspy">
        <div style="margin:20px 0px 30px 0px">
            <h4 style="display: inline">{% trans %}solution.target_pilot.title{% endtrans %}</h4>
            <span style="position: relative;display:inline-block;margin:0px 10px 0px 15px">
              <img src="{{ absolute_url(asset('lib/img/decider.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.decider{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:green"></div>
            </span>
            <span style="position: relative;display:inline-block;margin:0px 10px 0px 5px">
              <img src="{{ absolute_url(asset('lib/img/manager.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.manager{% endtrans %}" data-delay="50"width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:indigo"></div>
            </span>
            <span style="position: relative;display:inline-block;margin:0px 5px 0px 5px">
              <img src="{{ absolute_url(asset('lib/img/collaborator.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.collaborator{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:orange"></div>
            </span>
        </div>
        <p>{% trans %}solution.target_pilot.p_1.content_beginning{% endtrans %}</p>
        <p>{% trans %}solution.target_pilot.p_1.content_middle{% endtrans %}</p>
        <img src="{{ absolute_url(asset('lib/img/objectives.png')) }}" alt="" style="max-width: 75%;margin: auto;display: block;">

      </div>
      <div id="empower" class="section scrollspy">
        <div style="margin:20px 0px 30px 0px">
            <h4 style="display:inline">{% trans %}solution.empower_workforce.title{% endtrans %}</h4>
            <span style="position: relative;display:inline-block;margin:0px 10px 0px 15px">
              <img src="{{ absolute_url(asset('lib/img/manager.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.manager{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter" style="background-color:indigo"></div>
            </span>
            <span style="position: relative;display:inline-block;margin:0px 10px 0px 5px">
              <img src="{{ absolute_url(asset('lib/img/collaborator.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.collaborator{% endtrans %}" data-delay="50" width="25px" height="25px">
              <div class="reduced-user-filter"  style="background-color:orange"></div>
            </span>
            <span style="position: relative;display:inline-block;margin:0px 5px 0px 5px">
                <img src="{{ absolute_url(asset('lib/img/hr.png')) }}" class="tooltipped" data-position="top" data-tooltip="{% trans %}solution.hr{% endtrans %}" data-delay="50" width="25px" height="25px">
                <div class="reduced-user-filter" style="background-color:yellow"></div>
            </span>
        </div>
         <p>{% trans %}solution.empower_workforce.p_1.content_beginning{% endtrans %}
         <span style="font-style:italic">{% trans %}solution.empower_workforce.p_1.empowerment{% endtrans %}</span>,
         {% trans %}solution.empower_workforce.p_1.content_middle{% endtrans %},
         <span style="text-decoration:underline">{% trans %}solution.empower_workforce.p_1.content_middle_underlined{% endtrans %}</span>
         </p>
           {% trans %}solution.empower_workforce.p_1.content_end{% endtrans %}</p>
        <p>{% trans %}solution.empower_workforce.p_2.content{% endtrans %}</p>
      </div>


    </div>
    <div class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents" style="position: fixed">
          <li><a href="#secureBusiness">{% trans %}solution.table_of_contents.secure_business{% endtrans %}</a></li>
          <li><a href="#easeTeamMgt">{% trans %}solution.table_of_contents.ease_team_mgt{% endtrans %}</a></li>
          <li><a href="#targetPilot">{% trans %}solution.table_of_contents.target_pilot{% endtrans %}</a></li>
          <li><a href="#empower">{% trans %}solution.table_of_contents.empower_workforce{% endtrans %}</a></li>
      </ul>
    </div>
  </div>


  <div id="login" class="modal {% if error %}error{% endif %}">
    <form id="formLogin" action="{{ path('admin_login_check') }}" method="post" class="container">
      <div class="modal-content row">
        <h4>Login</h4>
          {{ error }}
        <div class="input-field">
          <input type="text" name="_username" placeholder="{% trans %}landing.login_section.username{% endtrans %}" value="{{ last_username }}" required="required"/>
        </div>
        <div class="input-field">
          <input type="password" name="_password" placeholder="{% trans %}landing.login_section.password{% endtrans %}" value="" required="required"/>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
      <div>
          <input type="checkbox" class="filled-in" id="remember_me" name="_remember_me" checked />
          <label for="remember_me">{% trans %}landing.keep_me_logged_in{% endtrans %}</label>
      </div>
      </div>
      <div class="modal-footer row">
        <a class=modal-trigger href="#retrievePwd">{% trans %}landing.retrieve_pwd.link_msg{% endtrans %}</a>
        <button class="btn waves-effect waves-light" type="submit" name="_target_path" value="home">{% trans %}landing.login_section.button_text{% endtrans %}</button>
      </div>
    </form>
  </div>
  <div id="retrievePwd" class="modal">
    <div class="container">
      <div class="modal-content">
        <p>{% trans %}landing.retrieve_pwd.msg{% endtrans %}</p>
        <p>{% trans %}landing.retrieve_pwd.msg_2{% endtrans %}</p>
      </div>
      <form id=retrievePwdForm action="" method="post">
        <input type="email" name="email" required="required"/>
        <div class="modal-footer">
          <button type="submit" name="" value="home" class="btn waves-effect waves-light modal-close">{% trans %}landing.retrieve_pwd.submit{% endtrans %}</button>
        </div>
      </form>
    </div>
  </div>
  <div id="retrievePwdSuccess" class="modal">
    <div class="modal-content">
      <p>{% trans %}landing.retrieve_pwd.success_msg{% endtrans %}</p>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light modal-close">{% trans %}Ok{% endtrans %}</button>
    </div>
  </div>

    {% endblock %}


    {% block javascripts %}

      <script src="{{ absolute_url(asset('js/home.js')) }}"></script>
      <script>
        $(function(){
          $('.scrollspy').scrollSpy();
          $('.tooltipped').tooltip();
        })
      </script>
    {% endblock %}
