

{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}user_update.page_title{% endtrans %}
{% endblock %}

{% block pagename %}
    {% trans %}user_update.mobile_header_title{% endtrans %}
{% endblock %}

{% form_theme form _self %}

{% block form_label %}
    {{ label|raw }}
{% endblock %}

{% set user = form %}
{% set userData = form.vars.data %}

{% set canModify = true %}

{% block css %}
    <script type="text/javascript">
        var creationPage = "{{ creationPage }}";
        var posTitleMsg = "{% trans %}create_position.title_msg{% endtrans %}";
        var dptTitleMsg = "{% trans %}create_department.title_msg{% endtrans %}";
        var titTitleMsg = "{% trans %}create_title.title_msg{% endtrans %}";
        var wgtTitleMsg = "{% trans %}create_weight.title_msg{% endtrans %}";
        var posContentMsg = "{% trans %}create_position.content_msg{% endtrans %}";
        var dptContentMsg = "{% trans %}create_department.content_msg{% endtrans %}";
        var titContentMsg = "{% trans %}create_title.content_msg{% endtrans %}";
        var wgtContentMsg = "{% trans %}create_weight.content_msg{% endtrans %}";
        var posSuccessMsg = "{% trans %}create_position.success_msg{% endtrans %}";
        var dptSuccessMsg = "{% trans %}create_department.success_msg{% endtrans %}";
        var titSuccessMsg = "{% trans %}create_title.success_msg{% endtrans %}";
        var wgtSuccessMsg = "{% trans %}create_weight.success_msg{% endtrans %}";
        var wgtLabel = "{% trans %}create_user.weight_label{% endtrans %}";
        var nonWgtLabel = "{% trans %}create_user.non_weight_label{% endtrans %}";
        var eurl = "{{ url('validateOrganizationElement',{orgId: orgId, entity: 'department', elmtId : 0 }) }}";
        const usersUrl = "{{ url('manageUsers') }}";
    </script>

    <style>
    
        #main-header{
            --actions-width: 200px;
            --padding: 16px;
            display: flex;
            justify-content: center;
            padding: 1em;
            margin-bottom: 2em;
            position: relative;
        }

        header .page-title{
            display: inline-block;
            text-align: center;
        }

        footer{
            padding-bottom: 40px;
        }

        .user-title {
            padding: 0 0.75rem;
        }

        .page-title{
            font-size: 30px;
        }

        .back-btn{
            position: absolute;
            left: 40px;
        }

        .profile{
            width: 90%;
            margin: 0 auto;
        }

        .user-btn {
            background-color: aliceblue;
            color: black;
        }
        
        .user-credentials{
          display: flex;
          position: relative;
        }

        .user-modify{
          position: absolute;
          right: 0;
          top: 10%;
        }

        .user-info{
            margin-left: 3em;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .user-dpt{
            display: flex;
            margin-left: auto;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        .firm-logo{
            height: 15px;
        }

        .user-s-info{
            padding: 100px 0;
        }

        .user-submit{
          display: inline-block;
        }

        .user-action-buttons{
          margin-left: auto;
          padding: 0 0.75rem;
        }

    </style>
{% endblock %}

{% block content %}

    <main>

        <header id="main-header" class="no-margin">
            <a class="waves-effect waves-green btn back-btn" href="{{ url('manageUsers')}}">{{ 'team.go_back_users'|trans }}</a>
            <span class="page-title">{{ creationPage ? 'create_user.page_title'|trans : (canModify and currentuser != form.vars.data ? 'user_update.page_title'|trans : 'Mon profil'|trans) }}</span>
        </header>

        <div class="profile">
            {% include "prototype/user_item.html.twig" with { item: form, enabledCreatingUser : false, key: 0 } %}        
      </div>
    </main>

    <div id="addElement" class="modal">
        {{ form_start(organizationElementForm) }}
        <div class="modal-content">
            <h5></h5>
            <p></p>
            {{ form_label(organizationElementForm.name) }}
            {{ form_widget(organizationElementForm.name) }}
            {{ form_errors(organizationElementForm.name) }}
        </div>

        <div class="modal-footer action-buttons">
            <div class="button-field">
              <a class=" modal-action modal-close submit-button waves-effect waves-red red btn">{% trans %}activities.create.delegate_back_btn_msg{% endtrans %}</a>
            </div>
            <div class="button-field">
                {{ form_row(organizationElementForm.submit) }}
            </div>
            {{ form_rest(organizationElementForm) }}
            {{ form_end(organizationElementForm) }}
        </div>
    </div>

    <div id="addElementSuccess" class="modal">
      <div class="modal-content">
          <p></p>
      </div>
      <div class="modal-footer">
          <div class="button-field">
          <a class=" modal-action modal-close waves-effect btn btn-large">Ok</a>
          </div>
      </div>
    </div>

    <div id="deleteModal" class="modal">
      <div class="modal-content">
          <h4>{% trans %}user_update.delete_modal.title{% endtrans %}</h4>
          <p>{% trans %}user_update.delete_modal.content_1{% endtrans %} {{ userData.firstname }} {{ userData.lastname }}{% if currentuser.organization == userData.organization or currentuser.role == 4 %} {% trans %}user_update.delete_modal.content_2{% endtrans %}{% else %} {% trans %}user_update.delete_modal.content_ext_user{% endtrans %}{% endif %}</p>
      </div>
      <div class="modal-footer">
          <a class=" modal-action modal-close submit-button waves-effect waves-green btn-large delete-button">{% trans %}user_update.delete_modal.confirm{% endtrans %}</a>
          <a class=" modal-action modal-close waves-effect waves-green btn-flat red-text">{% trans %}user_update.delete_modal.decline{% endtrans %}</a>
      </div>
    </div>

    {% if not form.vars.valid %}
        <div id="errors" class="modal">
            <div class="modal-content">
                <h5>{{ 'activities.modal_error_creation_title'|trans }}</h5>
                {% for child in form.children %}
                    {% if child.vars.valid is defined and not child.vars.valid %}
                    <div style="margin-left: 20px;">{{ form_label(child) }}<span style="display:inline-block;width: 30%;"></span> {{ form_errors(child) }}</div>
                    {% endif %}
                {% endfor %}

            </div>

            <div class="modal-footer">
                <a class=" modal-action modal-close waves-effect waves-green btn-large notifyModalClose">Ok</a>
            </div>
        </div>
	{% endif %}
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user_create.js') }}"></script>
    <script>
        $(function(){
            $('select').material_select();
        })
    </script>
{% endblock %}
