{% extends "layout.html.twig" %}

{% block title %}
    {% trans %}user_no_token.title{% endtrans %}
{% endblock %}


  {% block css %}
      <style>

          .db-LoginBackground-gridContainer{
            display: grid;
            -ms-grid-columns: [start] 1fr [left-gutter] (86.6px)[16] [left-gutter] 1fr [end];
            grid-template-columns: [start] 1fr [left-gutter] repeat(16,7vw) [left-gutter] 1fr [end];
            -ms-grid-rows: [top] 1fr [top-gutter] (64px)[8] [bottom-gutter] 1fr [bottom];
            grid-template-rows: [top] 1fr [top-gutter] repeat(8,64px) [bottom-gutter] 1fr [bottom];
            justify-content: center;
            margin: 5% -2%;
            transform: rotate(-12deg) skew(-12deg);
            position: absolute;
            bottom: 0;
            z-index:-1;
          }

          .Box-background--blue {
            background-color: #5469d4;
          }

          .Box-background--orange {
            background-color: #ffbd45;
          }

          .Flex-flex {
            display: flex;
          }

          img{
            width: inherit;
          }

          .email-field{
            position: relative;
          }

          .email-field button{
            position: absolute;
            right: 0;
            top: 0%;
          }

      </style>

  {% endblock %}


{% block pagename %}
    {% trans %}user_no_token.mobile_header_title{% endtrans %}
{% endblock %}

{% block username %}
  {{ currentuser.firstname }}
  {{ currentuser.lastname }}
{% endblock %}

{% block content %}

      <div class="db-LoginBackground-gridContainer">
        <div class="Box-root Flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="Box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 6 / start / auto / 5;">
          <div class="Box-root Box-background--blue" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="Box-root Box-background--orange" style="flex-grow: 1;">
          </div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="Box-root Box-background--gray100" style="flex-grow: 1;">
          </div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="Box-root Box-background--orange" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="Box-root Box-background--blue" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="Box-root Box-background--gray100" style="flex-grow: 1;"></div>
        </div>
        <div class="Box-root Flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
        </div>
      </div>

      <div class="small-container">
          <img src="{{ asset('lib/img/logo_dd_p_l.png') }}">
          <div class="card-panel purple lighten-5">
            <div class="row center no-margin">
              <h5>{% trans %}user_no_token.title{% endtrans %}</h5>
              <p>{% trans %}user_no_token.description{% endtrans %}</p>
            </div>
            <div class="row">
              <form id="retrievePwdForm" action="" method="post">
                <div class="input-field email-field btn-disabled">
                  <input type="email" name="email" required="required">
                  <button type="submit" name="" value="home" class="btn waves-effect waves-light disabled-btn btn-reduced-padding">{% trans %}landing.retrieve_pwd.submit{% endtrans %}</button>
                </div>
              </form>
            </div>
            <div class="row col center">
              <div class="button-field">
                <a class="btn btn-large waves-effect waves-light" href="{{ url('login') }}">{% trans %}user_no_token.home_button_title{% endtrans %}</a>
              </div>
            </div>
          </div>
      </div>

    {#
    <div class="container">
      <div class="row center">
        <img src="{{ asset('lib/img/missing-target.png') }}" alt="">
        <h5>{% trans %}user_no_token.title{% endtrans %}</h5>
        <p>{% trans %}user_no_token.description{% endtrans %}</p>
      </div>
      <div class="row">
        <form id="retrievePwdForm" action="" method="post">
          <input type="email" name="email" required="required">
          <button type="submit" name="" value="home" class="btn waves-effect waves-light modal-close">{% trans %}landing.retrieve_pwd.submit{% endtrans %}</button>
        </form>
      </div>
      <div class="row col center">
        <div class="button-field">
          <a class="btn btn-large waves-effect waves-light" href="{{ url('login') }}"><i class="fa fa-home" aria-hidden="true"></i>{% trans %}user_no_token.home_button_title{% endtrans %}</a>
        </div>
      </div>
    </div>
    #}
{% endblock %}

{% block javascripts %}
  <script>
    
    $(function(){
      $('input[type="email"]').on('keyup',function(){
          if(isEmail($(this).val())){
            $('.email-field button').removeClass('btn-disabled');
          }
      })
    })
  
  </script>
{% endblock %}
