{% extends "layout.html.twig" %}

{% import "macros/user_list__macros.html.twig" as macros %}

{% block data_params %}
  {{ global.html_data_params({
    'set-client-icon': url('setClientIcon', { clientId: 0 })|raw
  }) }}
{% endblock %}

{% block title %}
  {{ 'user_list.page_title'|trans }}
{% endblock %}

{% block mobile_title %}
  {{ 'user_list.page_title'|trans }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('build/user_list.css') }}">
  <link rel="stylesheet" href="{{ asset('css/add_client_user_modal.css') }}">
  <style>
    .nb-activities{
      margin-left: auto;
      background-color: #e6d9f1;
      border-radius: 10px;
      padding: 0 0.4rem;
      font-size: 1rem;
      width:77px;
      justify-content:center;
    }

    .client-individuals .user-picture{
      font-size:2.5rem;
    }

    .client-individuals .nb-activities{
      height: 23px;
    }

    .add-user-btn:hover {
      background-color: #ff9300;
    }

    #updateUser .user-picture{
      border-radius: 50%;
      width: 2em;
      height:2em;
    }

    #updateUser .username-data{
      padding-left: 0.75rem;
      min-height:66px;
    }

    .change-username{
      pointer-events:all!important;
      font-size:20px;
      cursor: pointer;
    }

    .account-mention{
      padding-left: 3em;
    }

  </style>
  <script>
    var surl = "{{ path('dynamicSearch') }}";
    var acurl = "{{ path('addClient') }}";
    var auurl = "{{ path('addUser') }}";
    var aeuurl = "{{ path('addClientUser', {cliId:0}) }}";
    var alreadyExistingMsg = "{{ 'already_existing'|trans }}";
    var dcurl = "{{ path('clientDelete', {cliId: 0}) }}"
    var duurl = "{{ path('deleteUser', {usrId: 0}) }}"
    var ucuurl = "{{ url('updateClientUser', {cliId: 0, extUsrId: 0 }) }}";
    var uuurl = "{{ url('updateUser', {usrId: 0 }) }}";
    var privateMsg = "{{ 'private'|trans }}";
    var independentMsg = "{{ 'independant'|trans|capitalize }}";
  </script>
{% endblock %}

{% set user_icon %}
  <i class="fa fa-user"></i>
{% endset %}


{% block content %}
  {% set organization = currentuser.organization %}
  <main>
    <ul class="flex-center-fs">
      <a class="btn-flat no-margin flex-center my-account account-mention dd-text">
        <span >{{ 'my_account'|trans}}</span>
        <img class="account-logo sm-left sm-right" src="{{ asset(global.organizationLogo(organization)) }}">
        <span class="strong {{organization.type == 'C' or organization.type == 'I' ? 'dd-orange-text' : ''}}">{{ organization.type == 'C' ? 'profile.private_suffix'|trans : (organization.type == 'I' ? 'profile.independant_suffix'|trans : organization.commname) }}</span>
      </a>
    </ul>
    <div class="user-search-container" style="display:none">
      {#}
      <input type="text" id="user-search" class="browser-default"
        spellcheck="false" placeholder="Recherche rapide" autocomplete="off">
      <i class="material-icons">search</i>
      #}
    </div>
    <section id="main-tabs-container">
      <ul class="tabs tabs-fixed-width">
        <li class="tab">
          <a href="#clients">{{ 'user_list.external_users_tab'|trans }}</a>
        </li>
        {#
        <li class="tab">
          <a href="#teams">{{ 'user_list.teams_tab'|trans }}</a>
        </li>
        #}
        <li class="tab">
          <a href="#users">{{ 'user_list.internal_users_tab'|trans }}</a>
        </li>
      </ul>

      <section id="users">
        <ul class="departments-list" data-prototype-department="{% apply escape %}{% include "components/department_list__item.html.twig" %}{% endapply %}" data-prototype-user="{% apply escape %}{% include "components/user_list__item.html.twig" %}{% endapply %}">
          {% for department in viewableDepartments %}
            {% set my_dpt = department == currentuser.department %}


            {% include "components/department_list__item.html.twig" with {department: department} %}

          {% endfor %}

          <li class="department-list--item hierarchized-item no-department-holder">
            <header class="{{ not currentuser.department ? 'my-dpt' }}">
              <em>          
                {{'<span>no_attrib_dept</span> (<span class="nb-department-users">nbDptUsers</span>)'|replace({
                    'no_attrib_dept' :  'user_list.no_attributed_department_title'|trans,
                    'nbDptUsers' : usersWithoutDpt|length,
                })|raw }}
              </em>
            </header>
            <div class="item-body">
              <ul class="users-list">
                {% for user in usersWithoutDpt %}
                  {#{% include "components/user_list__item.html.twig" with { user: user, stats: currentuser.role == 1 or currentuser.role == 4, roles: currentuser.role == 1 or currentuser.role == 4 } %}#}
                  {% include "components/user_list__item.html.twig" with { user: user, settings: currentuser.role == 1, stats: false } %}
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </section>

      {#
      <section id="teams">
        <ul class="teams-list">
          {% for team in viewableTeams|merge(dealingTeams) %}
            {% include "components/user_list__teams_item.html.twig" with { team: team } %}
          {% endfor %}
        </ul>
      </section>
      #}

      <section id="clients">
        <ul class="client-type-list client-employees" data-prototype-client="{% apply escape %}{% include "components/user_list__firm_item.html.twig" %}{% endapply %}" data-prototype-user="{% apply escape %}{% include "components/user_list__ext_user_item.html.twig" %}{% endapply %}">
          {% include "components/user_list__firms_item.html.twig" with { clients: clientFirms } %}
        </ul>
        {#
        <ul class="client-type-list">
          {% include "components/user_list__ext_team_item.html.twig" with { firms: clientTeams } %}
        </ul>
        #}
        <ul class="client-type-list client-individuals" data-prototype-client="{% apply escape %}{% include "components/user_list__item.html.twig" with {isIndivIndep: true, settings:true, roles: false} %}{% endapply %}">
          {% include "components/user_list__individuals_item.html.twig" with { clients: clientIndividuals } %}
        </ul>
      </section>
    </section>
    
    {% set user_create_route = is_root ? 'rootCreateUser' : 'createUser' %}
    
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large add-user-btn tooltipped modal-trigger" href="#addUserClient" data-tooltip="{{'user_list.add_user_btn_tooltip'|trans}}" data-position="top">
        <i class="large mi add"></i>
      </a>

      {#
      <ul>
        <li>
          <a href="{{ url(user_create_route, { orgId: currentuser.organization }) }}"
            class="btn-floating btn-large blue tooltipped"
            data-position="left"
            data-tooltip="{{ 'tooltip.user.create_internal'|trans }}">
            <i class="material-icons">person</i>
          </a>
        </li>
        <li>
          <a href="{{ url('createTeam') }}"
          class="btn-floating btn-large blue tooltipped"
          data-position="left"
          data-tooltip="{{ 'tooltip.user.create_int_team'|trans }}">
            <i class="material-icons">people</i>
          </a>
        </li>
        <li>
          <a href="{{ url('createClient') }}"
            class="btn-floating btn-large cyan tooltipped"
            data-position="left"
            data-tooltip="{{ 'tooltip.user.create_external'|trans }}">
            <i class="material-icons">perm_identity</i>
          </a>
        </li>
      </ul>
      #}
    </div>

    <a id="scrolltop" href="#serpicoapp" class="btn-floating btn-large blue">
      <i class="mi arrow_upward"></i>
    </a>

    <div id="client-icon-modal" class="modal">
      <div class="modal-content">
        <div id="client-icon-dropzone" class="dropzone"></div>
      </div>
      <div class="modal-footer">
        <button id="client-icon-upload-btn" type="button" class="btn">ok</button>
      </div>
    </div>
  </main>

  <div id="deleteClient" class="modal">
    <div class="modal-title"></div>
    <div class="modal-content">
      <h5>{% trans %}client.delete_external_user.modal_title{% endtrans %}</h5>
      <p>{% trans %}client.delete_external_user.modal_content{% endtrans %}</p>
      <div class="flex-center-fe">
        <a class="btn waves-effect waves-light modal-close remove-client">{% trans %}stages.deleteStage.accept{% endtrans %}</a>
        <a class="waves-effect waves-light modal-close btn-flat red-text">{% trans %}stages.deleteStage.cancel{% endtrans %}</a>
      </div>
    </div>
  </div>
  
  <div id="deleteClient" class="modal">
    <div class="modal-title"></div>
    <div class="modal-content">
      <h5>{% trans %}client.delete_external_user.modal_title{% endtrans %}</h5>
      <p>{% trans %}client.delete_external_user.modal_content{% endtrans %}</p>
      <div class="flex-center-fe">
        <a class="btn waves-effect waves-light modal-close remove-client">{% trans %}stages.deleteStage.accept{% endtrans %}</a>
        <a class="waves-effect waves-light modal-close btn-flat red-text">{% trans %}stages.deleteStage.cancel{% endtrans %}</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script defer src="{{ asset('build/user_list.js') }}"></script>
  <script>
      $(function(){

        $(document).on('click','.remove-client',function(){
          id = $(this).data('id');
          urlToPieces = dcurl.split('/');
          urlToPieces[urlToPieces.length - 2] = id;
          url = urlToPieces.join('/');
          $.delete(url,null)
              .done(function(){
                  $(`.client-individuals .users-list--item[data-id="${id}"]`).remove();
                  nbIndivIndeps = parseInt($('.nb-individuals-indep').text());
                  $('.nb-individuals-indep').empty().text(nbIndivIndeps - 1);
                  if(nbIndivIndeps == 0){
                    $('.client-individuals .no-items-placeholder').text($('.client-individuals .user-list').data('no-user-msg'));
                  }
              })
              .fail(function(data){
                  console.log(data);
              })
        })

        $(document).on('click','[href="#deleteClient"]',function(){
            $('.remove-client').data('id',$(this).closest('.users-list--item').data('id'));
        });

        $(document).on('mouseover','.firms-list--item header',function(){
            $(this).find('.user-actions .firm-modify-btn').css('visibility','');
        }).on('mouseleave','.firms-list--item header',function(){
            $(this).find('.user-actions .firm-modify-btn').css('visibility','hidden');
        })

        $(document).on('mouseover','.departments-list .users-list--item header, .client-individuals .users-list--item header',function(){
            $(this).find('.user-actions a').css('visibility','');
        }).on('mouseleave','.departments-list .users-list--item header, .client-individuals .users-list--item header',function(){
            $(this).find('.user-actions a').css('visibility','hidden');
        })

        $('.add-user-btn').on('click',function(){
          setTimeout(function(){
            $('#addUserClient').find('[class*="-part"]:visible').addClass('initial-part');
          },200);
        });

      })  
  </script>

{% endblock %}
