{% extends "layout.html.twig" %}

{% block title %}
    {{'profile.page_title'|trans}}
{% endblock %}

{% block pagename %}
    {{'profile.page_title'|trans}}
{% endblock %}

{% block css %}
    <script>

        {#
        var surl = "{{ path('dynamicSearchParentFirm')}}";
        var gurl = "{{ path('getFirmFromId',{'wfiId' : 0})}}";
        var smurl = "{{ path('sendProspectMail',{'winId' : 0})}}";
        {% if workerIndividual is defined %}
            var murl = "{{ url('validateWorkerEmailFromSelfPage', {'wiId' : workerIndividual.id, 'firstname': 'a', 'lastname': 'b', 'male' : 1, 'wiEmail' : 'a'}) }}";
        {% else %}
            var murl = "{{ url('validateWorkerEmailFromSelfPage', {'wiId' : 0, 'firstname': 'a', 'lastname': 'b', 'male' : 1, 'wiEmail' : 'a'}) }}";
        {% endif %}
        #}

        var suurl = "{{ path('saveUserSelfModifications') }}";
        var upurl = "{{ path('updatePicture') }}";
        var pmurl = "{{ path('passwordSelfModification') }}"
    </script>
    <style>
        .firm-option-logo{
            float: left!important;
        }
        .firm-input-logo{
            position: absolute;
            height: 20px;
            margin: auto 0;
            top: 0;
            left: 0;
            bottom: 0;
        }

        /*.w-firm .select-dropdown{
            width: 90%!important;
            padding-left: 25px!important; 
        }*/

        .dropdown-content{
            opacity: 1!important;
            display: block!important;
        }

        .select-wrapper input, .select-wrapper .caret{
            display: none!important;
        }

        .title-header{
            padding: 20px 0;
        }

        .page-title{
            display: inline-block;
            margin: auto;
        }

        .field-name{
            flex: 0 0 25%;
        }

        .modify-btn{
            border: 1px solid #55318e;
        }

        .cancel-btn{
            border: 1px solid orange;
        }

        .return-btn{
            color:black;
        }

        .modify-btn i{
            font-size: 15px;
        }

        .modify-btn:hover{
            background-color: #55318e;
            color: #ff9300;
            transition: 0.3s ease-out;
            border: 1px solid #55318e;
        }

        .save-btn:hover{
            color: #ff9300;
        }

        .element-input{
            display:none;
        }

        .user-fields > * {
            min-height:46px;
        }

        .user-email{
            min-width: 300px;
        }

        .m-pwd-btn{
            background-color: aliceblue;
            height: 30px;
            line-height: 30px;
            color: black;
        }

        .save-btn, .modify-btn{
            width:160px;
            text-align: center;
        }

        .disabled-btn{
            pointer-events: none;
            background-color: #55318e85;
        }

        .add-photo-btn{
            position: absolute; 
            top: 84%; 
            left: 4.5rem;
        }

        .user-picture{
            border-radius: 100%;
            border:1px solid purple;
        }
    
    </style>
{% endblock %}

{% block content %}
    {% set now = "now"|date("Y/m/d") %}
        <main>
            <div class="" style="width: 85%;margin:auto">
                {{ form_start(form) }}
                
                <div class="">

                    <div class="flex-center title-header">
                        <a href="{{ path('home') }}" class="return-btn btn">
                            Retour
                        </a>
                        <h4 class="page-title">{{'Mes informations'|trans}}</h4>
                        <a class="btn-flat cancel-btn" style="visibility:hidden">{{'cancel'|trans}}</a>
                        <a class="m-left modify-btn btn-flat dd-text">
                            <span class="m-right">{{'modify'|trans}}</span>
                            <i class="fa fa-pen"></i>
                        </a>

                        {{ form_row(form.submit) }}
                    </div>
                    <section class="user-credentials"> 
                        <div class="row flex-center">
                        
                            <div class="col s12 m3" style="position: relative">
                                <img class="clickable-image user-picture" src="{{ asset(global.userpicture(currentuser)) }}" width="150px" height="150px">
                                <a class="btn-floating add-photo-btn clickable-image"><i class="fa fa-camera"></i></a>
                            </div>
                
                            <div class="col s12 m9 c-flex user-fields" style="flex-grow: 1;">
                            
                                <div class="flex-center">
                                    <span class="field-name">{{'name'|trans|capitalize}}</span>
                                    <span class="element-data">{{ currentuser.fullname }}</span>
                                    <div class="element-input">
                                        {#
                                        <div class="" style="display: inline-block;">
                                            {{ form_row(form.male) }}
                                        </div>
                                        #}
                                        <div class="input-field no-margin" style="display: inline-block;">
                                            {{ form_label(form.firstname) }}
                                            {{ form_widget(form.firstname, {attr:{style: "margin:0"}}) }}
                                        </div>
                                        <div class="input-field no-margin" style="display: inline-block;">
                                            {{ form_label(form.lastname) }}
                                            {{ form_widget(form.lastname, {attr:{style: "margin:0"}}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-center">
                                    <span class="field-name">{{'email'|trans|capitalize}}</span>
                                    <span class="element-data">{{ currentuser.email }}</span>
                                    <div class="element-input user-email">
                                        {{ form_row(form.email) }}
                                    </div>
                                </div>

                                <div class="flex-center">
                                    <span class="field-name">{{'password'|trans|capitalize}}</span>
                                    <span class="element-data">••••••••</span>
                                    <div class="element-input">
                                        <a class="btn m-pwd-btn modal-trigger" href="#modifyPassword">{{'mails.passwordModify.button_text'|trans ~ '...'}}</a>
                                    </div>

                                </div>
                            
                                <div style="margin-left: auto;margin-right:2.5%">
                                    
                                </div>
                            </div>

                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </section>
                    {#
                    <ul class="element-input flex-center" style="display: none;justify-content:space-between;flex-grow:1">
                        <li>
                            <ul class="flex" style="flex-direction: column;">
                                <li>
                                    <div class="" style="display: inline-block;">
                                        {{ form_row(form.male) }}
                                    </div>
                                    <div class="input-field" style="display: inline-block;">
                                        {{ form_label(form.firstname) }}
                                        {{ form_widget(form.firstname, {attr:{style: "margin:0"}}) }}
                                    </div>
                                    <div class="input-field" style="display: inline-block;">
                                        {{ form_label(form.lastname) }}
                                        {{ form_widget(form.lastname, {attr:{style: "margin:0"}}) }}
                                    </div>
                                </li>
                                <li>
                                    <div class="">
                                        {{ form_row(form.email) }}
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li style=""><a class="validate-profile-info-btn waves-effect waves-light btn blue darken-2 tooltip"><i class="fa fa-check"></i></a></li>
                    </ul>
                    #}
                </div>
                
                {#
                <ul class="experiences" style="margin-top:3em" data-prototype="{% apply escape %}{% include 'prototype_experience.twig' with { 'item': form.experiences.vars.prototype } %}{% endapply %}">
                    {% set k = 0 %}
                    {% for key, experience in form.experiences %}
                        {% set k = k + 1 %}
                        

                        <li class="row element-data" style="width:95%;">
                            <ul class="flex-center" style="justify-content:space-between">
                                <li>
                                    <div style="font-size:17px">{{experience.vars.data.position}}</div>
                                    <div>{{experience.vars.data.firm.name}}</div>
                                </li>
                                <li style="margin-left: auto;">
                                    {% set startdate = experience.vars.data.startdate %}
                                    {% set enddate = experience.vars.data.enddate %}

                                    {% if startdate is not null and enddate is not null %}
                                        <span>
                                            {{ experience.vars.data.startdate|format_date('short', 'none', null, null, 'MM/yy') }} -
                                            {{ experience.vars.data.enddate|format_date('short', 'none', null, null, 'MM/yy') }}
                                        </span>
                                    {% elseif enddate is null %}
                                        <span>
                                            {{ experience.vars.data.startdate|format_date('short', 'none', null, null, 'MM/yy') }} -
                                            Present
                                        </span>
                                    {% elseif startdate is null and enddate is null %}
                                        <span> Dates non précisées </span>
                                    {% endif %}
                                </li>
                                <li>
                                    <a class="modify-experience-btn btn-flat" style="margin-left: auto;">
                                        <i class="fa fa-pencil-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                                        
                        <li class="experience element-input" style="width:95%;display:none">
                            <ul class="flex-center row" style="justify-content: space-between;">
                                <li class="stage-title">
                                    <h4> {% trans %} worker_individual_data.experience.title {% endtrans %} {{ k }}</h4>
                                </li>
                                <li style="margin-left:auto;margin-right:10px"><a class="validate-experience-btn waves-effect waves-light btn blue darken-2 tooltip"><i class="fa fa-check"></i></a></li>
                            </ul>
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    {{ form_row(experience.position) }}
                                </div>
                                <div class="input-field w-firm col s12 m4">
                                    {{ form_row(experience.firm,{attr:{class:"no-margin"}}) }}
                                    <select name="firmSelector" style="margin-top:45px"></select>
                                </div>
                                <div class="col s12 m4">
                                    {{ form_widget(experience.active) }}
                                    {{ form_label(experience.active) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 m4">
                                    {{ form_row(experience.location) }}
                                </div>
                                <div class="col s12 m4">
                                    {{ form_row(experience.startdate) }}
                                </div>
                                <div class="col s12 m4">
                                    {{ form_row(experience.enddate) }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    <a href="#" class="waves-effect waves-light btn insert-experience-btn"><i class="fa fa-plus" style="margin-right: 10px;"></i><span>Ajouter une expérience</span></a>
                </ul>
                #}

                <div id="modifyPassword" class="modal">
                    {{form_start(passwordModificationForm)}}
                    <div class="modal-content">
                        <p>{{ 'profile.manage.password_modification_modal.title'|trans }}</p>
                        
                        <div class="input-field">
                            {{form_row(passwordModificationForm.password)}}
                        </div>
                        <div class="input-field">
                            {{form_row(passwordModificationForm.newPassword)}}
                        </div>
                    </div>
                    <div class="modal-footer action-buttons">
                    <div class="button-field">
                        {{form_row(passwordModificationForm.submit)}}
                    </div>
                    </div>
                    {{form_rest(passwordModificationForm)}}
                    {{form_end(passwordModificationForm)}}
                </div>

                <div id="successUploadedPicture" class="modal">
                    <div class="modal-content">
                    <p>{{ 'profile.file.success.modal_content'|trans }}</p>
                    </div>
                    <div class="modal-footer action-buttons">
                    <div class="button-field">
                        <a class="waves-effect waves-green btn modal-close">Ok</a>
                    </div>
                    </div>
                </div>
                <div id="successPasswordChange" class="modal">
                    <div class="modal-content">
                        <p>{{ 'profile.manage.s_password_modification_modal.content'|trans }}</p>
                    </div>
                    <div class="modal-footer action-buttons">
                    <div class="button-field">
                        <a class="waves-effect waves-green btn modal-close">Ok</a>
                    </div>
                    </div>
                </div>
                <div id="errorFileType" class="modal">
                    <div class="modal-title">
                    <h4>{{ 'profile.file.unsupported_type.modal_title'|trans }}</h4>
                    </div>
                    <div class="modal-content">
                    <p>{{ 'profile.file.unsupported_type.modal_content'|trans }}</p>
                    </div>
                    <div class="modal-footer action-buttons">
                    <div class="button-field">
                        <a class="waves-effect waves-green btn modal-close">Ok</a>
                    </div>
                    </div>
                </div>
                <div id="errorFileSize" class="modal">
                    <div class="modal-title">
                    <h4>{{ 'profile.file.unsupported_size.modal_title'|trans }}</h4>
                    </div>
                    <div class="modal-content">
                    <p>{{ 'profile.file.unsupported_size.modal_content'|trans }}</p>
                    </div>
                    <div class="modal-footer action-buttons">
                    <div class="button-field">
                        <a class="waves-effect waves-green btn modal-close">Ok</a>
                    </div>
                    </div>
                </div>
                <div id="emailConfirmation" class="modal">
                    <div class="modal-content">
                        <h5>{{ 'profile.manage.email_confirmation_modal.title'|trans }}</h5>
                        <p>{{ 'profile.manage.email_confirmation_modal.content'|trans|raw }}</p>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-action waves-effect btn">Ok</a>
                    </div>
                </div>
            </div>
        </main>

    <div style="display: none">
        {{ form_start(pictureForm) }}
        {{ form_label(pictureForm.pictureFile) }}
        {{ form_widget(pictureForm.pictureFile) }}
        {{ form_errors(pictureForm.pictureFile) }}
        {{ form_rest(pictureForm) }}
        {{ form_end(pictureForm) }}
    </div>
   

{% endblock %}

{% block javascripts %}
        <script>
            $(function(){
                $(document).on('click','.validate-btn',function(e){
                    e.preventDefault();
                    urlToPieces = $('.validate-btn').attr('href').split('/');
                    urlToPieces[urlToPieces.length - 4] = $("input[name*='firstname']").val();
                    urlToPieces[urlToPieces.length - 3] = $("input[name*='lastname']").val();
                    urlToPieces[urlToPieces.length - 2] = $("select[name*='male']").val();
                    urlToPieces[urlToPieces.length - 1] = $("input[name*='email']").val();
                    var murl = urlToPieces.join('/');
                    $('.mailMsg').empty();
                    $.post(murl,null)
                        .done(function(data){
                            $('.mailMsg').append(data.message);
                            $('#validateEmailSuccess').modal('open');
                            $('.validate-btn').text('validated').removeClass('validate-btn').removeClass('btn').addClass('btn-flat grey lighten-3').attr("href","");
                            $('.write-btn').removeClass('btn-flat grey lighten-3').addClass('btn modal-trigger').attr("href", "#writeMailModal");
                        })
                        .fail(function(data){
                            $('.mailMsg').append(data.message);
                            $('#validateEmailSuccess').modal('open');
                        })
                })
                $('input[type="checkbox"]').on('change',function(){
                    row = $(this).closest('.row').next();
                    lastChild = row.children().last();
                    if($(this).is(':checked')){
                        lastChild.find('input').attr("disabled",true);
                        lastChild.hide();
                        row.children().first().removeClass('m4').addClass('m8');

                    } else {
                        lastChild.find('input').attr("disabled",false);
                        lastChild.show();
                        row.children().first().removeClass('m8').addClass('m4');

                    }
                })
                $('input[type="checkbox"]').each(function(key,elmt){
                    if($(this).is(':checked')){
                        var row = $('.experience').eq(key).find('input[name*="enddate"]').closest('.row');
                        row.children().last().hide();
                        row.children().first().removeClass('m4').addClass('m8');
                    }
                });
                $('input[name*="email"]').on('change',function(){
                    actionBtns = $('.validation-btn').parent();
                    if($('.validation-btn').hasClass('grey')){
                        $('.validation-btn').remove();
                        {% if workerIndividual is defined %}
                            actionBtns.prepend($('<a class="waves-effect waves-light btn validate-btn" href="{{ url('validateWorkerEmailFromSelfPage',{'wiId' : workerIndividual.id, 'firstname' :'a', 'lastname' : 'b', 'male' : 1, 'wiEmail' : 'a'}) }}">Validate</a>'))
                        {% else %}
                            actionBtns.prepend($('<a class="waves-effect waves-light btn validate-btn" href="{{ url('validateWorkerEmailFromSelfPage',{'wiId' : 0, 'firstname' :'a', 'lastname' : 'b', 'male' : 1, 'wiEmail' : 'a'}) }}">Validate</a>'))
                        {% endif %}
                    }
                })

            })
        </script>
        <script src="{{ absolute_url(asset('js/worker_individual_update.js')) }}"></script>
{% endblock %}
