      
        {#{% if activity.pastStages|length > 0 %}#}
{% if activity is defined %}

  {% set approvable = activity.status == -3 and activity.decisions is not empty and activity.decisions|first.deciderUser == currentuser %}
  {% set visible = showable is defined ? showable : true %}

{% endif %}

<div class="row no-margin flex-center activity-holder {{activity is defined ? actStatus : 'dummy-activity'}} {{mobile_rendering ? 'mr'}}" data-id="{{activity is defined ? activity.id}}" {% if activity is defined and not visible %}style="display:none"{% endif %}>
  <div class="col s{{mobile_rendering ? 12 : 9}} center no-padding activity-content-stage {{ (mobile_rendering ? 'mr ' : '') ~ (activity is not defined ? 'dummy' : '') }}" style="background-color: #feffe9;">
    
    <div class="curDate"></div>

    <ul class="stages-holder {{mobile_rendering ? 'mr'}}" data-dummy="{% apply escape %}{% include "components/home_stage_temporal__item.html.twig" with { dateType: 's', isEmbedded: false, startdateU: 0, period: random(3,200), embeddedStages: null, visibleEl: true, participants: null, dummyActName: null} %}{% endapply %}" {% if mobile_rendering %}data-act-name="{{ activity.name|upper }}"{% endif %}>

        <ol class="stages activity-component" data-sd="{{ activity is defined ? activity.startdateU : 0 }}" data-p="{{ activity is defined ? activity.period : 0 }}">
        
        {% if activity is defined %}
        
            
            {% set checkingStageIndex = -1 %}

            {#}
            {% for stage in activity.stages %}
              {% for e, event in stage.events %}

                  <div class="event tooltipped" data-id="{{ event.id }}" data-od="{{ event.onsetdateU }}" data-p="{{ event.period }}" data-html="true" data-tooltip="{% apply escape %}{% include "components/event__item.html.twig" with { event: event, em: em } %}{% endapply %}">
                    <i class="fa fa-map-marker event-marker">
                      <div class="event-logo-container">
                        <i class="fa fa-{{event.eventType.icon.name}} evg-{{ event.eventType.eventGroup.eventGroupName.id }} event-type"></i>
                      </div>
                    </i>
                  </div>

              {% endfor %}
            {% endfor %}
            #}

            {% for s, stage in activity.sortedStagesPerPeriod %}


              {% set embeddedStages = null %}

              {% if s > checkingStageIndex %}
                {% set isEmbedded = false %}
                {% set embeddedStages = stage.embeddedStages(timescaleCookie,3) %}
                {% if embeddedStages is not empty %}
                  {% set checkingStageIndex = s + embeddedStages|length %}
                {% endif %}
                {% set visibleEl = dateTypeCookie == 's' %}
              {% else %}
                {% set isEmbedded = true %}
                {% set visibleEl = false %}
              {% endif %}

              {% include "components/stage_temporal__item.html.twig" with { dateType: 's', isEmbedded: isEmbedded, startdateU: stage.startdateU, period: stage.period, embeddedStages: embeddedStages, visibleEl: visibleEl, dummyParticipants: null } %}
              
              {% set checkingEventIndex = -1 %}

                  {% for e, event in stage.sortedEventsPerPeriod %}

                      {% set embeddedEvents = null %}
                    
                      {% do event.setEm(em) %}
                      {% do event.setCurrentUser(currentuser) %}
                
                      {% if e > checkingEventIndex %}
                        {% set isEmbedded = false %}
                        {% set embeddedEvents = event.embeddedEvents(timescaleCookie, 3) %}
                        {% if embeddedEvents is not empty %}  
                          {% set checkingEventIndex = e + embeddedEvents|length %}
                        {% endif %}
                        {% set visibleEl = true %}
                      {% else %}
                        {% set isEmbedded = true %}
                        {% set visibleEl = false %}
                      {% endif %}

                      {% include "components/event_temporal__item.html.twig" with { isEmbedded: isEmbedded, lastUpdateSelf: event.lastUpdateSelf, onsetdateU: event.onsetDateU, period: event.period, embeddedEvents: embeddedEvents, visibleEl: visibleEl } %}
                      

                  {% endfor %}    

            {% endfor %}

            
            {#
            {% set checkingIndex = -1 %}

            {% for s, stage in activity.sortedStagesPerPeriod('output') %}
              
              {% set embeddedStages = null %}
            
              {% if s > checkingIndex %}
                {% set isEmbedded = false %}
                {% set embeddedStages = stage.embeddedStages('output') %}
                {% if embeddedStages is not empty %}  
                  {% set checkingIndex = s + embeddedStages|length %}
                {% endif %}
                {% set visibleEl = dateTypeCookie == 'o' %}
              {% else %}
                {% set isEmbedded = true %}
                {% set visibleEl = false %}
              {% endif %}

              {% include "components/stage_temporal__item.html.twig" with { dateType: 'o', isEmbedded: isEmbedded, startdateU: stage.startdateU('output'), period: stage.period('output'), embeddedStages: embeddedStages, visibleEl: visibleEl } %}
            
            {% endfor %}
            #}
        {% else %}

          {# NOT TO REMOVE, MANIPULATED AFTERWARDS #}
          {% set startdateU = random(7,320) %}
          {% set period = random(3, 350 - startdateU) %}
          {% include "components/home_stage_temporal__item.html.twig" with { dateType: 's', isEmbedded: false, startdateU: startdateU, period: random(3,200), embeddedStages: null, visibleEl: true, participants: null, dummyActName: null} %}

        {% endif %}
        </ol>

    </ul>
  </div>

  {% if not mobile_rendering %}
    
    
    <div class="col s3 act-info">

      <div class="{{activity is defined ? sortingType ~ '-' ~ actStatus}}" style="display: inline-block;">
        <div class="stage-item-button"></div>
      </div>
    
    
      <div class="fixed-action-btn modified-fixed-btn" style="visibility: hidden;">
                
        <a class="btn-floating trigger-act-btn">
            <i class="mi create"></i>
        </a>
        
        {% if activity is defined %}
        
        
            <ul class="flex-center no-wrap">
              {% if currentuser and activity.organization == currentuser.organization %}
                <li>
                  <a class="btn-floating act-btn tooltipped modal-trigger" href="#deleteActivity" data-tooltip="{{ 'activities.delete_activity'|trans }}" data-position="top" data-aid="{{ activity.id }}"><i class="fa fa-trash"></i></a>
                </li>
              {% endif %}
              {% if activityM.userCanEdit(activity,currentuser) %}  
                <li>
                  <a class="btn-floating act-btn tooltipped modal-trigger" href="#updateStageProgressStatus" data-position="top" data-html="true" data-tooltip="{{ activity.progress != 2 ? 'activities.update_status'|trans : 'activities.reopen_activity'|trans }}" data-eid="{{ activity.id }}" data-sid="{{ activity.stages.first.id }}" data-progress="{{ activity.progress }}" data-r="{{ activity.stages.first.reopened }}"><i class="mi update"></i></a>
                </li>
                {#
                <li>
                  <a class="btn-floating act-btn tooltipped" href={{ url("manageActivityElement",{entity:"activity", elmtId: activity.id }) }} data-position="top" data-html="true" data-tooltip="{{ 'activities.modify'|trans}}"><i class="material-icons">settings</i></a>
                </li>
                #}
              {% endif %}

              {% if activity.progress < 2 %}
                <li>
                  <a class="btn-floating act-btn tooltipped modal-trigger add-direct-evt" href="#updateEvent" data-tooltip="{{ 'activities.instant_add'|trans }}" data-position="top" data-aid="{{ activity.id }}" data-sid="{{ activity.stages|length == 1 ? activity.stages.first.id }}"><i class="mi offline_bolt"></i></a>
                </li>
              {% endif %} 

              {#
              {% if activityM.userCanGiveOutput(activity,currentuser) %}
                <li>
                  {% if activity.userActiveGradableStages(currentuser).first.survey is not null %}
                    <a class="btn-floating act-btn tooltipped" data-tooltip="{{ 'activities.provide_my_feedbacks'|trans }}" data-position="top" href="{{ path('answerSurvey', { stgId: activity.userActiveGradableStages(currentuser).first.id }) }}"><i class="fa fa-pen-alt"></i></a>
                  {% else %}
                    <a class="btn-floating act-btn tooltipped" data-tooltip="{{ 'activities.provide_my_feedbacks'|trans }}" data-position="top" href="{{ path('newStageGrade', { stgId: activity.userActiveGradableStages(currentuser).first.id }) }}"><i class="fa fa-pen-alt"></i></a>
                  {% endif %}
                </li>
              {% endif %}
              #}

              {#
              {% if activityM.userCanViewResults(activity,currentuser) %}
                <li>
                  <a class="btn-floating act-btn tooltipped" data-tooltip="{{ 'result'|trans }}" data-position="top" href="{{ path('activityResults', { actId: activity.id }) }}"><i class="material-icons">show_chart</i></a>
                </li>
              {% endif %}
              #}
            </ul>
        {% else %}
          <ul class="flex-center no-wrap">
            <li>
              <a class="btn-floating act-btn tooltipped modal-trigger" href="#deleteActivity" data-tooltip="{{ 'activities.delete_activity'|trans }}" data-position="top" data-aid=""><i class="fa fa-trash"></i></a>
            </li>
            <li>
              <a class="btn-floating act-btn tooltipped modal-trigger" href="#updateStageProgressStatus" data-position="top" data-html="true" data-tooltip="{{ 'activities.update_status'|trans }}" data-eid="" data-sid="" data-progress="" data-r="0"><i class="mi update"></i></a>
            </li>
            <li>
              <a class="btn-floating act-btn tooltipped modal-trigger add-direct-evt" href="#updateEvent" data-tooltip="{{ 'activities.instant_add'|trans }}" data-position="top" data-aid="" data-sid=""><i class="mi offline_bolt"></i></a>
            </li>
          </ul>
        {% endif %}
      </div>

      {% set actName = activity is defined ? activity.name : '' %}
      {% set isTooLong = actName|length > actNameTruncVal %}
      {% if isTooLong %}
          <span class="act-info-name tooltipped" data-tooltip="{{actName}}">
            {% if activity is not defined or date(activity.inserted).diff(date('now')).days < 2 %}
              <span class="new-stage sm-right dd-orange-text">{{ 'new'|trans }}</span>
            {% endif %}
            {{actName|slice(0,actNameTruncVal) ~ '...' }}
          </span>
      {% else %}
          <span class="act-info-name">
              {% if activity is not defined or date(activity.inserted).diff(date('now')).days < 2 %}
                <span class="new-stage sm-right dd-orange-text">{{ 'new'|trans }}</span>
              {% endif %}
            {{ actName }}
          </span>
      {% endif %}

      {% if activity is defined %}
      
      
        {% set activityClients = activity.independantUniqueParticipatingClients %}
        {% set activityOrganizations = activity.involvedOrganizations  %}
        {% set isExternal = false %}

        {% if activityOrganizations|length != 0 %}


          <div class="activity-clients flex-center">
            {% if not currentuser or activity.organization != currentuser.organization %}
              <small> - {{ 'from'|trans }}</small>
              <a class="badge-container activity-client-name tooltipped" data-tooltip="{{activity.organization.commname}}">
                <img class="account-logo sm-left" src="{{ asset(global.organizationLogo(activity.organization)) }}" alt="">
              </a>
              {# Removing org which created activity from other org participants #}
              {% set activityOrganizations = activityOrganizations|filter((o,k) => o != activity.organization) %}
              {% set isExternal = true %}
            {% endif %}

            {% if not isExternal %}
              {% set activityOrganizations = activityOrganizations|filter((o,k) => o != currentuser.organization) %}
            {% endif %}

            {% if activityOrganizations|length %}
  
                <small class="sm-right">{{ ' - ' ~ 'with'|trans }}</small>

                {% set k = 0 %}
                {% for activityOrganization in activityOrganizations %}
                  {% if k < 2 %}
                      <a class="badge-container activity-client-name tooltipped" data-tooltip="{{activityOrganization.commname}}">
                        {% if activityOrganization.type != 'I' %}
                          <img class="account-logo" src="{{ asset(global.organizationLogo(activityOrganization)) }}" alt="">
                        {% else %}
                          <div class="account-logo independent-logo dd-orange-bg flex-center">
                              <span class="independent-letter white-text">I</span>
                          </div>
                        {% endif %}
                      </a>
                    {% set k = k + 1 %}
                  {% endif %}
                {% endfor %}

                {% if activityOrganizations|length - k > 0 %}
                    <small>
                    
                      <span>{{'and'|trans }}</span>
                      <span class="activity-client-name tooltipped" data-position="top" data-html="true" data-tooltip="
                        {% for i, activityOrganization in activityOrganizations %}
                            {% if i > k %}
                              {{ activityOrganization.commname }} <br>
                            {% endif %}
                        {% endfor %}
                        "
                      >
                        {{ (activityOrganizations|length - k) ~ ' other'|trans ~ (activityOrganizations|length - k > 1 ? 's' : '')}}
                      </span>
                    </small>
                    
                {% endif %}

            {% endif %}

          </div>
        {% endif %}
    
      {% else %}
        <div class="activity-clients flex-center" data-prototype="{% apply escape %}{% include "components/activity_client__item.html.twig" %}{% endapply %}">
          <small class="sm-right">{{ ' - ' ~ 'with'|trans }}</small>
        </div>
      {% endif %}
    </div>
  {% endif %}

</div>
