{% if event is defined %}

  <div class="event tooltipped {{ (embeddedEvents is not empty ? 'e-multiple-events' : (visibleEl ? 'e-selectable' : '') ~ ' ' ~ (lastUpdateSelf ? 'self-last-update' : ''))|trim }}" data-id="{{ event.id }}" data-od="{{ onsetdateU }}" data-p="{{ event.period }}" data-html="true" data-tooltip="{% apply escape %}{% include "components/event_holder__item.html.twig" with { event: event, em: em, embeddedEvents: embeddedEvents } %}{% endapply %}" {% if not visibleEl %}style="display:none"{% endif %}>
    <i class="fa fa-map-marker event-marker">
      <div class="event-logo-container">
        {% if embeddedEvents is not empty %}
          <span>{{ embeddedEvents|length + 1 }}</span>
        {% else %}
          <i class="fa fa-{{event.eventType.icon.name}} evg-{{ event.eventType.eventGroup.eventGroupName.id }} event-type unique-event"></i>
        {% endif %}
      </div>
    </i>
  </div>

{% else %}

  <div class="event tooltipped e-selectable self-last-update" data-id="" data-od="" data-p="" data-html="true" data-tooltip="{% apply escape %}{% include "components/event_holder__item.html.twig" %}{% endapply %}">
    <i class="fa fa-map-marker event-marker">
      <div class="event-logo-container">
          <i class="fa event-type unique-event"></i>
      </div>
    </i>
  </div>

{% endif %}

