{% set eventType = event.eventType %}
{% set eventGroup = eventType.eventGroup %}

{% do eventType.setLocale(global.request.locale|upper) %}
{% do eventType.setEm(em) %}
{% do eventType.setOrg(currentuser.organization) %}
{% do eventGroup.setLocale(global.request.locale|upper) %}
{% do eventGroup.setEm(em) %}
{% do eventGroup.setOrg(currentuser.organization) %}

<div style="width:350px;">
  <ul class="flex-center t-event-info">
    <li>
      {% set eventIcon = eventType.icon %}
      <span class="evg evg-{{eventGroup.eventGroupName.id}} evg-text-shadow">{{ eventGroup.dTrans }}</span>
      <span class="sm-left sm-right">:</span>
      <i class="{{ eventIcon.type == 'fa' ? 'fa fa-' ~ eventIcon.name : 'material-icons' }}">{{ eventIcon.type == 'm' ? eventIcon.name }}</i>
      <span class="evt">{{ eventType.dTrans }}</span>
    </li>
    <li class="t-stage-dates">
      <ul class="flex-center">
        <ul class="flex-center m-right">
          <i class="fa fa-calendar sm-right"></i>
          <span>{{ event.nicetime(event.onsetDate|date("m/d/Y")) }}</span>
          {% if event.expResDate %}
            <i class="fa fa-calendar-check"></i>
            <span>{{ event.expResDate|format_datetime('short', 'none', pattern='dd/MM') }}</span>
          {% endif %}
        </ul>
        {#
        <ul class="flex-center">
          <i class="material-icons">send</i>
          <span>{{ stage.gstartdate|format_datetime('short', 'none', pattern='dd/MM') }} - {{ stage.genddate|format_datetime('short', 'none', pattern='dd/MM') }}</span>
        </ul>
        #}
      </ul>
    </li>
  </ul>

  {% if event.documents|length %}
    <div class="event-documents"  style="text-align: left;">
        <i class="fa fa-file-alt"></i>
        <span>{{ event.documents|length ~ ' ' ~ 'activity_elements.events.tooltip.shared_documents'|trans }}</span>
    </div>
  {% endif %}
 
  <div class="event-comments" style="text-align: left">
    <div>
     
    </div>
    {% if event.comments|length %}
      <i class="fa fa-comment"></i>
      <span>{{ event.comments|length ~ ' ' ~ 'activity_elements.events.tooltip.comments'|trans}}</span>
    {% else %}
      <span>{{'activity_elements.events.tooltip.no_given_comments'|trans}}</span>
    {% endif %}
  </div>

</div>