
{% set startdate = date("first day of this month - 3 months")|date_modify("+" ~ startdateU ~ "days") %}
{% set enddate = date("first day of this month - 3 months")|date_modify("+" ~ (startdateU + period) ~ "days") %}

<li class="stages stage-element tooltipped" data-sd="{{ startdateU }}" data-p="{{ period }}" data-tooltip='{% include "components/stage_holder__item.html.twig" with { dummyParticipants: participants, dummyActName: dummyActName, dummySD: startdate, dummyED: enddate } %}' data-position="top" data-html="true">

  <section class="stage-container completed-stages-container"></section>


  
      {% set diffDays = startdate.diff(enddate) %}
  
      {% if diffDays.days > 4 %}
        <span class="s-day s-dates">{{startdate|format_datetime('short', 'none', pattern='dd')|number_format}}{#/{{startdate|format_datetime('short', 'none', pattern='MM')|number_format}}#}</span>
        <span class="e-day s-dates">{{enddate|format_datetime('short', 'none', pattern='dd')|number_format}}{#/{{enddate|format_datetime('short', 'none', pattern='MM')|number_format}}#}</span>
      {% else %}
      {% if diffDays.days == 0 %}
            <span class="e-day s-dates single-date">
              {{ enddate|format_datetime('short', 'none', pattern='dd')|number_format }}
            </span>
          {% else %}
            <span class="e-day s-dates single-date m-days">
              {{ startdate|format_datetime('short', 'none', pattern='dd')|number_format ~ ' - ' ~ enddate|format_datetime('short', 'none', pattern='dd')|number_format }}
            </span>
          {% endif %}
      {% endif %}

</li>
