<div class="stage-name" style="width:700px;{% if hasTopBorder %}border-top: 1px dotted white{% endif %}">
    <ul class="flex-center t-stage-info">
      <li>
        <ul style="display: inline-flex; color: #2196F3; margin-right:3px" class="no-margin no-padding">
          <li>
            <i class="fa fa-cube" style="position: relative;top: -6%;left: 0%;font-size: 0.85rem;"></i>
          </li>
          <li>
            <i class="fa fa-cube" style="position: relative;top: 6%;left: -41%;font-size: 0.85rem;"></i>
          </li>
        </ul>
        <span>{{stage.name}}</span>
      </li>
      <li class="t-stage-dates">
        <ul class="flex-center">
          <ul class="flex-center m-right">
            <i class="material-icons">access_time</i>
            <span>{{ stage.startdate|format_datetime('short', 'none', pattern='dd/MM') }} - {{ stage.enddate|format_datetime('short', 'none', pattern='dd/MM') }}</span>
          </ul>
          {#
          <ul class="flex-center">
            <i class="material-icons">send</i>
            <span>{{ stage.gstartdate|format_datetime('short', 'none', pattern='dd/MM') }} - {{ stage.genddate|format_datetime('short', 'none', pattern='dd/MM') }}</span>
          </ul>
          #}
        </ul>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col m6 s12" style="text-align: left;border-right:1px solid white">
      {{ 'activity_elements.expected_output'|trans }}
      {% if not stage.hasMinimumOutputConfig %}
        <ul class="has-barred" style="display: block;">
          <i class="material-icons white-text" style="font-size: 15px;">edit</i>
          <i class="fa fa-minus barred t-fb-barred"></i>
          <span>{{'activity_elements.no_defined_output'|trans}}</span>
        </ul>
      {% else %}
        {% if stage.survey == null %}
          <ul class="flex criteria-t-holder">
            {% for criterion in stage.criteria %}
              <li class="t-criterion">
                <span class="cn-icon"  style="width:15px"><i class="{{criterion.cName.icon.type}} fa-{{criterion.cName.icon.name}}"></i></span>
                <span>{{criterion.cName.name}} </span>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <div class="survey">
            <span class="cn-icon" style="width:15px"> Titre : {{stage.survey.name}}</span>
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="col m6 s12" style="text-align: left;">
      {{ 'activity_elements.participants'|trans }}
      <ul class="flex participants-t-holder">

        {% set participants = stage.participants %}

        {% if participants is empty %}
          <ul class="has-barred" style="display: block;">
            <i class="fa fa-users white-text"></i>
            <i class="fa fa-minus barred t-users-barred"></i>
            <span>{{'tooltip.activity.missing_participants'|trans}}</span>
          </ul>
        {% else %}

          {% for participant in participants %}
            <li class="t-participant flex-center user-info">
              {% set user = participant.user %}
              <img class="user-picture sm-right" src="{{asset(global.userpicture(user))}}" alt="" width="17px" height="17px">
              <span>{{ user.fullname }}</span>
            </li>
          {% endfor %}

        {% endif %}

      </ul>
    </div>
  </div>