  <li class="stage-element {{dateType ~ '-dates' ~ (embeddedStages is not empty ? ' s-multiple-events' : ' s-selectable') ~ (isEmbedded ? ' embedded' : '')}} {{ not isMobileView ? 'tooltipped'}}" data-name="{{stage|default ? stage.name}}" data-id="{{ stage|default ? stage.id }}" data-sd="{{ startdateU }}" data-p="{{ period }}" {% if not isMobileView %} data-tooltip="{% apply escape %}{% include "components/stage_holder__item.html.twig" with { stage: stage, embeddedStages: embeddedStages } %}{% endapply %}" data-position="top" data-html="true" {% endif %}{% if not visibleEl %}style="display:none"{% endif %}>

    <section class="stage-container completed-stages-container"></section>
    
      {% set startdate = stage|default ? stage.startdate : date('now') %}
      {% set enddate = stage|default ? (stage.enddate ? stage.enddate : date('now')) : date('now')|date_modify("+5 days") %}
  
      {% set diffDays = startdate.diff(enddate) %}
  
      {% if diffDays.days > 4 %}
          <span class="s-day s-dates"> {{ startdate|format_datetime('short', 'none', pattern='dd')|number_format }} </span>
          <span class="e-day s-dates"> {{ enddate|format_datetime('short', 'none', pattern='dd')|number_format }} </span>
      {% else %}
          {% if diffDays.days == 0 %}
            <span class="e-day s-dates single-date">
              {{ enddate|format_datetime('short', 'none', pattern='dd')|number_format }} / {{ enddate|format_datetime('short', 'none', pattern='M')|number_format}}
            </span>
          {% else %}
            <span class="e-day s-dates single-date m-days">
              {{ startdate|format_datetime('short', 'none', pattern='dd')|number_format ~ ' - ' ~ enddate|format_datetime('short', 'none', pattern='dd')|number_format}}/{{startdate|format_datetime('short', 'none', pattern='M')|number_format}}
            </span>
          {% endif %}
      {% endif %}
      
      {% if embeddedStages is not empty %}
        <span class="multiple-stages s-multiple-stages"> {{ embeddedStages|length + 1 }} </span>
      {% endif %}

</li>
