<table class="highlight striped centered subscription-table">
    <thead>
        <tr>
            <th>#</th>
            <th>{{'firm_settings.subscription.list_modal.table.occurence_date'|trans}}</th>
            <th>{{'firm_settings.subscription.list_modal.table.plan'|trans}}</th>
            <th>{{'firm_settings.subscription.list_modal.table.period'|trans}}</th>
            <th>{{'firm_settings.subscription.list_modal.table.quantity'|trans}}</th>
            <th>{{'firm_settings.subscription.list_modal.table.total_price'|trans}}</th>
            <th>{{'firm_settings.subscription.list_modal.table.status'|trans}}</th>
            <th>{{'firm_settings.subscription.list_modal.table.renewal'|trans}}</th>
            <th>{{'firm_settings.subscription.list_modal.table.invoice'|trans}}</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>