{% import "macros/user_list__macros.html.twig" as macros %}

{% set settings = settings|default(false) %}
{% set stats = stats|default(false) %}
{% set roles = roles|default(false) %}
{% set displayOrg = displayOrg is defined ? orgName : false %}
{% set externalUser = externalUser|default(null) %}

{% set user = externalUser.user ?? null %}
{#{% set picture_url = user ? (user.synthetic ? '/lib/img/org/no-picture.png' : asset(global.userPicture(user))) : '/lib/img/user/no-picture.png' %}#}

{#}
{% set hasCompletedActivities = user.nbCompletedActivities > 0 %}
#}


<li class="users-list--item hierarchized-item {{ not stats ? 'no-stats' }}">
  <header>
    <img src="{{ asset(global.userPicture(user)) }}" alt="" class="user-picture" data-synth-pic="{{ asset(global.userPicture(null,true)) }}">

    <div class="user-name {{ externalUser and externalUser.synthetic ? 'synth' }}" data-synth-msg="{{ 'legal_person'|trans|capitalize }}">
      {{ externalUser ? (externalUser.synthetic ? 'legal_person'|trans|capitalize : externalUser.fullname) : '' }}
    </div>

    {% if user %}
      {% if roles %}
        {{ macros.user_role_badge(user) }}
      {% else %}
        {% if not stats %}
          {#
          {% if not user.lastConnected %}
            {{ macros.render_badge('virtual-badge', 'V') }}
          {% endif %}
          #}
        {% endif %}
      {% endif %}
    {#
    {% else %}
      {{ macros.render_badge('virtual-badge', 'V', 'tooltip.user.external_user_virtual'|trans) }}
    #}
    {% endif %}
    {% if not user or user and not user.synthetic and not user.email %}
      {{ macros.render_badge('virtual-badge', 'V', 'tooltip.user.external_user_virtual'|trans) }}
    {% endif %}

    {#{% if settings %}#}
    
      <div class="user-actions">
        
        {% if roles %}

          {% if is_admin or user.initiator == currentuser %}
            {% set path = is_root ? 'rootUpdateUser' : 'updateUser' %}
            <a class="material-icons"
                href="{{ url(path, { usrId: user ? user.id : 0, orgId: user ? user.orgId : 0 }) }}"
                tooltip="{{ 'user_list.modify'|trans }}">settings</a>
          {% endif %}
        
          <a class="fa fa-bullseye"
              href="{{ url('updateElementTargets', { entity: 'user', elmtId: user ? user.id : 0 }) }}"
              tooltip="{{ 'user_list.targets'|trans }}">
          </a>
          
        {% endif %}

        {#
        <a class="material-icons {{ not hasCompletedActivities ? 'disabled' }}"
            href="{{ url('elementOverview', { entity: 'user', elmtId: user.id }) }}"
            tooltip="{{ 'user_list.overview'|trans }}">show_chart</a>
        #}

        <div class="nb-activities flex-center tooltipped" data-tooltip="{{'tooltip.user.activity_ongoing_futur'|trans}}" data-position="top">
          <i class="fa fa-briefcase"></i>
          <span class="sm-left black-text">
              {{ user ? 'nb_completed_act + nb_ongoing_fut_act'|replace({
                            nb_completed_act: userRepo.nbCompletedActivities(user,currentuser),
                            nb_ongoing_fut_act: userRepo.nbOngoingFutureActivities(user,currentuser)
                          }) 
                      : '0 + 0' 
              
              }}
          </span>
        </div>
        
      </div>
    
    {#{% endif %}#}

  </header>


  {#
  {% if stats %}
    <div class="item-body">
      <div class="badges">
        {% if not user.lastConnected %}
          {{ macros.render_badge(
            'virtual-badge', 'V', 'tooltip.user.role.virtual'|trans
          ) }}
        {% endif %}
        {% if orgEnabledUserCreatingUser and user.enabledCreatingUser %}
          {{ macros.render_badge(
            'user-creator-badge', user_icon, 'tooltip.user.enabledCreatingUser'|trans
          ) }}
        {% endif %}
      </div>

      <div class="user-info tiles-container">
        <div class="tile activity-count">
          {% set text %}
            {{ userM.nbCompletedActivities(user) }} + {{ userM.nbScheduledActivities(user) }}
          {% endset %}
          {{ macros.render_tile(
            'tooltip.user.activity_ongoing_futur'|trans, 'fa fa-briefcase', text
          ) }}
        </div>

        <div class="tile performance">
          {% set text %}
            {% if not perf %}
              -
            {% else %}
              {{ (100 * perf[0].value)|round }} %
            {% endif %}
          {% endset %}
          {{ macros.render_tile(
            'tooltip.user.performance'|trans, 'fa fa-chart-line', text
          ) }}
        </div>

        <div class="tile deviation">
          {% set text %}
            {% if not dev %}
              -
            {% else %}
              {{ (100 * dev[0].value)|round }} %
            {% endif %}
          {% endset %}
          {{ macros.render_tile(
            'tooltip.user.distance'|trans, 'fa fa-arrows-alt-h', text
          ) }}
        </div>

        <div class="tile weight">
          {{ macros.render_tile(
            'poids', 'material-icons', weight ? weight.value : '?', 'how_to_vote'
          ) }}
        </div>

        {% if orgEnabledUserSeeRanking or is_root %}
          <div class="tile ranking">
            {% set text %}
              {% if not perf %}
                -
              {% else %}
                {{ perf[0].absResult }}
              {% endif %}
            {% endset %}
            {{ macros.render_tile(
              'ranking', 'fa fa-star', text
            ) }}
          </div>
        {% endif %}

        {% if is_root and user.lastConnected %}
          <div class="tile last-connected">
            {{ macros.render_tile(
              'dernière connexion', 'material-icons',
              'j + ' ~ user.lastConnected.diff(date('now')).days, 'wifi'
            ) }}
          </div>
        {% endif %}

      </div>
    </div>
  {% endif %}
  #}
</li>
