{% import "macros/user_list__macros.html.twig" as macros %}

{% set isIndivIndep = isIndivIndep|default(false) %}
{% set externalUser = externalUser|default(null) %}

{% set user = externalUser ? externalUser.user : user|default(null) %}
{% set isSynth = user ? user.synthetic == true : isIndivIndep %}
{% set settings = settings|default(false) %}
{% set stats = stats|default(false) %}
{#{% set roles = roles|default(true) %}#}
{% set tleader = tleader is defined ? tleader : false %}
{% set displayOrg = displayOrg is defined ? orgName : false %}
{% set myself = user and user == currentuser %}
{% set perf = user ? userM.ranking(user,'A','P','W', true) : null %}
{% set dev = user ? userM.ranking(user,'A','D','W', true) : null %}
{% set weight = user ? user.weight : null %}
{% set picture_url = asset(global.userPicture(user, isSynth, isIndivIndep)) %}
{% set hasCompletedActivities = user and userM.NbCompletedActivities(user) > 0 %}


<li class="users-list--item hierarchized-item {{ not stats ? 'no-stats' }}" 
  {% if currentuser.role <= 2 %}
    {% if externalUser|default %}
      data-cid="{{externalUser.client.id}}" 
      data-eid="{{externalUser.id}}" 
      data-email="{{externalUser.email}}" 
      data-position="{{externalUser.positionName}}"
    {% elseif user|default %}
      data-id="{{user.id}}"
      data-email="{{user.email}}" 
      data-position="{{user.position.name|default('')}}" 
    {% endif %}
  {% endif %}
>
  <header class="{{ myself ? 'myself' }}">
    <img src="{{ picture_url }}" alt="" class="user-picture">

    <div>
      <span class="user-name">
      {{ user ? user.fullname }}
      {% if user and displayOrg and user.organization != currentuser.organization %}
        ({{ user.organization.commname }})
      {% endif %}
      </span>

      {% if myself %}
        <span>({{ 'user_list.myself'|trans }})</span>
      {% endif %}
    

    {% if not user or user.position is not null %} 
      
        <span>
          -
          <em>
            <span class="position-name">
              {{ user ? user.position.name }}
            </span>
          </em>
        </span>
      
    {% endif %}
    </div>

    {% if tleader %}
        <span class="tooltipped sm-left" data-position="top" data-tooltip="{{ 'team.owner'|trans }}">
          <i class="fa fa-star"></i>
        </span>
    {% endif %}

    
      {{ not externalUser and user and user.role <= 2 ? macros.user_role_badge(user) }}
   
      {#
      {% if not stats %}
        {% if not user.lastConnected %}
          {{ macros.render_badge('virtual-badge', 'V') }}
        {% endif %}
      {% endif %}
      #}
   

    {% if not isIndivIndep %}
      {% if user is null or not user.lastConnected %}
        {{ macros.render_badge(
          'virtual-badge', 'V', 'tooltip.user.role.virtual'|trans
        ) }}
      {% endif %}
    {% else %}
      {% if user is null or (user and not user.email) %}
        {{ macros.render_badge('virtual-badge', 'V', 'tooltip.user.external_user_virtual'|trans) }}
      {% endif %}
    {% endif %}

    {% if orgEnabledUserCreatingUser and user.enabledCreatingUser %}
      {{ macros.render_badge(
        'user-creator-badge', user_icon, 'tooltip.user.enabledCreatingUser'|trans
      ) }}
    {% endif %}

    
     

    {% if settings %}
    
      <div class="user-actions flex-center">
        
        
        {#
        {% if roles %}

          {% if is_admin or user.initiator == currentuser %}
            {% set path = is_root ? 'rootUpdateUser' : 'updateUser' %}
            <a class="material-icons"
                href="{{ url(path, { usrId: user.id, orgId: user.organization.id }) }}"
                tooltip="{{ 'user_list.modify'|trans }}">settings</a>
          {% endif %}
        
          <a class="fa fa-bullseye"
              href="{{ url('updateElementTargets', { entity: 'user', elmtId: user.id }) }}"
              tooltip="{{ 'user_list.targets'|trans }}">
          </a>
          
        {% endif %}
        #}

        {#
        <a class="material-icons {{ not hasCompletedActivities ? 'disabled' }}"
            href="{{ url('elementOverview', { entity: 'user', elmtId: user.id }) }}"
            tooltip="{{ 'user_list.overview'|trans }}">show_chart
        </a>
        #}
        
        

          {% if currentuser.role <= 2 %}
            <a class="update-user-btn btn-flat no-margin" style="visibility:hidden">
              <i class="dd-orange-text mi create"></i>
            </a>
          
            {#
            <a class="delete-user-btn btn-flat no-margin modal-trigger" href="#deleteUser" style="visibility:hidden">
                <i class="dd-orange-text fa fa-times"></i>
            </a> 
            #}
          {% endif %}


          <div class="nb-activities flex-center tooltipped" data-tooltip="{{'tooltip.user.activity_ongoing_futur'|trans}}" data-position="top">
            <i class="fa fa-briefcase"></i>
            <span class="sm-left black-text">
                {{ user ? 'nb_completed_act + nb_scheduled_act'|replace({
                            nb_completed_act: userM.nbCompletedActivities(user),
                            nb_scheduled_act: (userM.nbScheduledActivities(user))
                          }) 
                        : '0 + 0' 
                }}
            </span>
          </div>
        
        
      </div>
    
    {% endif %}

  </header>

  {#
  {% if stats %}
    <div class="item-body">
      <div class="badges">
        {% if not user.lastConnected %}
          {{ macros.render_badge(
            'virtual-badge', 'V', 'tooltip.user.role.virtual'|trans
          ) }}
        {% endif %}
        {% if orgEnabledUserCreatingUser and user.enabledCreatingUser %}
          {{ macros.render_badge(
            'user-creator-badge', user_icon, 'tooltip.user.enabledCreatingUser'|trans
          ) }}
        {% endif %}
      </div>

      <div class="user-info tiles-container">
        <div class="tile activity-count">
          {% set text %}
            {{ userM.nbCompletedActivities(user) }} + {{ userM.nbScheduledActivities(user) }}
          {% endset %}
          {{ macros.render_tile(
            'tooltip.user.activity_ongoing_futur'|trans, 'fa fa-briefcase', text
          ) }}
        </div>

        <div class="tile performance">
          {% set text %}
            {% if not perf %}
              -
            {% else %}
              {{ (100 * perf[0].value)|round }} %
            {% endif %}
          {% endset %}
          {{ macros.render_tile(
            'tooltip.user.performance'|trans, 'fa fa-chart-line', text
          ) }}
        </div>

        <div class="tile deviation">
          {% set text %}
            {% if not dev %}
              -
            {% else %}
              {{ (100 * dev[0].value)|round }} %
            {% endif %}
          {% endset %}
          {{ macros.render_tile(
            'tooltip.user.distance'|trans, 'fa fa-arrows-alt-h', text
          ) }}
        </div>

        <div class="tile weight">
          {{ macros.render_tile(
            'poids', 'material-icons', weight ? weight.value : '?', 'how_to_vote'
          ) }}
        </div>

        {% if orgEnabledUserSeeRanking or is_root %}
          <div class="tile ranking">
            {% set text %}
              {% if not perf %}
                -
              {% else %}
                {{ perf[0].absResult }}
              {% endif %}
            {% endset %}
            {{ macros.render_tile(
              'ranking', 'fa fa-star', text
            ) }}
          </div>
        {% endif %}

        {% if is_root and user.lastConnected %}
          <div class="tile last-connected">
            {{ macros.render_tile(
              'dernière connexion', 'material-icons',
              'j + ' ~ user.lastConnected.diff(date('now')).days, 'wifi'
            ) }}
          </div>
        {% endif %}

      </div>
    </div>
  {% endif %}
  #}
</li>
