
{% set selectedCountry = global.request.cookies.get('wf_c') %}
{% set selectedState = global.request.cookies.get('wf_s') %}
{% set selectedCity = global.request.cookies.get('wf_cit') %}

<li class="client-type-list--item client-firms hierarchized-item">
  <header>{{ 'firms'|trans ~ 
    (selectedCountry ? ' - ' : '') ~
    (selectedCountry ? workerFirms[0].country.name : '') ~ 
    (selectedState ? ', ' ~ workerFirms[0].state.name : '') ~ 
    (selectedCity ? ', ' ~ workerFirms[0].city.name : '') ~ 
    ' (' ~ workerFirms|length ~ ')' 
  }} </header>
  <div class="item-body">
    <ul class="firms-list">
      {% for workerFirm in workerFirms %}
          {% set logo_url = asset(global.workerFirmLogo(workerFirm)) %}
          <li class="firms-list--item hierarchized-item" data-id="{{ workerFirm.id }}">
            <header class="flex-center">
              <img src="{{ logo_url }}" alt="" class="client-logo">
              <span class="firm-name">{{ workerFirm.name }}</span>
              {% if not selectedCountry and workerFirm.country %}
                <span class="flag m-left {{ workerFirm.country.abbr|lower }}"></span>
              {% endif %}
              <div class="user-actions">
                <a class="material-icons" href="{{ url('updateWorkerFirm', { wfiId: workerFirm.id }) }}" tooltip="{{ 'user_list.modify'|trans }}">settings</a>
              </div>
            </header>
          </li>
      {% endfor %}
    </ul>
  </div>
</li>
